openapi: 3.0.0
info:
  title: AI Video Object Removal
  description: "# Overview\n\n**AI Video Object Removal**\n\n![](https://plugins-media.makeupar.com/smb/blog/post/2025-02-04/webp_537ec670-48c0-49fc-b96b-8073de21a64b.webp)\n\
    \nThe AI Video Object Removal API enables seamless removal of unwanted elements from video content.\
    \ Whether dealing with crowded backgrounds filled with tourists, cluttered environments such as desks\
    \ with tissues and bottles, or distracting reflections on glass surfaces, the API can precisely and\
    \ reliably eliminate masked areas with high accuracy and consistency.\n\n\n---\n\n## Integration Guide\n\
    \n**1. Prepare a Source Video and a Mask Image**\nThe input video must not exceed 60 seconds in length,\
    \ and the output video must have a long axis of 1920 pixels or less with a frame rate of 30 frames\
    \ per second or below.\n\n\n**2. Upload File**\nRequest upload URLs and file IDs via:\n\n```\nPOST\
    \ /s2s/v2.0/file\n```\n\nInput video:\n\n![](https://bcw-media.s3.ap-northeast-1.amazonaws.com/strapi/assets/webp_video_object_removal_input_edd43a2470.png)\n\
    \n\nReference input mask:\n\n![](https://bcw-media.s3.ap-northeast-1.amazonaws.com/strapi/assets/webp_video_object_removal_mask_4a1c9fb658.png)\n\
    \n\n**3. Execute AI Task**\n\n```\nPOST /s2s/v2.0/task/obj-rem-vid\n```\n\nSubmit the task using file\
    \ IDs or image URLs as input. The response returns a task_id for tracking and retrieving the result.\n\
    \n\n**4. Retrieve Task Result**\n\n```\nGET /s2s/v2.0/task/obj-rem-vid/{task_id}\n```\n\nUse the task\
    \ ID to track status and obtain results.\n\n[Webhooks](/develop/webhook.md) can be configured to receive\
    \ asynchronous notifications on task completion with a success or error status. Polling is also supported\
    \ by repeatedly calling the task endpoint until the status is updated from running to success or error.\n\
    \nUsage is only charged when the task completes successfully.\n\n\nOutput video sample:\n\n![](https://bcw-media.s3.ap-northeast-1.amazonaws.com/strapi/assets/webp_video_object_removal_output_eb7670cd9e.png)\n\
    \n\n---\n\n## File Specs & Errors\n\n* Supported Formats & Dimensions\n\n|AI Feature|Supported Dimensions|Supported\
    \ File Size|Supported Formats|\n|  ----  | ----  | ----  | ----  |\n| AI Video Object Removal | The\
    \ input video must not exceed 60 seconds in length, and the output video must have a long axis of\
    \ 1920 pixels or less with a frame rate of 30 frames per second or below. | Length limit: 60s | container:\
    \ mov, mp4 <br>video: MPEG-4, MPEG-4 AVC, <br>audio: aac, amr, mp3 |\n\n* Error Codes\n\n|Error Code|Description|\n\
    |  ----  | ----  |\n| error_download_video | Download source video error |\n| error_decode_video |\
    \ Decode source video error |\n| error_unsupported_video | Unsupported video format |\n| exceed_max_filesize\
    \ | Input file size exceeds the maximum limit|\n| error_nsfw_content_detected | NSFW content detected\
    \ in the source file |\n| error_decode_mask | Decode mask image error |\n| invalid_parameter | Invalid\
    \ parameter value|\n\n* Environment & Dependency\n\n| Sample Code Language / Tool | Recommended Runtime\
    \ Versions |\n|---|---|\n| cURL | - bash >= 3.2</br>   - curl >= 7.58 (modern TLS/HTTP support)</br>\
    \   - jq >= 1.6 (robust JSON parsing) |\n| Node.js (JavaScript) | Node >= 18 (for global fetch) |\n\
    | JavaScript | - Chrome / Edge >= 80</br>   - Firefox >= 74</br>   - Safari >= 13.1 |\n| PHP | PHP\
    \ >= 7.4 (for modern TLS/compat), ext-curl (recommended) or allow_url_fopen=On + ext-openssl, ext-json\
    \ |\n| Python | Python >= 3.10 (for f-strings), requests >= 2.20.0 |\n| Java | Java 11+ (for HttpClient),\
    \ Jackson Databind >= 2.12.0 |\n\n---\n\n## Unit Consumption\n\n| AI Feature | Unit Consumed |\n|---|---|\n\
    | AI Video Object Removal V2.1 | 2 (1 seconds) * |\n\n    > *If the number of images or video duration\
    \ isn’t evenly divisible, units round up.\n\n---\n"
  version: ''
  termsOfService: https://www.makeupar.com/perfectbeauty/youcam/terms-of-service-api
  contact:
    email: YouCamOnlineEditor_API@perfectcorp.com
  license:
    name: Privacy policy
    url: https://www.makeupar.com/perfectbeauty/youcam/privacy-policy-api
servers:
- url: https://yce-api-01.makeupar.com
tags:
- name: V2.1
  description: AI Video Object Removal
paths:
  /s2s/v2.0/file/obj-rem-vid:
    post:
      summary: Create a new file.
      description: To upload a new file, you'll first need to use the File API. It will give you a URL
        – use that URL to upload your file. Once the upload is finished, you can use the file_id from
        the same response to start using our AI features.
      tags:
      - V2.1
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VideoFileV1.1'
      responses:
        '200':
          description: Successful retrieval of file upload information
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/VideoFileResponseV2'
        '400':
          $ref: '#/components/responses/InvalidParameters'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
  /s2s/v2.0/task/obj-rem-vid:
    post:
      summary: Run an AI Video Object Removal task.
      description: 'AI tasks are asynchronous. Prefer webhook-based completion handling when the feature
        supports webhooks. Configure your webhook endpoint, verify webhook signatures, and use the received
        `task_id` to query the task result after a `success` or `error` notification. See the [webhook
        integration guide](/develop/webhook.md) for setup and verification details.


        If webhooks are not supported for the feature, or if your integration cannot use webhooks, implement
        polling. After starting an AI task, keep polling the task status endpoint at the given `polling_interval`
        until the task status is either `success` or `error`.


        Do not stop polling a running task for longer than the allowed polling window. If the task is
        not polled in time, the task may expire; a later status check can return `InvalidTaskId` even
        if processing finished, and the consumed units may still be charged.

        '
      tags:
      - V2.1
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BasicRunVidTaskV2WithRequiredMsk'
              - type: object
                required:
                - frame_idx
                properties:
                  frame_idx:
                    type: integer
                    description: Specifies the frame index in the input video that corresponds to the
                      provided mask image, ranging from 0 to the total frame count minus 1.
                    example: 0
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /s2s/v2.0/task/obj-rem-vid/{task_id}:
    get:
      summary: Check the status of a AI Video Object Removal task.
      tags:
      - V2.1
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VidTaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
components:
  securitySchemes:
    BearerAuthenticationV2:
      type: http
      scheme: bearer
      description: 'Use the standard ''Bearer authentication''. Put your ''API Key'' in header: `Authorization:Bearer
        YOUR_API_KEY`. Notice that there is '' '' a space between ''Bearer'' and the ''YOUR_API_KEY''.'
  schemas:
    VideoFileV1.1:
      title: VideoFile V1.1
      description: This object represents a video file.
      type: object
      required:
      - files
      properties:
        files:
          type: array
          items:
            type: object
            required:
            - content_type
            - file_name
            - file_size
            properties:
              content_type:
                type: string
                example: video/mp4
                description: Content MIME type for this file. Currently available values are listed in
                  the enum.
              file_name:
                type: string
                example: my-selfie.mp4
                description: Name of this file
              file_size:
                type: integer
                example: 50000
                description: Content length for this file in bytes. Should not be larger than 100MB.
    BasicVideoFileResponse:
      type: object
      properties:
        files:
          type: array
          items:
            type: object
            properties:
              content_type:
                type: string
                example: video/mp4
                description: Content MIME type for this file.
              file_name:
                type: string
                example: my-selfie.mp4
                description: Name of this file
              file_id:
                type: string
                example: U8aqJbsXGT537jtGnEDFHqxdDXqh8+oTF/cSkLimzuvVwMP+Jb1XbjPsf7ZgUgLY
                description: ID of this file. Other run task API will need this \`file_id\`.
              requests:
                type: array
                description: Using upload \`url\`, \`headers\`, \`method\` below to upload file. After
                  completion, the \`file_id\` is used to proceed with calling run task API.
                items:
                  type: object
                  properties:
                    headers:
                      type: object
                      example:
                        Content-Type: video/mp4
                        Content-Length: 50000
                      description: Headers to include when uploading the file
                    url:
                      type: string
                      example: https://example.com/presigned-upload-url
                      description: URL to upload this file
                    method:
                      type: string
                      example: PUT
                      description: HTTP method to upload this file
    VideoFileResponseV2:
      type: object
      properties:
        status:
          type: integer
          example: 200
          description: Response status
        data: null
      $ref: '#/components/schemas/BasicVideoFileResponse'
    BasicRunTaskV2VidSrcFileUrl:
      type: object
      required:
      - src_file_url
      properties:
        src_file_url:
          type: string
          description: Url of the file to run task. The url should be publicly accessible.
          example: https://example.com/cat_video.mp4
    BasicRunTaskV2MskFileUrl:
      type: object
      properties:
        msk_file_url:
          type: string
          example: https://example.com/mask.jpg
          description: URL of the mask file. This should be a grey scale mask image with the exact same
            width and height with the input image where white pixels indicate foreground and black pixels
            represent background. The URL should be publicly accessible.
    BasicRunTaskV2MskFileId:
      type: object
      properties:
        msk_file_id:
          type: string
          example: eA1CCL3kG4w2s0kpbo2pkah59VfxzIjxahJD2wWm7zw=
          description: ID of the mask file. This should be a grey scale mask image with the exact same
            width and height with the input image where white pixels indicate foreground and black pixels
            represent background. File ID from upload file API.
    BasicRunTaskV2SrcFileId:
      type: object
      required:
      - src_file_id
      properties:
        src_file_id:
          type: string
          description: ID of file to run task. File ID from upload file API.
          example: pfNK5PuRe0MrwLHcGA3DOmB1ahwfXTbYHjv+KoBIxbE=
    BasicRunVidTaskV2WithRequiredMsk:
      title: BasicRunVidTaskV2WithRequiredMsk
      anyOf:
      - allOf:
        - title: Run task with src video url & msk file url
          required:
          - msk_file_url
        - $ref: '#/components/schemas/BasicRunTaskV2VidSrcFileUrl'
        - $ref: '#/components/schemas/BasicRunTaskV2MskFileUrl'
      - allOf:
        - title: Run task with src video url & msk file ID
          required:
          - msk_file_id
        - $ref: '#/components/schemas/BasicRunTaskV2VidSrcFileUrl'
        - $ref: '#/components/schemas/BasicRunTaskV2MskFileId'
      - allOf:
        - title: Run task with src file ID & msk file url
          required:
          - msk_file_url
        - $ref: '#/components/schemas/BasicRunTaskV2SrcFileId'
        - $ref: '#/components/schemas/BasicRunTaskV2MskFileUrl'
      - allOf:
        - title: Run task with src file ID & msk file ID
          required:
          - msk_file_id
        - $ref: '#/components/schemas/BasicRunTaskV2SrcFileId'
        - $ref: '#/components/schemas/BasicRunTaskV2MskFileId'
    BasicRunTaskResponseV2:
      type: object
      properties:
        status:
          type: integer
          description: Response status
          example: 200
        data:
          type: object
          properties:
            task_id:
              type: string
              description: ID of this task. Task result is valid to query by this ID for 24 hours.
              example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
    RunError:
      type: object
      properties:
        status:
          type: integer
          description: Response status
          example: 400
        error:
          type: string
          description: Error message
          example: The operation could not be completed
        error_code:
          type: string
          enum:
          - InvalidParameters
          - CreditInsufficiency
          - InvalidStyleGroup
          - InvalidStyle
          - BadRequest
          description: "Error code:\n  * InvalidParameters - Invalid request parameters\n  * CreditInsufficiency\
            \ - Insufficient unit to run\n  * BadRequest - Unexpected request parameter\n  * InvalidStyleGroup\
            \ - Invalid style group id\n  * InvalidStyle - Invalid style id\n"
    EngineErrorCode:
      type: string
      nullable: true
      enum:
      - error_exceed_max_image_size
      - exceed_max_filesize
      - invalid_parameter
      - error_download_image
      - error_download_mask
      - error_decode_image
      - error_decode_mask
      - error_nsfw_content_detected
      - error_no_face
      - error_pose
      - error_face_parsing
      - error_inference
      - exceed_nsfw_retry_limits
      - error_upload
      - unknown_internal_error
      description: 'Errors:

        - \`error_exceed_max_image_size\`  - Input image size exceeds the maximum limit

        - \`exceed_max_filesize\` - Input file size exceeds the maximum limit

        - \`invalid_parameter\` - Invalid parameter value

        - \`error_download_image\` - Download source image error

        - \`error_download_mask\` - Download mask image error

        - \`error_decode_image\` - Decode source image error

        - \`error_decode_mask\` - Decode mask image error

        - \`error_nsfw_content_detected\` - NSFW content detected in source image

        - \`error_no_face\` - No face detected on source image

        - \`error_pose\` - Failed to detect pose on source image

        - \`error_face_parsing\` - Failed to do face segmentation on source image

        - \`error_inference\` - Inference pipeline error

        - \`exceed_nsfw_retry_limits\` - Exceed the retry limits to avoid generated NSFW image

        - \`error_upload\` - Upload result image error

        - \`unknown_internal_error\` - Others

        '
    VidTaskStatusResponseBodySingleUrlResultsV2:
      type: object
      properties:
        url:
          type: string
          description: URL to download this result. Valid for 2 hours
          example: https://example.com/sample-result-url
    VidTaskStatusResponseV2:
      type: object
      properties:
        status:
          type: integer
          description: Response status
          example: 200
        data:
          type: object
          properties:
            task_status:
              type: string
              enum:
              - running
              - success
              - error
              description: Status of this task
            error:
              $ref: '#/components/schemas/EngineErrorCode'
            error_message:
              type: string
              description: Detailed description of error
            results: null
      $ref: '#/components/schemas/VidTaskStatusResponseBodySingleUrlResultsV2'
  responses:
    InvalidParameters:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 400
                description: Response status
              error:
                type: string
                example: Invalid parameter value
              error_code:
                type: string
                example: InvalidParameters
    InvalidApiKey:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 401
                description: Response status
              error:
                type: string
                example: Invalid API key
    TooManyRequests:
      description: Too many requests
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 429
                description: Response status
              error:
                type: string
                example: Too many requests
    InvalidTaskId:
      description: Invalid task ID
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 400
                description: Response status
              error:
                type: string
                example: Invalid task ID
    TaskTimeout:
      description: Task execution timeout
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 500
                description: Response status
              error:
                type: string
                example: Task execution timed out
