openapi: 3.0.0
info:
  title: AI Video Generator
  description: "# Overview\nYouCam AI Video Generator transforms text prompts and images into captivating\
    \ videos with ease. Powered by advanced AI technology, it creates realistic motion effects that bring\
    \ your ideas and photos to life. With a wide selection of professionally optimized templates, you\
    \ can quickly turn still images into engaging, high quality video content.\n\nTo create an AI video\
    \ from an image, start with a photo that features a clean background and a clearly visible portrait.\
    \ Simply upload your image and let YouCam AI Video Generator do the rest, transforming your text prompts\
    \ and photo into a dynamic video in just moments.\n\nUse cases:\n\n![](https://bcw-media.s3.ap-northeast-1.amazonaws.com/strapi/assets/webp_Animate%20Photo_047_d9e1cff579.jpg)\n\
    \n![](https://bcw-media.s3.ap-northeast-1.amazonaws.com/AI_Dance_Video_61cf4c58d1.png)\n\n![](https://bcw-media.s3.ap-northeast-1.amazonaws.com/241216_AI_Kiss_image05_c3b7f1ac5b.jpg)\n\
    \n\n## File Specs & Errors\n\n* Supported Formats & Dimensions\n\n|AI Feature|Supported Dimensions|Supported\
    \ File Size|Supported Formats|\n|  ----  | ----  | ----  | ----  |\n| V1.0 Image to Video (Standard)\
    \ |Input: >= 300*300px with aspect ratio between 1:2.5 ~ 2.5:1. Output: Up to 720p 30fps|Input: <10MB.\
    \ Output: 5 seconds or 10 seconds|jpg/jpeg/png|\n| V1.0 Image to Video (Professional) |Input: >= 300*300px\
    \ with aspect ratio between 1:2.5 ~ 2.5:1. Output: Up to 1080p 30fps|Input: <10MB. Output: 5 seconds\
    \ or 10 seconds|jpg/jpeg/png|\n| V2.0 Image to Video | Input images must have a long side no greater\
    \ than 4096 pixels and an aspect ratio between 1:2.5 and 2.5:1. <br> Supported output resolutions\
    \ are 480p, 720p, and 1080p. If the input image’s short side exceeds the selected resolution, or if\
    \ its long side is smaller than the target, the image will be automatically resized so that the short\
    \ side matches the chosen resolution. |Input: <10MB. Output: 5 seconds or 10 seconds|jpg/jpeg/png|\n\
    \n* Error Codes\n\n| Error Category | Scenario / Description | Suggested Action |\n| --------------\
    \ | ---------------------- | ---------------- |\n| Invalid request parameters | Request parameters\
    \ are invalid or missing | Verify that all request parameters are correct |\n| | Invalid parameter\
    \ values (e.g., incorrect key or illegal value) | Check the error message field in the response and\
    \ update the request parameters |\n| | Invalid request method | Review the API documentation and use\
    \ the correct HTTP method |\n| | Requested resource does not exist (e.g., model not found) | Refer\
    \ to the response error message field and correct the request parameters|\n| Trigger strategy | Platform\
    \ policy has been triggered | Check whether any platform policies were violated |\n| | Content security\
    \ policy triggered  | Review and modify the input content, then resend the request |\n| | Request\
    \ rate too high (rate limit exceeded)| Reduce request frequency, retry later, or contact customer\
    \ service to increase limits |\n| | Concurrency or QPS exceeds quota   | Reduce request frequency,\
    \ or retry later |\n| Internal error  | Internal server error | Retry later or contact customer service\
    \ |\n| | Server temporarily unavailable | Retry later or contact customer service |\n| | Internal\
    \ timeout due to request backlog| Retry later or contact customer service |\n\n---\n\n## Unit Consumption\n\
    \n| AI Feature | Unit Consumed |\n|---|---|\n| AI Video Generator (Standard) V1.0 | 3 (1 seconds)\
    \ * |\n| AI Video Generator (Professional) V1.0 | 6 (1 seconds) * |\n| AI Video Generator (Image to\
    \ Video) V2.0 | 1 unit (480p / 1 second(s)) * <br> 2 units (720p / 1 second(s)) * <br> 3 units (1080p\
    \ / 1 second(s)) * |\n| AI Video Generator (Text to Video) V2.0 | 2 units (720p / 1 second(s)) * <br>\
    \ 3 units (1080p / 1 second(s)) * |\n\n    > *If the number of images or video duration isn’t evenly\
    \ divisible, units round up.\n\n---\n"
  version: ''
  termsOfService: https://www.makeupar.com/perfectbeauty/youcam/terms-of-service-api
  contact:
    email: YouCamOnlineEditor_API@perfectcorp.com
  license:
    name: Privacy policy
    url: https://www.makeupar.com/perfectbeauty/youcam/privacy-policy-api
servers:
- url: https://yce-api-01.makeupar.com
tags:
- name: V2.0
  description: Bring your photos to life with AI Image to Video Generation. Upload an image and provide
    a description, and the system instantly converts it into motion filled visuals powered by advanced
    AI technology. It is the easiest way to enjoy high quality image to video generation without learning
    any editing tools.
- name: V1.0
  description: With AI Image to Video Generation, you can upload a single photo and watch it come alive
    with motion and personality. Advanced artificial intelligence transforms your image into dynamic visuals,
    allowing you to create stunning videos without any video editing experience. Enjoy the best in AI
    powered image to video creation.
paths:
  /s2s/v2.0/task/template/image-to-video:
    get:
      summary: List predefined templates.
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          example: 20
        description: Number of results to return in this page. Valid value should be between 1 and 20.
          Default 20.
      - name: starting_token
        in: query
        schema:
          type: string
          example: 73a3c9e69b89
        description: Token for current page. Start with `null` for the first page, and use `next_token`
          from the previous response to start next page
      responses:
        '200':
          $ref: '#/components/responses/TemplateResponse'
        '400':
          $ref: '#/components/responses/InvalidParameters'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
  /s2s/v2.0/task/image-to-video:
    post:
      summary: Run an Image to Video task.
      description: 'This endpoint initiates the image to video conversion process. You must provide a
        template ID and source file (via URL or File ID). The task will be processed asynchronously, and
        you can check its status using the task_id returned in this response.

        '
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RunWithSingleTemplateAndSrcUrl'
              - type: object
                required:
                - dst_duration
                properties:
                  dst_duration:
                    type: integer
                    description: 'The length of video in seconds. Only accept 5 or 10 seconds

                      '
                    enum:
                    - 5
                    - 10
                  mode:
                    type: string
                    enum:
                    - std
                    - pro
                    description: The quailty mode. Standard (std) mode is faster speed, OK quailty. Professional
                      (pro) mode is best quailty with richer details. Automatically select best mode by
                      style if not provide.
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /s2s/v2.0/task/image-to-video/{task_id}:
    get:
      summary: Check the status of the Image to Video task.
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VidTaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
  /s2s/v2.0/task/image-to-video/youcam:
    post:
      summary: Run an AI Image to Video Generator V2 task.
      description: 'AI tasks are asynchronous. Prefer webhook-based completion handling when the feature
        supports webhooks. Configure your webhook endpoint, verify webhook signatures, and use the received
        `task_id` to query the task result after a `success` or `error` notification. See the [webhook
        integration guide](/develop/webhook.md) for setup and verification details.


        If webhooks are not supported for the feature, or if your integration cannot use webhooks, implement
        polling. After starting an AI task, keep polling the task status endpoint at the given `polling_interval`
        until the task status is either `success` or `error`.


        Do not stop polling a running task for longer than the allowed polling window. If the task is
        not polled in time, the task may expire; a later status check can return `InvalidTaskId` even
        if processing finished, and the consumed units may still be charged.

        '
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BasicRunTaskV2'
              - type: object
                required:
                - resolution
                - dst_duration
                properties:
                  resolution:
                    type: string
                    description: To select the output resolution used in inference.
                    enum:
                    - '480'
                    - '720'
                    - '1080'
                    example: '480'
                  dst_duration:
                    type: integer
                    description: To select the output duration used in inference.
                    enum:
                    - 5
                    - 10
                    example: 5
                  prompt:
                    minLength: 1
                    maxLength: 1500
                    type: string
                    description: Can be in any language. Will be automatically enhanced and output as
                      English using Gemini API. Short prompts are ideal.
                    example: その女性は微笑んで、カメラを見ています
                  negative_prompt:
                    minLength: 1
                    maxLength: 1500
                    type: string
                    description: The negative prompt.
                    example: worst quality, low quality, JPEG compression residue, ugly.
                  model:
                    type: string
                    description: Model name.
                    enum:
                    - youcam-video-v2
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /s2s/v2.0/task/image-to-video/youcam/{task_id}:
    get:
      summary: Check the status of a AI Image to Video Generator V2 task.
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VidTaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
  /s2s/v2.0/task/text-to-video/youcam:
    post:
      summary: Run an AI Text To Video task.
      description: 'AI tasks are asynchronous. Prefer webhook-based completion handling when the feature
        supports webhooks. Configure your webhook endpoint, verify webhook signatures, and use the received
        `task_id` to query the task result after a `success` or `error` notification. See the [webhook
        integration guide](/develop/webhook.md) for setup and verification details.


        If webhooks are not supported for the feature, or if your integration cannot use webhooks, implement
        polling. After starting an AI task, keep polling the task status endpoint at the given `polling_interval`
        until the task status is either `success` or `error`.


        Do not stop polling a running task for longer than the allowed polling window. If the task is
        not polled in time, the task may expire; a later status check can return `InvalidTaskId` even
        if processing finished, and the consumed units may still be charged.

        '
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - type: object
                required:
                - prompt
                - dst_duration
                properties:
                  model:
                    type: string
                    description: Model name.
                    default: youcam-video-v2
                    enum:
                    - youcam-video-v2
                  prompt:
                    minLength: 1
                    maxLength: 5000
                    type: string
                    description: 'Text prompt describing the video content and visual style.

                      Supports Chinese and English. Each character or letter counts as one.

                      '
                    example: A kitten running in the moonlight.
                  negative_prompt:
                    minLength: 1
                    maxLength: 500
                    type: string
                    description: 'Negative prompt describing content to exclude from the video, constraining
                      the output.

                      Supports Chinese and English.

                      '
                    example: low resolution, error, worst quality, low quality, disfigured, extra fingers,
                      bad proportions.
                  resolution:
                    type: string
                    description: Resolution tier of the generated video, controlling clarity (total pixels).
                    default: 1080P
                    enum:
                    - 720P
                    - 1080P
                    example: 1080P
                  ratio:
                    type: string
                    description: 'Aspect ratio of the generated video.


                      Output video resolutions (width*height) for each aspect ratio appear in the table
                      below.:


                      | Resolution tier | Aspect ratio | Output video resolution (width*height) |

                      |:---|:---|:---|

                      | **720P** | 16:9 | 1280*720 |

                      | **720P** | 9:16 | 720*1280 |

                      | **720P** | 1:1 | 960*960 |

                      | **720P** | 4:3 | 1104*832 |

                      | **720P** | 3:4 | 832*1104 |

                      | **1080P** | 16:9 | 1920*1080 |

                      | **1080P** | 9:16 | 1080*1920 |

                      | **1080P** | 1:1 | 1440*1440 |

                      | **1080P** | 4:3 | 1648*1248 |

                      | **1080P** | 3:4 | 1248*1648 |

                      '
                    default: '16:9'
                    enum:
                    - '16:9'
                    - '9:16'
                    - '1:1'
                    - '4:3'
                    - '3:4'
                    example: '16:9'
                  dst_duration:
                    type: integer
                    description: Duration of the generated video (seconds).
                    default: 5
                    minimum: 2
                    maximum: 15
                    example: 5
                  prompt_extend:
                    type: boolean
                    description: Enable prompt rewriting. When enabled, a Large Language Model rewrites
                      the input prompt intelligently. This improves results for short prompts but increases
                      latency.
                    example: true
                    default: true
                    enum:
                    - true
                    - false
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /s2s/v2.0/task/text-to-video/youcam/{task_id}:
    get:
      summary: Check the status of a AI Text To Video task.
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
components:
  securitySchemes:
    BearerAuthenticationV2:
      type: http
      scheme: bearer
      description: 'Use the standard ''Bearer authentication''. Put your ''API Key'' in header: `Authorization:Bearer
        YOUR_API_KEY`. Notice that there is '' '' a space between ''Bearer'' and the ''YOUR_API_KEY''.'
  schemas:
    Template:
      type: object
      properties:
        id:
          type: string
          description: The ID of the template. Use this as \`template_id\` when run task.
          example: good_template_001
        thumb:
          type: string
          description: The thumbnail of style.
        title:
          type: string
          description: The title of the template.
        category_name:
          type: string
          description: The category name of the template.
    RunWithSingleTemplate:
      title: RunWithSingleTemplate
      type: object
      properties:
        template_id:
          type: string
          description: ID of the template. List predefined templates first, and use the id of a template.
          example: good_template_001
      required:
      - template_id
    BasicRunTaskV2SrcFileUrl:
      type: object
      required:
      - src_file_url
      properties:
        src_file_url:
          type: string
          description: Url of the file to run task. The url should be publicly accessible.
          example: https://example.com/selfie.jpg
    BasicRunTaskV2SrcFileId:
      type: object
      required:
      - src_file_id
      properties:
        src_file_id:
          type: string
          description: ID of file to run task. File ID from upload file API.
          example: pfNK5PuRe0MrwLHcGA3DOmB1ahwfXTbYHjv+KoBIxbE=
    BasicRunTaskV2:
      title: BasicRunTaskV2
      anyOf:
      - title: Run task with src file url
        allOf:
        - $ref: '#/components/schemas/BasicRunTaskV2SrcFileUrl'
      - title: Run task with src file ID
        allOf:
        - $ref: '#/components/schemas/BasicRunTaskV2SrcFileId'
    RunWithSingleTemplateAndSrcUrl:
      title: RunWithSingleTemplateAndSrcUrl
      allOf:
      - $ref: '#/components/schemas/RunWithSingleTemplate'
      - $ref: '#/components/schemas/BasicRunTaskV2'
    BasicRunTaskResponseV2:
      type: object
      properties:
        status:
          type: integer
          description: Response status
          example: 200
        data:
          type: object
          properties:
            task_id:
              type: string
              description: ID of this task. Task result is valid to query by this ID for 24 hours.
              example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
    RunError:
      type: object
      properties:
        status:
          type: integer
          description: Response status
          example: 400
        error:
          type: string
          description: Error message
          example: The operation could not be completed
        error_code:
          type: string
          enum:
          - InvalidParameters
          - CreditInsufficiency
          - InvalidStyleGroup
          - InvalidStyle
          - BadRequest
          description: "Error code:\n  * InvalidParameters - Invalid request parameters\n  * CreditInsufficiency\
            \ - Insufficient unit to run\n  * BadRequest - Unexpected request parameter\n  * InvalidStyleGroup\
            \ - Invalid style group id\n  * InvalidStyle - Invalid style id\n"
    EngineErrorCode:
      type: string
      nullable: true
      enum:
      - error_exceed_max_image_size
      - exceed_max_filesize
      - invalid_parameter
      - error_download_image
      - error_download_mask
      - error_decode_image
      - error_decode_mask
      - error_nsfw_content_detected
      - error_no_face
      - error_pose
      - error_face_parsing
      - error_inference
      - exceed_nsfw_retry_limits
      - error_upload
      - unknown_internal_error
      description: 'Errors:

        - \`error_exceed_max_image_size\`  - Input image size exceeds the maximum limit

        - \`exceed_max_filesize\` - Input file size exceeds the maximum limit

        - \`invalid_parameter\` - Invalid parameter value

        - \`error_download_image\` - Download source image error

        - \`error_download_mask\` - Download mask image error

        - \`error_decode_image\` - Decode source image error

        - \`error_decode_mask\` - Decode mask image error

        - \`error_nsfw_content_detected\` - NSFW content detected in source image

        - \`error_no_face\` - No face detected on source image

        - \`error_pose\` - Failed to detect pose on source image

        - \`error_face_parsing\` - Failed to do face segmentation on source image

        - \`error_inference\` - Inference pipeline error

        - \`exceed_nsfw_retry_limits\` - Exceed the retry limits to avoid generated NSFW image

        - \`error_upload\` - Upload result image error

        - \`unknown_internal_error\` - Others

        '
    VidTaskStatusResponseBodySingleUrlResultsV2:
      type: object
      properties:
        url:
          type: string
          description: URL to download this result. Valid for 2 hours
          example: https://example.com/sample-result-url
    VidTaskStatusResponseV2:
      type: object
      properties:
        status:
          type: integer
          description: Response status
          example: 200
        data:
          type: object
          properties:
            task_status:
              type: string
              enum:
              - running
              - success
              - error
              description: Status of this task
            error:
              $ref: '#/components/schemas/EngineErrorCode'
            error_message:
              type: string
              description: Detailed description of error
            results: null
      $ref: '#/components/schemas/VidTaskStatusResponseBodySingleUrlResultsV2'
    TaskStatusResponseBodySingleUrlResultsV2:
      type: object
      properties:
        url:
          type: string
          description: URL to download this result. Valid for 2 hours
          example: https://example.com/sample-result-url
    TaskStatusResponseV2:
      type: object
      properties:
        status:
          type: integer
          description: Response status
          example: 200
        data:
          type: object
          properties:
            task_status:
              type: string
              enum:
              - running
              - success
              - error
              description: Status of this task
            error:
              $ref: '#/components/schemas/EngineErrorCode'
            error_message:
              type: string
              description: Detailed description of error
            results: null
      $ref: '#/components/schemas/TaskStatusResponseBodySingleUrlResultsV2'
  responses:
    TemplateResponse:
      description: Successful retrieval of styles
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: Response status
                example: 200
              data:
                type: object
                properties:
                  templates:
                    type: array
                    items:
                      $ref: '#/components/schemas/Template'
                  next_token:
                    type: string
                    example: 73a3c9e69b89
                    description: Token to query next page.
    InvalidParameters:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 400
                description: Response status
              error:
                type: string
                example: Invalid parameter value
              error_code:
                type: string
                example: InvalidParameters
    InvalidApiKey:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 401
                description: Response status
              error:
                type: string
                example: Invalid API key
    TooManyRequests:
      description: Too many requests
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 429
                description: Response status
              error:
                type: string
                example: Too many requests
    InvalidTaskId:
      description: Invalid task ID
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 400
                description: Response status
              error:
                type: string
                example: Invalid task ID
    TaskTimeout:
      description: Task execution timeout
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 500
                description: Response status
              error:
                type: string
                example: Task execution timed out
