openapi: 3.2.0
info:
  title: Perfect Corp V2.0 API
  version: ''
  contact:
    email: YouCamOnlineEditor_API@perfectcorp.com
  license:
    name: Privacy policy
    url: https://www.makeupar.com/perfectbeauty/youcam/privacy-policy-api
  termsOfService: https://www.makeupar.com/perfectbeauty/youcam/terms-of-service-api
  description: 'Operations tagged V2.0 across 13 of this provider''s published API definitions: perfect-corp-ai_bag-openapi.yml, perfect-corp-ai_clothes-openapi.yml, perfect-corp-ai_hairstyle-openapi.yml, perfect-corp-ai_hat-openapi.yml, perfect-corp-ai_image_extender-openapi.yml, perfect-corp-ai_image_generator-openapi.yml, perfect-corp-ai_photo_background_blur-openapi.yml, perfect-corp-ai_photo_background_change-openapi.yml, perfect-corp-ai_photo_lighting-openapi.yml, perfect-corp-ai_scarf-openapi.yml…'
servers:
- url: https://yce-api-01.makeupar.com
tags:
- name: V2.0
paths:
  /s2s/v2.0/task/bag:
    post:
      summary: Run an AI Bag task
      description: This endpoint initiates the bag virtual try-on process. You must provide a source file, reference files (URL or ID), and specify gender and style parameters. The task will be processed asynchronously, and you can check its status using the task_id returned in this response.
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenderRunTaskV2'
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskBag
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/bag/{task_id}:
    get:
      summary: Check the status of a AI Bag task
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskBagByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/template/cloth:
    get:
      summary: List predefined templates
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          example: 20
        description: Number of results to return in this page. Valid value should be between 1 and 20. Default 20.
      - name: starting_token
        in: query
        schema:
          type: string
          example: 73a3c9e69b89
        description: Token for current page. Start with `null` for the first page, and use `next_token` from the previous response to start next page
      responses:
        '200':
          $ref: '#/components/responses/TemplateResponse'
        '400':
          $ref: '#/components/responses/InvalidParameters'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
      operationId: getS2sV20TaskTemplateCloth
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/cloth:
    post:
      summary: Run an AI Cloths task
      description: This endpoint initiates the clothing virtual try-on process. You can use a template ID or provide reference images (source and reference files). The task will be processed asynchronously, and you can check its status using the task_id returned in this response.
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunClothsTaskV2'
      responses:
        '200':
          description: Successful execution of the AI Clothes task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskCloth
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/cloth/{task_id}:
    get:
      summary: Check the status of a AI Cloths task
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the AI Clothes task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskClothByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/hair-transfer:
    post:
      summary: Run an AI Hairstyle Generator task with reference
      description: 'AI tasks are asynchronous. Prefer webhook-based completion handling when the feature supports webhooks. Configure your webhook endpoint, verify webhook signatures, and use the received `task_id` to query the task result after a `success` or `error` notification. See the webhook integration guide for setup and verification details.


        If webhooks are not supported for the feature, or if your integration cannot use webhooks, implement polling. After starting an AI task, keep polling the task status endpoint at the given `polling_interval` until the task status is either `success` or `error`.


        Do not stop polling a running task for longer than the allowed polling window. If the task is not polled in time, the task may expire; a later status check can return `InvalidTaskId` even if processing finished, and the consumed units may still be charged.'
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BasicRunTaskV2WithRequiredRef'
      responses:
        '200':
          description: Successful execution of the AI Hairstyle Generator task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskHairTransfer
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/hair-transfer/{task_id}:
    get:
      summary: Check the status of a AI Hairstyle Generator task with reference
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the AI Hairstyle Generator task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskHairTransferByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/hat:
    post:
      summary: Run an AI Hat task
      description: This endpoint initiates the hat virtual try-on process. You must provide a source file, reference files (URL or ID), specify gender and style parameters. The task will be processed asynchronously, and you can check its status using the task_id returned in this response.
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GenderRunTaskV2'
              - type: object
                properties:
                  style:
                    type: string
                    enum:
                    - random
                    - style_sporty_casual
                    - style_urban_fashion
                    - style_vacation_casual
                    - style_warm_cozy
                    - style_bohemian
                    default: random
                    description: To control outfit and background style.
                    example: random
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskHat
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/hat/{task_id}:
    get:
      summary: Check the status of a AI Hat task
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskHatByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/out-paint:
    post:
      summary: Run an AI Image Extender task
      description: 'Please refer to the polling guide for checking task status. The API takes 3 key parameters: input image, pivot point, and output image.'
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunOutPaintTaskRequest'
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/responses/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey_2'
        '429':
          description: Too many requests within a given amount of time
          content:
            application/json:
              schema:
                type: object
      operationId: postS2sV20TaskOutPaint
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/out-paint/{task_id}:
    get:
      summary: Check an AI Image Extender task status
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2_2'
        '400':
          $ref: '#/components/responses/InvalidTaskId_2'
        '401':
          $ref: '#/components/responses/InvalidApiKey_2'
        '500':
          $ref: '#/components/responses/TaskTimeout_2'
      operationId: getS2sV20TaskOutPaintByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/text-to-image/youcam:
    post:
      summary: Run an AI Image Generator task V2 for text to image
      description: 'AI tasks are asynchronous. Prefer webhook-based completion handling when the feature supports webhooks. Configure your webhook endpoint, verify webhook signatures, and use the received `task_id` to query the task result after a `success` or `error` notification. See the webhook integration guide for setup and verification details.


        If webhooks are not supported for the feature, or if your integration cannot use webhooks, implement polling. After starting an AI task, keep polling the task status endpoint at the given `polling_interval` until the task status is either `success` or `error`.


        Do not stop polling a running task for longer than the allowed polling window. If the task is not polled in time, the task may expire; a later status check can return `InvalidTaskId` even if processing finished, and the consumed units may still be charged.'
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - type: object
                required:
                - model
                - prompt
                properties:
                  model:
                    type: string
                    description: Model name.
                    enum:
                    - youcam-image-v2
                  prompt:
                    type: string
                    minLength: 1
                    maxLength: 800
                    description: A positive prompt describing the image content, style, and composition you want. <br>Supports Chinese and English. Maximum length is 800 characters. Each Chinese character, letter, digit, or symbol counts as one character.
                    example: A sitting orange cat with a joyful expression, lively and adorable, highly realistic.
                  negative_prompt:
                    type: string
                    minLength: 1
                    maxLength: 500
                    description: A negative prompt describing what you do not want in the image. <br>Supports Chinese and English. Maximum length is 500 characters.
                    example: Low resolution, low quality, distorted limbs, malformed fingers, oversaturated colors, wax-like appearance, no facial details, overly smooth surfaces, AI-generated look. Chaotic composition. Blurry or distorted text.
                  size:
                    type: string
                    description: 'Output image resolution, formatted as width\*height. <br> Supported resolutions and their aspect ratios: <br>- 1664\*928 (default): 16:9 <br>- 1472\*1104: 4:3 <br>- 1328\*1328: 1:1 <br>- 1104\*1472: 3:4 <br>- 928\*1664: 9:16'
                    enum:
                    - 1664*928
                    - 1472*1104
                    - 1328*1328
                    - 1104*1472
                    - 928*1664
                    example: 1664*928
                    default: 1664*928
                  prompt_extend:
                    type: boolean
                    description: Enable smart prompt rewriting. The model optimizes the positive prompt. Does not affect the negative prompt.
                    example: true
                    default: true
                    enum:
                    - true
                    - false
                    x-enumDescriptions:
                      'true': Enables rewriting. Use this for more diverse image content; the model adds details.
                      'false': Disables rewriting. Use this for tighter control over image details.
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskTextToImageYoucam
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/text-to-image/youcam/{task_id}:
    get:
      summary: Check the status of a AI Image Generator task V2 for text to image
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskTextToImageYoucamByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/image-to-image/youcam:
    post:
      summary: Run an AI Image Generator task V2 for image to image
      description: 'AI tasks are asynchronous. Prefer webhook-based completion handling when the feature supports webhooks. Configure your webhook endpoint, verify webhook signatures, and use the received `task_id` to query the task result after a `success` or `error` notification. See the webhook integration guide for setup and verification details.


        If webhooks are not supported for the feature, or if your integration cannot use webhooks, implement polling. After starting an AI task, keep polling the task status endpoint at the given `polling_interval` until the task status is either `success` or `error`.


        Do not stop polling a running task for longer than the allowed polling window. If the task is not polled in time, the task may expire; a later status check can return `InvalidTaskId` even if processing finished, and the consumed units may still be charged.'
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - anyOf:
                - title: Run task with src_file_urls
                  type: object
                  required:
                  - src_file_urls
                  properties:
                    src_file_urls:
                      type: array
                      minItems: 1
                      maxItems: 3
                      description: The file URLs from upload file API. Should provide either 'src_file_urls' or 'src_file_ids'.
                      example:
                      - https://example.com/selfie.jpg
                      - https://example.com/selfie.jpg
                      - https://example.com/selfie.jpg
                      items:
                        type: string
                - title: Run task with 3 angle src file IDs
                  type: object
                  required:
                  - src_file_ids
                  properties:
                    src_file_ids:
                      type: array
                      minItems: 1
                      maxItems: 3
                      description: The file IDs from upload file API. Should provide either 'src_file_urls' or 'src_file_ids'.
                      example:
                      - pfNK5PuRe0MrwLHcGA3DOmB1ahwfXTbYHjv+KoBIxbE=
                      - pkVzplMv8Y1QPgHbqtKfyJmg+xJDUbTP16YijZ3qARNf
                      - B5LNohvvO+7d/78Ymuhp6vMiSooN/5DX9oVuupzkKctf
                      items:
                        type: string
              - type: object
                required:
                - model
                - prompt
                properties:
                  model:
                    type: string
                    description: Model name.
                    enum:
                    - youcam-image-v2
                  prompt:
                    type: string
                    minLength: 1
                    maxLength: 800
                    description: The image editing instruction (positive prompt) that describes the elements and visual features you want in the generated image. <br>This parameter supports Chinese and English with a maximum length of 800 characters. Each Chinese character or English letter counts as one character.
                    example: Make the girl from Image 1 wear the black dress from Image 2 and sit in the pose from Image 3. Keep her clothing, hairstyle, and expression unchanged, and ensure the action is natural and smooth.
                  negative_prompt:
                    type: string
                    minLength: 1
                    maxLength: 500
                    description: The negative prompt, describing content you do not want in the generated image. <br>This parameter supports Chinese and English with a maximum length of 500 characters. Each Chinese character or English letter counts as one character.
                    example: low resolution, error, worst quality, low quality, disfigured, extra fingers, bad proportions.
                  size:
                    type: string
                    description: 'Specifies the resolution of the output image in the width*height format, such as "1024\*1536". <br>- The width and height must each be in the range of [512, 2048] pixels. <br>- By default, the total number of pixels is approximately 1024\*1024, with an aspect ratio similar to the input image (or the last image in a multi-image request). <br>When you specify the size parameter, the system uses the width and height specified by size as the target and adjusts the width and height of the actual output image to the nearest multiple of 16. For example, if you specify 1033\*1032, the output image dimensions are 1040\*1024. <br>Recommended resolutions for common aspect ratios: <br>- 1:1: 1024\*1024, 1536\*1536 <br>- 2:3: 768\*1152, 1024\*1536 <br>- 3:2: 1152\*768, 1536\*1024 <br>- 3:4: 960\*1280, 1080\*1440 <br>- 4:3: 1280\*960, 1440\*1080 <br>- 9:16: 720\*1280, 1080\*1920 <br>- 16:9: 1280\*720, 1920\*1080 <br>- 21:9: 1344\*576, 2048\*872'
                    example: 1024*1024
                  prompt_extend:
                    type: boolean
                    description: Enable smart prompt rewriting. The model optimizes the positive prompt. Does not affect the negative prompt.
                    example: true
                    default: true
                    enum:
                    - true
                    - false
                    x-enumDescriptions:
                      'true': Enables rewriting. Use this for more diverse image content; the model adds details.
                      'false': Disables rewriting. Use this for tighter control over image details.
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskImageToImageYoucam
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/image-to-image/youcam/{task_id}:
    get:
      summary: Check the status of a AI Image Generator task V2 for image to image
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskImageToImageYoucamByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/bg-blur:
    post:
      summary: Run an AI Photo Background Blur task
      description: 'AI tasks are asynchronous. Prefer webhook-based completion handling when the feature supports webhooks. Configure your webhook endpoint, verify webhook signatures, and use the received `task_id` to query the task result after a `success` or `error` notification. See the webhook integration guide for setup and verification details.


        If webhooks are not supported for the feature, or if your integration cannot use webhooks, implement polling. After starting an AI task, keep polling the task status endpoint at the given `polling_interval` until the task status is either `success` or `error`.


        Do not stop polling a running task for longer than the allowed polling window. If the task is not polled in time, the task may expire; a later status check can return `InvalidTaskId` even if processing finished, and the consumed units may still be charged.'
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BasicRunTaskV2_2'
              - type: object
                properties:
                  intensity:
                    type: integer
                    description: 'The intensity of the background blur. 0 means no blur, and 100 means the maximum blur.

                      '
                    minimum: 0
                    maximum: 100
                    default: 50
                    example: 50
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskBgBlur
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/bg-blur/{task_id}:
    get:
      summary: Check an AI Photo Background Blur task status
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskBgBlurByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/template/bg-replace:
    get:
      summary: List predefined AI photo Background Change V2 templates
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          example: 20
        description: Number of results to return in this page. Valid value should be between 1 and 20. Default 20.
      - name: starting_token
        in: query
        schema:
          type: string
          example: 73a3c9e69b89
        description: Token for current page. Start with `null` for the first page, and use `next_token` from the previous response to start next page
      responses:
        '200':
          $ref: '#/components/responses/TemplateResponse'
        '400':
          $ref: '#/components/responses/InvalidParameters'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
      operationId: getS2sV20TaskTemplateBgReplace
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/bg-replace:
    post:
      summary: Run an AI photo Background Change V2 task
      description: 'AI tasks are asynchronous. Prefer webhook-based completion handling when the feature supports webhooks. Configure your webhook endpoint, verify webhook signatures, and use the received `task_id` to query the task result after a `success` or `error` notification. See the webhook integration guide for setup and verification details.


        If webhooks are not supported for the feature, or if your integration cannot use webhooks, implement polling. After starting an AI task, keep polling the task status endpoint at the given `polling_interval` until the task status is either `success` or `error`.


        Do not stop polling a running task for longer than the allowed polling window. If the task is not polled in time, the task may expire; a later status check can return `InvalidTaskId` even if processing finished, and the consumed units may still be charged.'
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BasicRunTaskV2_3'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - prompt
                    - template
                    default: prompt
                    description: How the background is generated. With `prompt` (the default), the background is generated from `prompt`. With `template`, the background is generated from the predefined template specified by `template_id`, and `prompt` is ignored.<br> **Note:** If the `type` is set to `prompt` but no prompt is provided and a `template_id` is supplied, the `template_id` will be ignored and the system will apply the default configuration. Likewise, if the `type` is set to `template` but no `template_id` is provided, the default template will be used regardless of whether a prompt is supplied.
                  prompt:
                    type: string
                    description: Prompt to generate image background.
                    example: A sunny beach with palm trees.
                  template_id:
                    type: string
                    description: ID of the template. List predefined templates first, and use the id of a template.
                    example: nature_cherryblossom
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskBgReplace
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/bg-replace/{task_id}:
    get:
      summary: Check an AI photo Background Change V2 task status
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskBgReplaceByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/lighting:
    post:
      summary: Run an AI Photo Lighting task
      description: Please refer to the polling guide for checking task status.
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasicRunTaskV2_4'
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/responses/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey_3'
        '429':
          description: Too many requests within a given amount of time
          content:
            application/json:
              schema:
                type: object
      operationId: postS2sV20TaskLighting
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/lighting/{task_id}:
    get:
      summary: Check an AI Photo Lighting task status
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2_3'
        '400':
          $ref: '#/components/responses/InvalidTaskId_3'
        '401':
          $ref: '#/components/responses/InvalidApiKey_3'
        '500':
          $ref: '#/components/responses/TaskTimeout_3'
      operationId: getS2sV20TaskLightingByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/scarf:
    post:
      summary: Run an AI Scarf task
      description: This endpoint initiates the scarf virtual try-on process. You must provide a source file, reference files (URL or ID), specify gender and style parameters. The task will be processed asynchronously, and you can check its status using the task_id returned in this response.
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GenderRunTaskV2'
              - type: object
                properties:
                  style:
                    type: string
                    enum:
                    - random
                    - style_french_elegance
                    - style_light_luxury
                    - style_cottagecore
                    - style_modern_chic
                    - style_bohemian
                    default: random
                    description: To control outfit and background style.
                    example: random
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskScarf
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/scarf/{task_id}:
    get:
      summary: Check the status of a AI Scarf task
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskScarfByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/shoes:
    post:
      summary: Run an AI Shoes task
      description: This endpoint initiates the shoes virtual try-on process. You must provide a source file, reference files (URL or ID), specify gender and style parameters. The task will be processed asynchronously, and you can check its status using the task_id returned in this response.
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GenderRunTaskV2'
              - type: object
                properties:
                  style:
                    type: string
                    enum:
                    - random
                    - style_minimalist
                    - style_bohemian
                    - style_cottagecore
                    - style_french_elegance
                    - style_retro_fashion
                    default: random
                    description: To control outfit and background style.
                    example: random
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskShoes
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/shoes/{task_id}:
    get:
      summary: Check the status of a AI Shoes task
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskShoesByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/skin-analysis:
    post:
      summary: Run a Skin Analysis task
      description: 'AI tasks are asynchronous. Prefer webhook-based completion handling when the feature supports webhooks. Configure your webhook endpoint, verify webhook signatures, and use the received `task_id` to query the task result after a `success` or `error` notification. See the webhook integration guide for setup and verification details.


        If webhooks are not supported for the feature, or if your integration cannot use webhooks, implement polling. After starting an AI task, keep polling the task status endpoint at the given `polling_interval` until the task status is either `success` or `error`.


        Do not stop polling a running task for longer than the allowed polling window. If the task is not polled in time, the task may expire; a later status check can return `InvalidTaskId` even if processing finished, and the consumed units may still be charged.'
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunSkincareTaskV2'
      responses:
        '200':
          description: Successful execution of Skin Analysis task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          $ref: '#/components/responses/RunError_2'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskSkinAnalysis
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/skin-analysis/{task_id}:
    get:
      summary: Check a Skin Analysis task status
      description: 'AI tasks are asynchronous. Prefer webhook-based completion handling when the feature supports webhooks. Configure your webhook endpoint, verify webhook signatures, and use the received `task_id` to query the task result after a `success` or `error` notification. See the webhook integration guide for setup and verification details.


        If webhooks are not supported for the feature, or if your integration cannot use webhooks, implement polling. After starting an AI task, keep polling the task status endpoint at the given `polling_interval` until the task status is either `success` or `error`.


        Do not stop polling a running task for longer than the allowed polling window. If the task is not polled in time, the task may expire; a later status check can return `InvalidTaskId` even if processing finished, and the consumed units may still be charged.'
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          $ref: '#/components/responses/SkinAnalysisResponse'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskSkinAnalysisByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/image-to-video/youcam:
    post:
      summary: Run an AI Image to Video Generator V2 task
      description: 'AI tasks are asynchronous. Prefer webhook-based completion handling when the feature supports webhooks. Configure your webhook endpoint, verify webhook signatures, and use the received `task_id` to query the task result after a `success` or `error` notification. See the webhook integration guide for setup and verification details.


        If webhooks are not supported for the feature, or if your integration cannot use webhooks, implement polling. After starting an AI task, keep polling the task status endpoint at the given `polling_interval` until the task status is either `success` or `error`.


        Do not stop polling a running task for longer than the allowed polling window. If the task is not polled in time, the task may expire; a later status check can return `InvalidTaskId` even if processing finished, and the consumed units may still be charged.'
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BasicRunTaskV2_6'
              - type: object
                required:
                - resolution
                - dst_duration
                properties:
                  resolution:
                    type: string
                    description: To select the output resolution used in inference.
                    enum:
                    - '480'
                    - '720'
                    - '1080'
                    example: '480'
                  dst_duration:
                    type: integer
                    description: To select the output duration used in inference.
                    enum:
                    - 5
                    - 10
                    example: 5
                  prompt:
                    minLength: 1
                    maxLength: 1500
                    type: string
                    description: Can be in any language. Will be automatically enhanced and output as English using Gemini API. Short prompts are ideal.
                    example: その女性は微笑んで、カメラを見ています
                  negative_prompt:
                    minLength: 1
                    maxLength: 1500
                    type: string
                    description: The negative prompt.
                    example: worst quality, low quality, JPEG compression residue, ugly.
                  model:
                    type: string
                    description: Model name.
                    enum:
                    - youcam-video-v2
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskImageToVideoYoucam
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/image-to-video/youcam/{task_id}:
    get:
      summary: Check the status of a AI Image to Video Generator V2 task
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VidTaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskImageToVideoYoucamByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/text-to-video/youcam:
    post:
      summary: Run an AI Text To Video task
      description: 'AI tasks are asynchronous. Prefer webhook-based completion handling when the feature supports webhooks. Configure your webhook endpoint, verify webhook signatures, and use the received `task_id` to query the task result after a `success` or `error` notification. See the webhook integration guide for setup and verification details.


        If webhooks are not supported for the feature, or if your integration cannot use webhooks, implement polling. After starting an AI task, keep polling the task status endpoint at the given `polling_interval` until the task status is either `success` or `error`.


        Do not stop polling a running task for longer than the allowed polling window. If the task is not polled in time, the task may expire; a later status check can return `InvalidTaskId` even if processing finished, and the consumed units may still be charged.'
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - type: object
                required:
                - prompt
                - dst_duration
                properties:
                  model:
                    type: string
                    description: Model name.
                    default: youcam-video-v2
                    enum:
                    - youcam-video-v2
                  prompt:
                    minLength: 1
                    maxLength: 5000
                    type: string
                    description: 'Text prompt describing the video content and visual style.

                      Supports Chinese and English. Each character or letter counts as one.

                      '
                    example: A kitten running in the moonlight.
                  negative_prompt:
                    minLength: 1
                    maxLength: 500
                    type: string
                    description: 'Negative prompt describing content to exclude from the video, constraining the output.

                      Supports Chinese and English.

                      '
                    example: low resolution, error, worst quality, low quality, disfigured, extra fingers, bad proportions.
                  resolution:
                    type: string
                    description: Resolution tier of the generated video, controlling clarity (total pixels).
                    default: 1080P
                    enum:
                    - 720P
                    - 1080P
                    example: 1080P
                  ratio:
                    type: string
                    description: 'Aspect ratio of the generated video.


                      Output video resolutions (width*height) for each aspect ratio appear in the table below.:


                      | Resolution tier | Aspect ratio | Output video resolution (width*height) |

                      |:---|:---|:---|

                      | **720P** | 16:9 | 1280*720 |

                      | **720P** | 9:16 | 720*1280 |

                      | **720P** | 1:1 | 960*960 |

                      | **720P** | 4:3 | 1104*832 |

                      | **720P** | 3:4 | 832*1104 |

                      | **1080P** | 16:9 | 1920*1080 |

                      | **1080P** | 9:16 | 1080*1920 |

                      | **1080P** | 1:1 | 1440*1440 |

                      | **1080P** | 4:3 | 1648*1248 |

                      | **1080P** | 3:4 | 1248*1648 |

                      '
                    default: '16:9'
                    enum:
                    - '16:9'
                    - '9:16'
                    - '1:1'
                    - '4:3'
                    - '3:4'
                    example: '16:9'
                  dst_duration:
                    type: integer
                    description: Duration of the generated video (seconds).
                    default: 5
                    minimum: 2
                    maximum: 15
                    example: 5
                  prompt_extend:
                    type: boolean
                    description: Enable prompt rewriting. When enabled, a Large Language Model rewrites the input prompt intelligently. This improves results for short prompts but increases latency.
                    example: true
                    default: true
                    enum:
                    - true
                    - false
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskTextToVideoYoucam
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/text-to-video/youcam/{task_id}:
    get:
      summary: Check the status of a AI Text To Video task
      tags:
      - V2.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskTextToVideoYoucamByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
components:
  schemas:
    BasicRunTaskV2RefFileId:
      type: object
      properties:
        ref_file_id:
          type: string
          description: ID of the reference file to run task. File ID from upload file API.
          example: pfNK5PuRe0MrwLHcGA3DOmB1ahwfXTbYHjv+KoBIxbE=
    GenderRunTaskV2:
      allOf:
      - $ref: '#/components/schemas/BasicRunTaskV2WithRequiredRef'
      - type: object
        required:
        - gender
        properties:
          gender:
            type: string
            enum:
            - female
            - male
            description: Gender of the person in the image.
            example: female
    BasicRunTaskV2WithRequiredRef:
      title: BasicRunTaskV2WithRef
      anyOf:
      - allOf:
        - title: Run task with src file url & ref file url
          required:
          - ref_file_url
        - $ref: '#/components/schemas/BasicRunTaskV2SrcFileUrl'
        - $ref: '#/components/schemas/BasicRunTaskV2RefFileUrl'
      - allOf:
        - title: Run task with src file url & ref file ID
          required:
          - ref_file_id
        - $ref: '#/components/schemas/BasicRunTaskV2SrcFileUrl'
        - $ref: '#/components/schemas/BasicRunTaskV2RefFileId'
      - allOf:
        - title: Run task with src file ID & ref file url
          required:
          - ref_file_url
        - $ref: '#/components/schemas/BasicRunTaskV2SrcFileId'
        - $ref: '#/components/schemas/BasicRunTaskV2RefFileUrl'
      - allOf:
        - title: Run task with src file ID & ref file ID
          required:
          - ref_file_id
        - $ref: '#/components/schemas/BasicRunTaskV2SrcFileId'
        - $ref: '#/components/schemas/BasicRunTaskV2RefFileId'
    BasicRunTaskV2SrcFileId:
      type: object
      required:
      - src_file_id
      properties:
        src_file_id:
          type: string
          description: ID of file to run task. File ID from upload file API.
          example: pfNK5PuRe0MrwLHcGA3DOmB1ahwfXTbYHjv+KoBIxbE=
    TaskStatusResponseBodySingleUrlResultsV2:
      type: object
      properties:
        url:
          type: string
          description: URL to download this result. Valid for 2 hours
          example: https://example.com/sample-result-url
    BasicRunTaskV2SrcFileUrl:
      type: object
      required:
      - src_file_url
      properties:
        src_file_url:
          type: string
          description: Url of the file to run task. The url should be publicly accessible.
          example: https://example.com/selfie.jpg
    BasicRunTaskResponseV2:
      type: object
      properties:
        status:
          type: integer
          description: Response status
          example: 200
        data:
          type: object
          properties:
            task_id:
              type: string
              description: ID of this task. Task result is valid to query by this ID for 24 hours.
              example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
    RunError:
      type: object
      properties:
        status:
          type: integer
          description: Response status
          example: 400
        error:
          type: string
          description: Error message
          example: The operation could not be completed
        error_code:
          type: string
          enum:
          - InvalidParameters
          - CreditInsufficiency
          - InvalidStyleGroup
          - InvalidStyle
          - BadRequest
          description: "Error code:\n  * InvalidParameters - Invalid request parameters\n  * CreditInsufficiency - Insufficient unit to run\n  * BadRequest - Unexpected request parameter\n  * InvalidStyleGroup - Invalid style group id\n  * InvalidStyle - Invalid style id\n"
    TaskStatusResponseV2:
      type: object
      properties:
        status:
          type: integer
          description: Response status
          example: 200
        data:
          type: object
          properties:
            task_status:
              type: string
              enum:
              - running
              - success
              - error
              description: Status of this task
            error:
              $ref: '#/components/schemas/EngineErrorCode'
            error_message:
              type: string
              description: Detailed description of error
            results: null
      $ref: '#/components/schemas/TaskStatusResponseBodySingleUrlResultsV2'
    BasicRunTaskV2RefFileUrl:
      type: object
      properties:
        ref_file_url:
          type: string
          description: Url of the reference file to run task. The url should be publicly accessible.
          example: https://example.com/accessory.jpg
    EngineErrorCode:
      type:
      - string
      - 'null'
      enum:
      - error_exceed_max_image_size
      - exceed_max_filesize
      - invalid_parameter
      - error_download_image
      - error_download_mask
      - error_decode_image
      - error_decode_mask
      - error_nsfw_content_detected
      - error_no_face
      - error_pose
      - error_face_parsing
      - error_inference
      - exceed_nsfw_retry_limits
      - error_upload
      - unknown_internal_error
      description: 'Errors:

        - \`error_exceed_max_image_size\`  - Input image size exceeds the maximum limit

        - \`exceed_max_filesize\` - Input file size exceeds the maximum limit

        - \`invalid_parameter\` - Invalid parameter value

        - \`error_download_image\` - Download source image error

        - \`error_download_mask\` - Download mask image error

        - \`error_decode_image\` - Decode source image error

        - \`error_decode_mask\` - Decode mask image error

        - \`error_nsfw_content_detected\` - NSFW content detected in source image

        - \`error_no_face\` - No face detected on source image

        - \`error_pose\` - Failed to detect pose on source image

        - \`error_face_parsing\` - Failed to do face segmentation on source image

        - \`error_inference\` - Inference pipeline error

        - \`exceed_nsfw_retry_limits\` - Exceed the retry limits to avoid generated NSFW image

        - \`error_upload\` - Upload result image error

        - \`unknown_internal_error\` - Others

        '
    RunClothsTaskV2GarmentCategory:
      required:
      - garment_category
      properties:
        garment_category:
          type: string
          enum:
          - full_body
          - lower_body
          - upper_body
          - shoes
          - auto
          description: The category of garment of reference image. It's required if reference image provided. Utilize the "auto" parameter to allow the AI engine to automatically identify and classify garment categories.
    Template:
      type: object
      properties:
        id:
          type: string
          description: The ID of the template. Use this as \`template_id\` when run task.
          example: good_template_001
        thumb:
          type: string
          description: The thumbnail of style.
        title:
          type: string
          description: The title of the template.
        category_name:
          type: string
          description: The category name of the template.
    RunClothsTaskV2:
      allOf:
      - anyOf:
        - allOf:
          - title: Run task with src file url & ref file url
            required:
            - ref_file_url
          - $ref: '#/components/schemas/BasicRunTaskV2SrcFileUrl'
          - $ref: '#/components/schemas/BasicRunTaskV2RefFileUrl'
          - $ref: '#/components/schemas/RunClothsTaskV2GarmentCategory'
        - allOf:
          - title: Run task with src file url & ref file ID
            required:
            - ref_file_id
          - $ref: '#/components/schemas/BasicRunTaskV2SrcFileUrl'
          - $ref: '#/components/schemas/BasicRunTaskV2RefFileId'
          - $ref: '#/components/schemas/RunClothsTaskV2GarmentCategory'
        - allOf:
          - title: Run task with src file ID & ref file url
            required:
            - ref_file_url
          - $ref: '#/components/schemas/BasicRunTaskV2SrcFileId'
          - $ref: '#/components/schemas/BasicRunTaskV2RefFileUrl'
          - $ref: '#/components/schemas/RunClothsTaskV2GarmentCategory'
        - allOf:
          - title: Run task with src file ID & ref file ID
            required:
            - ref_file_id
          - $ref: '#/components/schemas/BasicRunTaskV2SrcFileId'
          - $ref: '#/components/schemas/BasicRunTaskV2RefFileId'
          - $ref: '#/components/schemas/RunClothsTaskV2GarmentCategory'
        - allOf:
          - title: Run task with src file url and template
          - $ref: '#/components/schemas/BasicRunTaskV2SrcFileUrl'
          - $ref: '#/components/schemas/RunClothsTaskV2Template'
        - allOf:
          - title: Run task with src file ID and template
          - $ref: '#/components/schemas/BasicRunTaskV2SrcFileId'
          - $ref: '#/components/schemas/RunClothsTaskV2Template'
      - properties:
          change_shoes:
            type: boolean
            default: true
            description: Control whether shoes should be swapped when a full body reference image with shoes is available for processing.
    RunClothsTaskV2Template:
      required:
      - template_id
      properties:
        template_id:
          type: string
          description: ID of the template. List predefined templates first, and use the id of a template.
          example: good_template_001
    InvalidApiKeySchema:
      type: object
      properties:
        status:
          type: integer
          example: 401
          description: Response status
        error_code:
          type: string
          enum:
          - InvalidApiKey
          - InactiveApiKey
          - ExpiredApiKey
          description: "Error code:\n  * InvalidApiKey - API Key is not given or not valid\n  * InactiveApiKey - API Key is inactivated\n  * ExpiredApiKey - API Key is expired\n"
    OutPaintTaskParams:
      type: object
      required:
      - output_width
      - output_height
      - input_x
      - input_y
      - input_width
      - input_height
      - crop_input_x
      - crop_input_y
      - crop_input_width
      - crop_input_height
      properties:
        output_width:
          type: integer
          description: 'Output image width. value range: [1 - 4096]'
          example: 960
          minimum: 1
          maximum: 4096
        output_height:
          type: integer
          description: 'Output image height. value range: [1 - 4096]'
          example: 1280
          minimum: 1
          maximum: 4096
        input_x:
          type: integer
          description: 'Source image left position in output image, where The indices are ordered from top to bottom, and from left to right. value range: [0 - 4096]'
          example: 240
          minimum: 0
          maximum: 4096
        input_y:
          type: integer
          description: 'Source image top position in output image, where The indices are ordered from top to bottom, and from left to right. value range: [0 - 4096]'
          example: 320
          minimum: 0
          maximum: 4096
        input_width:
          type: integer
          description: 'Source image width, input_x + input_width must <= output_width. value range: [1 - 4096]'
          example: 480
          minimum: 1
          maximum: 4096
        input_height:
          type: integer
          description: 'Source image height, input_y + input_height must <= output_height. value range: [1 - 4096]'
          example: 640
          minimum: 1
          maximum: 4096
        crop_input_x:
          type: integer
          description: 'Crop source image from x, where The indices are ordered from top to bottom, and from left to right. value range: [0 - 4096]'
          example: 0
          minimum: 0
          maximum: 4096
        crop_input_y:
          type: integer
          description: 'Crop source image from y, where The indices are ordered from top to bottom, and from left to right. value range: [0 - 4096]'
          example: 0
          minimum: 0
          maximum: 4096
        crop_input_width:
          type: integer
          description: 'Crop source image with width crop_input_width. value range: [1 - 4096]'
          example: 480
          minimum: 1
          maximum: 4096
        crop_input_height:
          type: integer
          description: 'Crop source image with height crop_input_height. value range: [1 - 4096]'
          example: 640
          minimum: 1
          maximum: 4096
    BasicRunTaskV2SrcFileId_2:
      title: Run task with src file ID
      type: object
      required:
      - src_file_id
      properties:
        src_file_id:
          type: string
          description: ID of file to run task. File ID from upload file API.
          example: pfNK5PuRe0MrwLHcGA3DOmB1ahwfXTbYHjv+KoBIxbE=
    InvalidTaskIdSchema:
      type: object
      properties:
        status:
          type: integer
          description: Response status
          example: 400
        error_code:
          type: string
          enum:
          - InvalidTaskId
          description: "Error code:\n  * InvalidTaskId - Invalid task id\n"
    BasicRunTaskV2SrcFileUrl_2:
      title: Run task with src file url
      type: object
      required:
      - src_file_url
      properties:
        src_file_url:
          type: string
          description: Url of the file to run task. The url should be publicly accessible.
          example: https://example.com/selfie.jpg
    TaskTimeoutSchema:
      type: object
      properties:
        status:
          type: integer
          description: Response status
          example: 500
        error_code:
          type: string
          enum:
          - TaskTimeout
          description: "Error code:\n  * TaskTimeout - The task has no response in the expected time\n"
    TaskStatusResponseV2_2:
      type: object
      properties:
        status:
          type: integer
          description: Response status
          example: 200
        data:
          type: object
          properties:
            task_status:
              type: string
              enum:
              - running
              - success
              - error
              description: Status of this task
            error:
              $ref: '#/components/schemas/EngineErrorCode_2'
            error_message:
              type: string
              description: Detailed description of error
            results:
              $ref: '#/components/schemas/TaskStatusResponseBodySingleUrlResultsV2'
    RunErrorSchema:
      type: object
      properties:
        status:
          type: integer
          description: Response status
          example: 400
        error:
          type: string
          description: Error message
          example: The operation could not be completed
        error_code:
          type: string
          enum:
          - CreditInsufficiency
          - InvalidStyleGroup
          - InvalidStyle
          - BadRequest
          - InvalidParameters
          description: "Error code:\n  * CreditInsufficiency - Insufficient unit to run\n  * BadRequest - Unexpected request parameter\n  * InvalidStyleGroup - Invalid style group id\n  * InvalidStyle - Invalid style id\n  * InvalidParameters - Invalid request parameters\n"
    BasicRunTaskV2:
      title: BasicRunTaskV2
      anyOf:
      - $ref: '#/components/schemas/BasicRunTaskV2SrcFileUrl_2'
      - $ref: '#/components/schemas/BasicRunTaskV2SrcFileId_2'
    RunOutPaintTaskRequest:
      title: RunOutPaintTaskRequest
      description: The AI Image Extender API takes 3 key parameters to work, an input image, a pivot point and an output image. The size of output image should always be larger than the size of input image.
      allOf:
      - $ref: '#/components/schemas/BasicRunTaskV2'
      - $ref: '#/components/schemas/OutPaintTaskParams'
    EngineErrorCode_2:
      type:
      - string
      - 'null'
      enum:
      - exceed_max_filesize
      - invalid_parameter
      - error_download_image
      - error_download_mask
      - error_decode_image
      - error_decode_mask
      - error_nsfw_content_detected
      - error_no_face
      - error_pose
      - error_face_parsing
      - error_inference
      - exceed_nsfw_retry_limits
      - error_upload
      - unknown_internal_error
      description: 'Errors:

        - `exceed_max_filesize` - Input file size exceeds the maximum limit

        - `invalid_parameter` - Invalid parameter value

        - `error_download_image` - Download source image error

        - `error_download_mask` - Download mask image error

        - `error_decode_image` - Decode source image error

        - `error_decode_mask` - Decode mask image error

        - `error_nsfw_content_detected` - NSFW content detected in source image

        - `error_no_face` - No face detected on source image

        - `error_pose` - Failed to detect pose on source image

        - `error_face_parsing` - Failed to do face segmentation on source image

        - `error_inference` - Inference pipeline error

        - `exceed_nsfw_retry_limits` - Exceed the retry limits to avoid generated NSFW image

        - `error_upload` - Upload result image error

        - `unknown_internal_error` - Others

        '
    BasicRunTaskV2_2:
      title: BasicRunTaskV2
      anyOf:
      - title: Run task with src file url
        allOf:
        - $ref: '#/components/schemas/BasicRunTaskV2SrcFileUrl'
      - title: Run task with src file ID
        allOf:
        - $ref: '#/components/schemas/BasicRunTaskV2SrcFileId'
    BasicRunTaskV2_3:
      title: BasicRunTaskV2
      anyOf:
      - title: Run task with src file url
        allOf:
        - $ref: '#/components/schemas/BasicRunTaskV2SrcFileUrl'
      - title: Run task with src file ID
        allOf:
        - $ref: '#/components/schemas/BasicRunTaskV2SrcFileId'
    BasicRunTaskV2SrcFileId_3:
      title: Run task with src file ID
      type: object
      required:
      - src_file_id
      properties:
        src_file_id:
          type: string
          description: ID of file to run task. File ID from upload file API.
          example: pfNK5PuRe0MrwLHcGA3DOmB1ahwfXTbYHjv+KoBIxbE=
    BasicRunTaskV2SrcFileUrl_3:
      title: Run task with src file url
      type: object
      required:
      - src_file_url
      properties:
        src_file_url:
          type: string
          description: Url of the file to run task. The url should be publicly accessible.
          example: https://example.com/selfie.jpg
    TaskStatusResponseV2_3:
      type: object
      properties:
        status:
          type: integer
          description: Response status
          example: 200
        data:
          type: object
          properties:
            task_status:
              type: string
              enum:
              - running
              - success
              - error
              description: Status of this task
            error:
              $ref: '#/components/schemas/EngineErrorCode_3'
            error_message:
              type: string
              description: Detailed description of error
            results:
              $ref: '#/components/schemas/TaskStatusResponseBodySingleUrlResultsV2'
    BasicRunTaskV2_4:
      title: BasicRunTaskV2
      anyOf:
      - $ref: '#/components/schemas/BasicRunTaskV2SrcFileUrl_3'
      - $ref: '#/components/schemas/BasicRunTaskV2SrcFileId_3'
    EngineErrorCode_3:
      type:
      - string
      - 'null'
      enum:
      - exceed_max_filesize
      - invalid_parameter
      - error_download_image
      - error_download_mask
      - error_decode_image
      - error_decode_mask
      - error_nsfw_content_detected
      - error_no_face
      - error_pose
      - error_face_parsing
      - error_inference
      - exceed_nsfw_retry_limits
      - error_upload
      - unknown_internal_error
      description: 'Errors:

        - `exceed_max_filesize` - Input file size exceeds the maximum limit

        - `invalid_parameter` - Invalid parameter value

        - `error_download_image` - Download source image error

        - `error_download_mask` - Download mask image error

        - `error_decode_image` - Decode source image error

        - `error_decode_mask` - Decode mask image error

        - `error_nsfw_content_detected` - NSFW content detected in source image

        - `error_no_face` - No face detected on source image

        - `error_pose` - Failed to detect pose on source image

        - `error_face_parsing` - Failed to do face segmentation on source image

        - `error_inference` - Inference pipeline error

        - `exceed_nsfw_retry_limits` - Exceed the retry limits to avoid generated NSFW image

        - `error_upload` - Upload result image error

        - `unknown_internal_error` - Others

        '
    BasicRunTaskV2_5:
      title: BasicRunTaskV2
      anyOf:
      - title: Run task with src file url
        allOf:
        - $ref: '#/components/schemas/BasicRunTaskV2SrcFileUrl'
      - title: Run task with src file ID
        allOf:
        - $ref: '#/components/schemas/BasicRunTaskV2SrcFileId'
    SkinAnalysisResultsV2Zip:
      type: object
      required:
      - url
      properties:
        url:
          type: string
          description: URL to download this result. Valid for 2 hours. The returned ZIP file contains a skinanalysisResult folder of a score_info.json file with all detection result scores and images of all detection results. Only available when format is `zip`.
          example: https://example.com/sample-result-url
    SkinAnalysisResultsV2Json:
      type: object
      required:
      - output
      properties:
        output:
          type: array
          description: The analysis result returned directly in the response body as JSON format. Only available when format is `json`.
          items:
            type: object
            properties:
              type:
                type: string
                description: The action of Skin Analysis
                example: hd_skin_type
              region:
                type: string
                description: The region of the face where the analysis is focused
                example: whole
              raw_score:
                type: number
                description: A floating-point value ranging from 1 to 100. The raw_score refers to the score directly predicted by the AI model
                example: 98.5
              ui_score:
                type: integer
                description: An integer ranging from 1 to 100. The ui_score is the adjusted score based on the raw score
                example: 97
              score:
                type: number
                description: A floating-point value between 1 and 100 representing the general skin condition.
                example: 97.66
              mask_urls:
                type: array
                description: The URLs of the mask images or resized images generated during analysis
                items:
                  type: string
                  example: https://example.com/mask_image_1.png
    RunSkincareTaskMiniserverArgs:
      type: object
      properties:
        enable_mask_overlay:
          type: boolean
          description: Controls whether the mask is blended onto the image. True returns the overlaid image as a .jpg. False returns the raw mask as a .png. Default is false. <br> All output images are limited to a maximum long-side resolution of 2560 pixels. If enable_mask_overlay is not enabled, you must verify whether the input resolution exceeds 2560 and handle the mask overlay accordingly on your side. When the input image has a long side below 2560 pixels, use the original image resolution. Otherwise, use 2560 pixels to configure your display.
        enable_dark_background_hd_pore:
          type: boolean
          description: Enable dark background for HD pore visualization
        color_dark_background_hd_pore:
          type: string
          description: Color for HD pore dark background visualization (hex format)
          example: 3D3D3D
        opacity_dark_background_hd_pore:
          type: number
          minimum: 0
          maximum: 1
          description: Opacity for HD pore dark background visualization
          example: 0.4
        enable_dark_background_hd_wrinkle:
          type: boolean
          description: Enable dark background for HD wrinkle visualization
        color_dark_background_hd_wrinkle:
          type: string
          description: Color for HD wrinkle dark background visualization (hex format)
          example: 3D3D3D
        opacity_dark_background_hd_wrinkle:
          type: number
          minimum: 0
          maximum: 1
          description: Opacity for HD wrinkle dark background visualization
          example: 0.4
    SkinAnalysisResponseV2:
      description: RE
      type: object
      properties:
        status:
          type: integer
          description: Response status
          example: 200
        data:
          type: object
          properties:
            task_status:
              type: string
              enum:
              - running
              - success
              - error
              description: Status of this task
            error:
              $ref: '#/components/schemas/EngineErrorCode'
            error_message:
              type: string
              description: Detailed description of error
            results:
              oneOf:
              - $ref: '#/components/schemas/SkinAnalysisResultsV2Zip'
              - $ref: '#/components/schemas/SkinAnalysisResultsV2Json'
    RunSkincareTaskV2:
      allOf:
      - $ref: '#/components/schemas/BasicRunTaskV2_5'
      - title: RunSkincareTaskV2
        description: This object represents a run Skin Analysis task.
        type: object
        properties:
          dst_actions:
            $ref: '#/components/schemas/RunSkincareTaskDstActions'
          miniserver_args:
            $ref: '#/components/schemas/RunSkincareTaskMiniserverArgs'
          format:
            type: string
            enum:
            - json
            - zip
            description: 'Response format of the analysis results. Default is ''zip''. - `zip`: Results will be packaged as a downloadable ZIP file containing a skinanalysisResult folder with score_info.json and all detection result images. The response will include a URL to download the ZIP file. - `json`: Results will be returned directly in the response body as JSON format. Note: The response schema differs between format=json and format=zip.

              '
            example: zip
        required:
        - dst_actions
    RunSkincareTaskDstActions:
      type: array
      description: "The actions for Skin Analysis.\nThere are 2 types of features: HD and SD.\nYou can choose one or more features, either all in SD or all in HD.\nNote: HD and SD features cannot be mixed.\nHD features:\n  - hd_redness: Measures skin redness severity.\n  - hd_oiliness: Determines skin oiliness level.\n  - hd_age_spot: Detects age spots and pigmentation.\n  - hd_radiance: Evaluates skin radiance.\n  - hd_moisture: Assesses skin hydration levels.\n  - hd_dark_circle: Analyzes the presence of dark circles under the eyes.\n  - hd_eye_bag: Detects eye bags.\n  - hd_droopy_upper_eyelid: Measures upper eyelid drooping severity.\n  - hd_droopy_lower_eyelid: Measures lower eyelid drooping severity.\n  - hd_firmness: Evaluates skin firmness and elasticity.\n  - hd_texture: Analyzes overall skin texture.\n  - hd_acne: Detects acne presence.\n  - hd_pore: Detects and evaluates pores in different facial regions (forehead, nose, cheek, whole).\n  - hd_wrinkle: Measures the severity of wrinkles in various facial areas (forehead, glabellar, crowfeet, periocular, nasolabial, marionette, whole).\n  - hd_tear_trough: Detects tear trough.\n  - hd_skin_type: Subcategories (whole, T-zone, U-zone) evaluate skin type as Normal, Oily, Dry, Combination, Redness, Dry and Redness, Oily and Redness, or Combination and Redness.\n\nSD features:\n  - wrinkle: General wrinkle analysis.\n  - droopy_upper_eyelid: Measures upper eyelid drooping severity.\n  - droopy_lower_eyelid: Measures lower eyelid drooping severity.\n  - firmness: Evaluates skin firmness and elasticity.\n  - acne: Evaluates acne presence.\n  - moisture: Measures skin hydration.\n  - eye_bag: Detects eye bags.\n  - dark_circle_v2: Analyzes dark circles.\n  - age_spot: Detects age spots.\n  - radiance: Evaluates skin brightness.\n  - redness: Measures skin redness.\n  - oiliness: Determines skin oiliness.\n  - pore: Measures pore visibility.\n  - texture: Analyzes overall skin texture.\n  - tear_trough: Detects tear trough.\n  - skin_type: Subcategories (whole, T-zone, U-zone) evaluate skin type as Normal, Oily, Dry, Combination, Redness, Dry and Redness, Oily and Redness, or Combination and Redness.\n"
      items:
        type: string
        enum:
        - hd_wrinkle
        - hd_pore
        - hd_texture
        - hd_acne
        - hd_oiliness
        - hd_radiance
        - hd_eye_bag
        - hd_age_spot
        - hd_dark_circle
        - hd_droopy_upper_eyelid
        - hd_droopy_lower_eyelid
        - hd_firmness
        - hd_moisture
        - hd_redness
        - hd_tear_trough
        - hd_skin_type
        - wrinkle
        - pore
        - texture
        - acne
        - oiliness
        - radiance
        - eye_bag
        - age_spot
        - dark_circle_v2
        - droopy_upper_eyelid
        - droopy_lower_eyelid
        - firmness
        - moisture
        - redness
        - tear_trough
        - skin_type
      example:
      - hd_wrinkle
      - hd_pore
      - hd_texture
      - hd_acne
    VidTaskStatusResponseV2:
      type: object
      properties:
        status:
          type: integer
          description: Response status
          example: 200
        data:
          type: object
          properties:
            task_status:
              type: string
              enum:
              - running
              - success
              - error
              description: Status of this task
            error:
              $ref: '#/components/schemas/EngineErrorCode'
            error_message:
              type: string
              description: Detailed description of error
            results: null
      $ref: '#/components/schemas/VidTaskStatusResponseBodySingleUrlResultsV2'
    VidTaskStatusResponseBodySingleUrlResultsV2:
      type: object
      properties:
        url:
          type: string
          description: URL to download this result. Valid for 2 hours
          example: https://example.com/sample-result-url
    BasicRunTaskV2_6:
      title: BasicRunTaskV2
      anyOf:
      - title: Run task with src file url
        allOf:
        - $ref: '#/components/schemas/BasicRunTaskV2SrcFileUrl'
      - title: Run task with src file ID
        allOf:
        - $ref: '#/components/schemas/BasicRunTaskV2SrcFileId'
  responses:
    InvalidTaskId:
      description: Invalid task ID
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 400
                description: Response status
              error:
                type: string
                example: Invalid task ID
    InvalidApiKey:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 401
                description: Response status
              error:
                type: string
                example: Invalid API key
    TaskTimeout:
      description: Task execution timeout
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 500
                description: Response status
              error:
                type: string
                example: Task execution timed out
    TooManyRequests:
      description: Too many requests
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 429
                description: Response status
              error:
                type: string
                example: Too many requests
    InvalidParameters:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 400
                description: Response status
              error:
                type: string
                example: Invalid parameter value
              error_code:
                type: string
                example: InvalidParameters
    TemplateResponse:
      description: Successful retrieval of styles
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: Response status
                example: 200
              data:
                type: object
                properties:
                  templates:
                    type: array
                    items:
                      $ref: '#/components/schemas/Template'
                  next_token:
                    type: string
                    example: 73a3c9e69b89
                    description: Token to query next page.
    InvalidTaskId_2:
      description: Invalid task id
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InvalidTaskIdSchema'
    InvalidApiKey_2:
      description: Invalid API Key or Inactive API Key or Expired API Key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InvalidApiKeySchema'
    RunError:
      description: Failed execution of task
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RunErrorSchema'
    TaskTimeout_2:
      description: The task has no response in the expected time
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TaskTimeoutSchema'
    InvalidTaskId_3:
      description: Invalid task id
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InvalidTaskIdSchema'
    InvalidApiKey_3:
      description: Invalid API Key or Inactive API Key or Expired API Key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InvalidApiKeySchema'
    TaskTimeout_3:
      description: The task has no response in the expected time
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TaskTimeoutSchema'
    RunError_2:
      type: object
      properties:
        status:
          type: integer
          description: Response status
          example: 400
        error:
          type: string
          description: Error message
          example: The operation could not be completed
        error_code:
          type: string
          enum:
          - InvalidParameters
          - CreditInsufficiency
          - InvalidStyleGroup
          - InvalidStyle
          - BadRequest
          description: "Error code:\n  * InvalidParameters - Invalid request parameters\n  * CreditInsufficiency - Insufficient unit to run\n  * BadRequest - Unexpected request parameter\n  * InvalidStyleGroup - Invalid style group id\n  * InvalidStyle - Invalid style id\n"
    SkinAnalysisResponse:
      description: Successful check of Skin Analysis task status
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/SkinAnalysisResponseV2'
          examples:
            format_zip_success:
              summary: Response when format=zip (success)
              description: Task completed successfully. Results are packaged as a ZIP file.
              value:
                status: 200
                data:
                  task_status: success
                  results: https://example.com/sample-result-url
            format_json_success:
              summary: Response when format=json (success)
              description: Task completed successfully. Results are returned directly as JSON with detailed scores and image URLs.
              value:
                status: 200
                data:
                  task_status: success
                  results:
                    output:
                    - type: hd_wrinkle
                      region: whole
                      raw_score: 25.3
                      ui_score: 25
                      mask_urls:
                      - https://s3-us-west-2.amazonaws.com/yce-us/results/hd_wrinkle_whole.jpg
                    - type: hd_wrinkle
                      region: forehead
                      raw_score: 20.1
                      ui_score: 20
                      mask_urls:
                      - https://s3-us-west-2.amazonaws.com/yce-us/results/hd_wrinkle_forehead.jpg
                    - type: hd_wrinkle
                      region: glabellar
                      raw_score: 15.8
                      ui_score: 16
                      mask_urls:
                      - https://s3-us-west-2.amazonaws.com/yce-us/results/hd_wrinkle_glabellar.jpg
                    - type: hd_wrinkle
                      region: crowfeet
                      raw_score: 30.5
                      ui_score: 31
                      mask_urls:
                      - https://s3-us-west-2.amazonaws.com/yce-us/results/hd_wrinkle_crowfeet.jpg
                    - type: hd_pore
                      region: whole
                      raw_score: 35.2
                      ui_score: 35
                      mask_urls:
                      - https://s3-us-west-2.amazonaws.com/yce-us/results/hd_pore_whole.jpg
                    - type: hd_pore
                      region: forehead
                      raw_score: 30
                      ui_score: 30
                      mask_urls:
                      - https://s3-us-west-2.amazonaws.com/yce-us/results/hd_pore_forehead.jpg
                    - type: hd_pore
                      region: nose
                      raw_score: 45.7
                      ui_score: 46
                      mask_urls:
                      - https://s3-us-west-2.amazonaws.com/yce-us/results/hd_pore_nose.jpg
                    - type: hd_pore
                      region: cheek
                      raw_score: 32.1
                      ui_score: 32
                      mask_urls:
                      - https://s3-us-west-2.amazonaws.com/yce-us/results/hd_pore_cheek.jpg
                    - type: hd_acne
                      region: whole
                      raw_score: 12.5
                      ui_score: 13
                      mask_urls:
                      - https://s3-us-west-2.amazonaws.com/yce-us/results/hd_acne_whole.jpg
                    - type: hd_skin_type
                      region: whole
                      skin_type: Combination
                      mask_urls:
                      - https://s3-us-west-2.amazonaws.com/yce-us/results/hd_skin_type_whole.jpg
                    - type: hd_skin_type
                      region: t_zone
                      skin_type: Oily
                      mask_urls:
                      - https://s3-us-west-2.amazonaws.com/yce-us/results/hd_skin_type_t_zone.jpg
                    - type: hd_skin_type
                      region: u_zone
                      skin_type: Dry & Redness
                      mask_urls:
                      - https://s3-us-west-2.amazonaws.com/yce-us/results/hd_skin_type_u_zone.jpg
                    - type: skin_age
                      score: 29
                    - type: all
                      score: 28.5
                    - type: resize_image
                      mask_urls:
                      - https://s3-us-west-2.amazonaws.com/yce-us/results/resized_image.jpg
  securitySchemes:
    BearerAuthenticationV2:
      type: http
      scheme: bearer
      description: 'Use the standard ''Bearer authentication''. Put your ''API Key'' in header: `Authorization:Bearer YOUR_API_KEY`. Notice that there is '' '' a space between ''Bearer'' and the ''YOUR_API_KEY''.'
x-refined-from:
- perfect-corp-ai_bag-openapi.yml
[...]
