openapi: 3.0.0
info:
  title: AI Photo Background Removal
  description: "# Overview\nRemove background from photo with impeccable accuracy, ensuring the high quality\
    \ of images.\n* Automatic Background Detection: : Uses AI to identify and separate the subject from\
    \ the background.\n* High Precision Editing: : Provides clean and precise edges around the subject.\n\
    * Supports various categories: People, Products, Animals, Cars, Graphics & more.\n* Easy to chain\
    \ with other AI tasks: The output file ID can be chained into other AI tasks in a flash.\n\n![](https://plugins-media.makeupar.com/smb/blog/post/2023-11-03/54285311-7c65-4658-9e27-11bf5c8dfe56.jpg)\n\
    \n## Integration Guide\n* How to run AI Photo Background Removal\n1. **Resize your source image**</br>\n\
    \  Resize your photo to fit the supported dimensions. See details in **[File Specs & Errors](#section/overview/File-Specs-and-Errors)**\n\
    \n2. **Upload file using the File API**</br>\n  Using the ***/s2s/v2.0/file*** API to upload a target\
    \ user image.\n    - Image Requirements\n      - See details in **[File Specs & Errors](#section/overview/File-Specs-and-Errors)**.\n\
    \    - ***Important***: Simply calling the File API does not upload your file. You must **manually\
    \ upload** the file to the **URL provided in the File API response**. That URL is your upload destination,\
    \ make sure the file is successfully transferred there before proceeding.<br>\n    Before calling\
    \ the AI API, ensure your file has been successfully uploaded. Use the File API to retrieve an upload\
    \ URL, then upload your file to that location. Once the upload is complete, you'll receive a ***file_id***\
    \ in the response, this ID is what you'll use to access AI features related to that file.\n    \n\
    \      > **Warning:** Please note that, you will get an 500 Server Error / unknown_internal_error\
    \ or 404 Not Found error when using AI APIs if you do not upload the file to the URL provided in the\
    \ File API response.\n\n3. **Run an AI task**</br>\n  Once the upload is complete, calling POST 'task/sod'\
    \ with the File ID to execute the AI task and obtains a ***task_id*** to monitor.\n\n4. **Polling\
    \ to check the status of a task until it succeed or error**</BR>\nThis ***task_id*** is used to monitor\
    \ the task's status through polling GET 'task/sod' to retrieve the current engine status. Until the\
    \ engine completes the task, the status will remain 'running', and no units will be consumed during\
    \ this stage.\n\n    **Warning:** Please note that, **Polling** to check the status of a task based\
    \ on it's ***polling_interval*** is mandotary. A task will be timed out if there is no polling request\
    \ within the ***polling_interval***, even if the task is processed succefully(Your unit(s) will be\
    \ consumed).\n\n    > **Warning:** You will get a ***InvalidTaskId*** error once you check the status\
    \ of a timed out task. So, once you run an AI task, you need to **polling** to check the status within\
    \ the ***polling_interval*** until the status become either *success* or *error*.\n\n5. **Get the\
    \ result of an AI task once success**</BR>\nThe task will change to the 'success' status after the\
    \ engine successfully processes your input file and generates the resulting image. You will get an\
    \ url of the processed image and a dst_id that allow you to chain another AI task without re-upload\
    \ the result image.\nYour units will only be consumed in this case. If the engine fails to process\
    \ the task, the task's status will change to 'error' and no unit will be consumed.</BR>\nWhen deducting\
    \ units, the system will prioritize those nearing expiration. If the expiration date is the same,\
    \ it will deduct the units obtained on the earliest date.\n\n* Demonstrative scenarios:\nCommon implementation\
    \ cases:\n![](https://bcw-media.s3.ap-northeast-1.amazonaws.com/Transparen_Background_aca3cdbd83.jpg)\n\
    \n## Inputs & Outputs\n* Inputs\n   * `Image`\n- **Type:** `image`\n- **Description:** An image with\
    \ clear foreground.\n\nReal-world application (input): \n![](https://bcw-media.s3.ap-northeast-1.amazonaws.com/yce_removal_bg_s4_poster_1_289b8eaf81.png)\n\
    \n---\n\n* Outputs\n   * `Foreground image`\n- **Type:** `image`\n- **Description:** A background\
    \ removed image.\n\nReal-world application (output):\n![](https://bcw-media.s3.ap-northeast-1.amazonaws.com/yce_removal_bg_s4_poster_2_a6bc3c5f6a.png)\n\
    \n## File Specs & Errors\n* Supported Formats & Dimensions\n\n|AI Feature|Supported Dimensions|File\
    \ Size|Accepted formats|\n|  ----  | ----  | ----  | ----  |\n|AI Photo Background Removal|Recommendations\
    \ and limitations for both input and output images are as follows:</br>Resolution: 4096 × 4096 pixels\
    \ (longest side must not exceed 4096 pixels)|<10MB|JPG and PNG|\n\n* Error Codes\n\n|Error Code|Description|\n\
    |  ----  | ----  |\n|exceed_max_filesize|Input file size exceeds the maximum limit|\n|invalid_parameter|Invalid\
    \ parameter value|\n|error_download_image|Download source image error|\n|error_download_mask|Download\
    \ mask image error|\n|error_decode_image|Decode source image error|\n|error_decode_mask|Decode mask\
    \ image error|\n|error_download_video|Download source video error|\n|error_decode_video|Decode source\
    \ video error|\n|error_nsfw_content_detected|NSFW content detected in source image|\n|error_no_face|No\
    \ face detected on source image|\n|error_pose|Failed to detect pose on source image|\n|error_face_parsing|Failed\
    \ to do face segmentation on source image|\n|error_inference|Inference pipeline error|\n|exceed_nsfw_retry_limits|Exceed\
    \ the retry limits to avoid generated NSFW image|\n|error_upload|Upload result image error|\n|error_multiple_people|Multiple\
    \ people detected in the source image|\n|error_no_shoulder|Shoulders are not visible in the source\
    \ image|\n|error_large_face_angle|The face angle in the uploaded image is too large|\n|error_hair_too_short|Input\
    \ hair is too short|\n|error_unexpected_video_duration|Video durateion is not equal to the dstDuration|\n\
    |error_bald_image|Input hairstyle is bald|\n|error_unsupport_ratio|The aspect ratio of input image\
    \ is unsupported|\n|unknown_internal_error|Others|\n\n---\n\n## Unit Consumption\n\n| AI Feature |\
    \ Unit Consumed |\n|---|---|\n| AI Photo Background Removal V1.0 | 1 |\n\n---\n"
  version: ''
  termsOfService: https://www.makeupar.com/perfectbeauty/youcam/terms-of-service-api
  contact:
    email: YouCamOnlineEditor_API@perfectcorp.com
  license:
    name: Privacy policy
    url: https://www.makeupar.com/perfectbeauty/youcam/privacy-policy-api
servers:
- url: https://yce-api-01.makeupar.com
tags:
- name: V1.0
  description: Automatically detect and remove backgrounds from images using AI segmentation.
paths:
  /s2s/v2.0/task/sod:
    post:
      summary: Run an AI Photo Background Removal task.
      description: 'This endpoint initiates the background removal process. You must provide a file ID
        obtained from the file upload API. The task will be processed asynchronously, and you can check
        its status using the task_id returned in this response.

        '
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasicRunTaskV2'
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/responses/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /s2s/v2.0/task/sod/{task_id}:
    get:
      summary: Check an AI Photo Background Removal task status.
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
components:
  securitySchemes:
    BearerAuthenticationV2:
      type: http
      scheme: bearer
      description: 'Use the standard ''Bearer authentication''. Put your ''API Key'' in header: `Authorization:Bearer
        YOUR_API_KEY`. Notice that there is '' '' a space between ''Bearer'' and the ''YOUR_API_KEY''.'
  schemas:
    EngineErrorCode:
      type: string
      nullable: true
      enum:
      - exceed_max_filesize
      - invalid_parameter
      - error_download_image
      - error_download_mask
      - error_decode_image
      - error_decode_mask
      - error_nsfw_content_detected
      - error_no_face
      - error_pose
      - error_face_parsing
      - error_inference
      - exceed_nsfw_retry_limits
      - error_upload
      - unknown_internal_error
      description: 'Errors:


        - `exceed_max_filesize` - Input file size exceeds the maximum limit


        - `invalid_parameter` - Invalid parameter value


        - `error_download_image` - Download source image error


        - `error_download_mask` - Download mask image error


        - `error_decode_image` - Decode source image error


        - `error_decode_mask` - Decode mask image error


        - `error_nsfw_content_detected` - NSFW content detected in source image


        - `error_no_face` - No face detected on source image


        - `error_pose` - Failed to detect pose on source image


        - `error_face_parsing` - Failed to do face segmentation on source image


        - `error_inference` - Inference pipeline error


        - `exceed_nsfw_retry_limits` - Exceed the retry limits to avoid

        generated NSFW image


        - `error_upload` - Upload result image error


        - `unknown_internal_error` - Others

        '
    FileV1.1:
      title: File V1.1
      description: This object represents a file.
      type: object
      required:
      - files
      properties:
        files:
          type: array
          items:
            type: object
            required:
            - content_type
            - file_name
            - file_size
            properties:
              content_type:
                type: string
                example: image/jpg
                description: Content MIME type for this file. Currently available values are listed in
                  the enum.
              file_name:
                type: string
                example: my-selfie.jpg
                description: Name of this file
              file_size:
                type: integer
                example: 50000
                description: Content length for this file in bytes. Should not be larger than 10MB.
    BasicFileResponse:
      type: object
      properties:
        files:
          type: array
          items:
            type: object
            properties:
              content_type:
                type: string
                example: image/jpg
                description: Content MIME type for this file.
              file_name:
                type: string
                example: my-selfie.jpg
                description: Name of this file
              file_id:
                type: string
                example: U8aqJbsXGT537jtGnEDFHqxdDXqh8+oTF/cSkLimzuvVwMP+Jb1XbjPsf7ZgUgLY
                description: ID of this file. Other run task API will need this `file_id`.
              requests:
                type: array
                description: Using upload `url`, `headers`, `method` below to upload file. After completion,
                  the `file_id` is used to proceed with calling run task API.
                items:
                  type: object
                  properties:
                    headers:
                      type: object
                      example:
                        Content-Type: image/jpg
                        Content-Length: 50000
                      description: Headers to include when uploading the file
                    url:
                      type: string
                      example: https://example.com/presigned-upload-url
                      description: URL to upload this file
                    method:
                      type: string
                      example: PUT
                      description: HTTP method to upload this file
    FileResponseV2:
      type: object
      properties:
        status:
          type: integer
          example: 200
          description: Response status
        data:
          $ref: '#/components/schemas/BasicFileResponse'
    BasicRunTaskV2SrcFileUrl:
      title: Run task with src file url
      type: object
      required:
      - src_file_url
      properties:
        src_file_url:
          type: string
          description: Url of the file to run task. The url should be publicly accessible.
          example: https://example.com/selfie.jpg
    BasicRunTaskV2SrcFileId:
      title: Run task with src file ID
      type: object
      required:
      - src_file_id
      properties:
        src_file_id:
          type: string
          description: ID of file to run task. File ID from upload file API.
          example: pfNK5PuRe0MrwLHcGA3DOmB1ahwfXTbYHjv+KoBIxbE=
    BasicRunTaskV2:
      title: BasicRunTaskV2
      anyOf:
      - $ref: '#/components/schemas/BasicRunTaskV2SrcFileUrl'
      - $ref: '#/components/schemas/BasicRunTaskV2SrcFileId'
    BasicRunTaskResponseV2:
      type: object
      properties:
        status:
          type: integer
          description: Response status
          example: 200
        data:
          type: object
          properties:
            task_id:
              type: string
              description: ID of this task. Task result is valid to query by this ID for 24 hours.
              example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
    TaskStatusResponseBodySingleUrlResultsV2:
      type: object
      properties:
        url:
          type: string
          description: URL to download this result. Valid for 2 hours
          example: https://example.com/sample-result-url
    TaskStatusResponseV2:
      type: object
      properties:
        status:
          type: integer
          description: Response status
          example: 200
        data:
          type: object
          properties:
            task_status:
              type: string
              enum:
              - running
              - success
              - error
              description: Status of this task
            error:
              $ref: '#/components/schemas/EngineErrorCode'
            error_message:
              type: string
              description: Detailed description of error
            results:
              $ref: '#/components/schemas/TaskStatusResponseBodySingleUrlResultsV2'
  responses:
    InvalidParameters:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 400
                description: Response status
              error:
                type: string
                description: Error message
                example: The operation could not be completed
              error_code:
                type: string
                enum:
                - InvalidParameters
    InvalidApiKey:
      description: Invalid API Key or Inactive API Key or Expired API Key
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                example: 401
                description: Response status
              error_code:
                type: string
                enum:
                - InvalidApiKey
                - InactiveApiKey
                - ExpiredApiKey
    TooManyRequests:
      description: Too many requests within a given amount of time
    RunError:
      type: object
      properties:
        status:
          type: integer
          description: Response status
          example: 400
        error:
          type: string
          description: Error message
          example: The operation could not be completed
        error_code:
          type: string
          enum:
          - CreditInsufficiency
          - InvalidStyleGroup
          - InvalidStyle
          - BadRequest
          - InvalidParameters
    TaskTimeout:
      description: The task has no response in the expected time
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: Response status
                example: 500
              error_code:
                type: string
                enum:
                - TaskTimeout
    InvalidTaskId:
      description: Invalid task id
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: Response status
                example: 400
              error_code:
                type: string
                enum:
                - InvalidTaskId
