openapi: 3.2.0
info:
  title: Perfect Corp V1.0 API
  version: ''
  contact:
    email: YouCamOnlineEditor_API@perfectcorp.com
  license:
    name: Privacy policy
    url: https://www.makeupar.com/perfectbeauty/youcam/privacy-policy-api
  termsOfService: https://www.makeupar.com/perfectbeauty/youcam/terms-of-service-api
  description: 'Operations tagged V1.0 across 48 of this provider''s published API definitions: perfect-corp-ai_abs_filter-openapi.yml, perfect-corp-ai_aging_simulation-openapi.yml, perfect-corp-ai_background_removal-openapi.yml, perfect-corp-ai_bangs-openapi.yml, perfect-corp-ai_beard_style-openapi.yml, perfect-corp-ai_body_reshape-openapi.yml, perfect-corp-ai_bracelet-openapi.yml, perfect-corp-ai_breast_augmentation-openapi.yml, perfect-corp-ai_color_correction-openapi.yml…'
servers:
- url: https://yce-api-01.makeupar.com
tags:
- name: V1.0
  description: Transform your upper-body photo with AI-generated six-pack abs using the AI Abs Filter API.
paths:
  /s2s/v2.0/task/abs-shape:
    post:
      summary: Run an AI Abs Filter task
      description: 'AI tasks are asynchronous. Prefer webhook-based completion handling when the feature supports webhooks. Configure your webhook endpoint, verify webhook signatures, and use the received `task_id` to query the task result after a `success` or `error` notification. See the webhook integration guide for setup and verification details.


        If webhooks are not supported for the feature, or if your integration cannot use webhooks, implement polling. After starting an AI task, keep polling the task status endpoint at the given `polling_interval` until the task status is either `success` or `error`.


        Do not stop polling a running task for longer than the allowed polling window. If the task is not polled in time, the task may expire; a later status check can return `InvalidTaskId` even if processing finished, and the consumed units may still be charged.'
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BasicRunTaskV2'
              - type: object
                properties:
                  mode:
                    type: string
                    description: 'The abs effect user to choose.

                      '
                    default: Six-pack
                    example: Six-pack
                    enum:
                    - Six-pack
                    - Vest-line
                  intensity:
                    type: integer
                    description: 'The intensity the users wish to adjust their abs, 2 is the stronger intensity.

                      '
                    default: 1
                    example: 1
                    enum:
                    - 1
                    - 2
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskAbsShape
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/abs-shape/{task_id}:
    get:
      summary: Check the status of a AI Abs Filter task
      x-display-name: AI Abs Filter
      x-engine-version: V1.0
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskAbsShapeByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/aging:
    post:
      summary: Run a AI Aging Generator task
      description: This endpoint initiates the aging generation process. You must provide a source file (via URL or File ID). The task will be processed asynchronously, and you can check its status using the task_id returned in this response.
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BasicRunTaskV2'
      responses:
        '200':
          description: Successful execution of the AI Aging Simulation task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskAging
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/aging/{task_id}:
    get:
      summary: Check the status of a AI Aging Generator task
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgingResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskAgingByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/sod:
    post:
      summary: Run an AI Photo Background Removal task
      description: This endpoint initiates the background removal process. You must provide a file ID obtained from the file upload API. The task will be processed asynchronously, and you can check its status using the task_id returned in this response.
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasicRunTaskV2_2'
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/responses/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey_2'
        '429':
          $ref: '#/components/responses/TooManyRequests_2'
      operationId: postS2sV20TaskSod
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/sod/{task_id}:
    get:
      summary: Check an AI Photo Background Removal task status
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2_2'
        '400':
          $ref: '#/components/responses/InvalidTaskId_2'
        '401':
          $ref: '#/components/responses/InvalidApiKey_2'
        '500':
          $ref: '#/components/responses/TaskTimeout_2'
      operationId: getS2sV20TaskSodByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/template/hair-bang:
    get:
      summary: List predefined templates
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          example: 20
        description: Number of results to return in this page. Valid value should be between 1 and 20. Default 20.
      - name: starting_token
        in: query
        schema:
          type: string
          example: 73a3c9e69b89
        description: Token for current page. Start with `null` for the first page, and use `next_token` from the previous response to start next page
      responses:
        '200':
          $ref: '#/components/responses/TemplateResponse'
        '400':
          $ref: '#/components/responses/InvalidParameters'
        '401':
          $ref: '#/components/responses/InvalidApiKey_3'
      operationId: getS2sV20TaskTemplateHairBang
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/hair-bang:
    post:
      summary: Run an AI Hair Bang Generator task
      description: This endpoint initiates the hair bang generation process using a template and source image. The task will be processed asynchronously, and you can check its status using the task_id returned in this response.
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunWithSingleTemplateAndSrcUrl'
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/responses/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey_3'
        '429':
          $ref: '#/components/responses/TooManyRequests_3'
      operationId: postS2sV20TaskHairBang
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/hair-bang/{task_id}:
    get:
      summary: Check the status of a AI Hair Bang Generator task
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2_3'
        '400':
          $ref: '#/components/responses/InvalidTaskId_3'
        '401':
          $ref: '#/components/responses/InvalidApiKey_3'
        '500':
          $ref: '#/components/responses/TaskTimeout_3'
      operationId: getS2sV20TaskHairBangByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/template/beard-style:
    get:
      summary: List predefined templates
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          example: 20
        description: Number of results to return in this page. Valid value should be between 1 and 20. Default 20.
      - name: starting_token
        in: query
        schema:
          type: string
          example: 73a3c9e69b89
        description: Token for current page. Start with `null` for the first page, and use `next_token` from the previous response to start next page
      responses:
        '200':
          $ref: '#/components/schemas/TemplateResponse'
        '400':
          $ref: '#/components/responses/InvalidParameters_2'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
      operationId: getS2sV20TaskTemplateBeardStyle
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/beard-style:
    post:
      summary: Run an AI Beard Style Generator task
      description: 'AI tasks are asynchronous. Prefer webhook-based completion handling when the feature supports webhooks. Configure your webhook endpoint, verify webhook signatures, and use the received `task_id` to query the task result after a `success` or `error` notification. See the webhook integration guide for setup and verification details.


        If webhooks are not supported for the feature, or if your integration cannot use webhooks, implement polling. After starting an AI task, keep polling the task status endpoint at the given `polling_interval` until the task status is either `success` or `error`.


        Do not stop polling a running task for longer than the allowed polling window. If the task is not polled in time, the task may expire; a later status check can return `InvalidTaskId` even if processing finished, and the consumed units may still be charged.'
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RunWithSingleTemplateAndSrcUrl_2'
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskBeardStyle
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/beard-style/{task_id}:
    get:
      summary: Check the status of a AI Beard Style Generator task
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskBeardStyleByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/body-reshape/pre-process:
    post:
      summary: Run an AI Body Reshape detection task
      description: 'Use the pre-process task when the source image may contain more than one valid target, or when your integration needs to explicitly choose which detected target receives the effect. For single-target images, pre-process can be skipped when the feature supports a default `index` value and your application does not need manual target selection.


        The pre-process task detects candidate targets in the source image and returns their coordinates in `data.results.result`. Each item in the result array represents one detected target. Review the returned coordinates, map them to the intended face or region in the source image, and use that item''s zero-based array index as the `index` value when creating the effect task.


        For images with multiple detected faces or regions, do not rely on the default `index` value without checking the pre-process result. The effect is applied only to the target selected by `index`, so the integration must confirm the result item that corresponds to the intended target before running the effect task.


        This task is asynchronous. After creating the task, handle completion with webhook if the feature supports it, or poll the corresponding pre-process status endpoint until `data.task_status` is `success` or `error`.'
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BasicRunTaskV2'
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskBodyReshapePreProcess
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/body-reshape/pre-process/{task_id}:
    get:
      summary: Check the status of a AI Body Reshape detection task
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/TaskStatusResponsePreProcessNoUrlBase'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        results:
                          type: object
                          properties:
                            timed:
                              type: number
                            result:
                              type: array
                              items:
                                type: object
                                properties:
                                  left:
                                    type: number
                                  top:
                                    type: number
                                  width:
                                    type: number
                                  height:
                                    type: number
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskBodyReshapePreProcessByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/body-reshape:
    post:
      summary: Run an AI Body Reshape task
      description: 'AI tasks are asynchronous. Prefer webhook-based completion handling when the feature supports webhooks. Configure your webhook endpoint, verify webhook signatures, and use the received `task_id` to query the task result after a `success` or `error` notification. See the webhook integration guide for setup and verification details.


        If webhooks are not supported for the feature, or if your integration cannot use webhooks, implement polling. After starting an AI task, keep polling the task status endpoint at the given `polling_interval` until the task status is either `success` or `error`.


        Do not stop polling a running task for longer than the allowed polling window. If the task is not polled in time, the task may expire; a later status check can return `InvalidTaskId` even if processing finished, and the consumed units may still be charged.'
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BasicRunTaskV2'
              - type: object
                required:
                - version
                - features
                properties:
                  version:
                    type: string
                    description: 'Version of the features specification. Defaults to `"1.0"` unless otherwise specified.

                      '
                    default: '1.0'
                    example: '1.0'
                  index:
                    type: integer
                    example: 0
                    description: The index of the person from detection task result.
                  features:
                    type: object
                    description: Cannot be all zero
                    minProperties: 1
                    properties:
                      arm:
                        type: number
                        minimum: -100
                        maximum: 100
                        example: 0
                      breast:
                        type: number
                        minimum: -100
                        maximum: 100
                        example: 0
                        description: Applies to both sides. A per-side key (`breast_left` / `breast_right`) overrides this value for that side; a per-side `0` means that side is left unchanged.
                      breast_left:
                        type: number
                        minimum: -100
                        maximum: 100
                        example: 0
                      breast_right:
                        type: number
                        minimum: -100
                        maximum: 100
                        example: 0
                      hip:
                        type: number
                        minimum: -100
                        maximum: 100
                        example: 0
                      hip_lift:
                        type: number
                        minimum: -100
                        maximum: 100
                        example: 0
                      leg:
                        type: number
                        minimum: -100
                        maximum: 100
                        example: 0
                      neck:
                        type: number
                        minimum: 0
                        maximum: 100
                        example: 0
                        description: Applies to both sides. A per-side key (`neck_left` / `neck_right`) overrides this value for that side; a per-side `0` means that side is left unchanged.
                      neck_left:
                        type: number
                        minimum: 0
                        maximum: 100
                        example: 0
                      neck_right:
                        type: number
                        minimum: 0
                        maximum: 100
                        example: 0
                      shoulder:
                        type: number
                        minimum: -100
                        maximum: 100
                        example: 0
                        description: Applies to both sides. A per-side key (`shoulder_left` / `shoulder_right`) overrides this value for that side; a per-side `0` means that side is left unchanged.
                      shoulder_left:
                        type: number
                        minimum: -100
                        maximum: 100
                        example: 0
                      shoulder_right:
                        type: number
                        minimum: -100
                        maximum: 100
                        example: 0
                      squared_shoulder:
                        type: number
                        minimum: -100
                        maximum: 100
                        example: 0
                        description: Applies to both sides. A per-side key (`squared_shoulder_left` / `squared_shoulder_right`) overrides this value for that side; a per-side `0` means that side is left unchanged.
                      squared_shoulder_left:
                        type: number
                        minimum: -100
                        maximum: 100
                        example: 0
                      squared_shoulder_right:
                        type: number
                        minimum: -100
                        maximum: 100
                        example: 0
                      slim:
                        type: number
                        minimum: -100
                        maximum: 100
                        example: 0
                      taller:
                        type: number
                        minimum: 0
                        maximum: 100
                        example: 0
                      waist:
                        type: number
                        minimum: -100
                        maximum: 100
                        example: 0
                      belly:
                        type: number
                        minimum: -100
                        maximum: 100
                        example: 0
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskBodyReshape
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/body-reshape/{task_id}:
    get:
      summary: Check the status of a AI Body Reshape task
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/TaskStatusResponseV2'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        results:
                          type: object
                          properties:
                            timed:
                              type: number
                            timed_apply:
                              type: number
                            arm:
                              type: boolean
                            breast_left:
                              type: boolean
                            breast_right:
                              type: boolean
                            hip:
                              type: boolean
                            hip_lift:
                              type: boolean
                            leg:
                              type: boolean
                            neck_left:
                              type: boolean
                            neck_right:
                              type: boolean
                            shoulder_left:
                              type: boolean
                            shoulder_right:
                              type: boolean
                            squared_shoulder_left:
                              type: boolean
                            squared_shoulder_right:
                              type: boolean
                            slim:
                              type: boolean
                            taller:
                              type: boolean
                            waist:
                              type: boolean
                            belly:
                              type: boolean
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskBodyReshapeByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/2d-vto/bracelet:
    post:
      summary: Run an AI 2D Virtual Try On Bracelet task
      description: This endpoint initiates the bracelet virtual try-on process. You must provide source file(s) and reference image(s) (via URL or File ID), along with specific parameters for alignment and shadowing. The task will be processed asynchronously, and you can check its status using the task_id returned in this response.
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BraceletRunTaskV2'
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20Task2dVtoBracelet
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/2d-vto/bracelet/{task_id}:
    get:
      summary: Check the status of a AI 2D Virtual Try On Bracelet task
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20Task2dVtoBraceletByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/breast-shape:
    post:
      summary: Run an AI Breast Augmentation Simulator task
      description: This endpoint initiates the breast augmentation simulation process. You must provide a source file (via URL or File ID) and specify the intensity level. The task will be processed asynchronously, and you can check its status using the task_id returned in this response.
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BasicRunTaskV2'
              - type: object
                properties:
                  intensity:
                    type: integer
                    description: The intensity the users wish to adjust their breast, 3 is the strongest intensity.
                    default: 2
                    example: 2
                    enum:
                    - 1
                    - 2
                    - 3
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskBreastShape
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/breast-shape/{task_id}:
    get:
      summary: Check the status of a AI Breast Augmentation Simulator task
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskBreastShapeByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/colorize/color-correct:
    post:
      summary: Run an AI Photo Color Correction task
      description: Please refer to the polling guide for checking task status.
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasicRunTaskV2_4'
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/responses/RunError_2'
        '401':
          $ref: '#/components/responses/InvalidApiKey_4'
        '429':
          description: Too many requests within a given amount of time
          content:
            application/json:
              schema:
                type: object
      operationId: postS2sV20TaskColorizeColorCorrect
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/colorize/color-correct/{task_id}:
    get:
      summary: Check an AI Photo Color Correction task status
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of an AI Photo Color Correction task status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ColorizeTaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId_4'
        '401':
          $ref: '#/components/responses/InvalidApiKey_4'
        '500':
          $ref: '#/components/responses/TaskTimeout_4'
      operationId: getS2sV20TaskColorizeColorCorrectByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/2d-vto/earring:
    post:
      summary: Run an AI 2D Virtual Try On Earring task
      description: This endpoint initiates the earring virtual try-on process. You must provide source file(s) and reference image(s) (via URL or File ID), along with specific parameters for alignment, shadowing, and wearing location. The task will be processed asynchronously, and you can check its status using the task_id returned in this response.
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarringRunTaskV2'
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20Task2dVtoEarring
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/2d-vto/earring/{task_id}:
    get:
      summary: Check the status of a AI 2D Virtual Try On Earring task
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20Task2dVtoEarringByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/eye-color-vto:
    post:
      summary: Run an AI Eye Color Lens task
      description: 'AI tasks are asynchronous. Prefer webhook-based completion handling when the feature supports webhooks. Configure your webhook endpoint, verify webhook signatures, and use the received `task_id` to query the task result after a `success` or `error` notification. See the webhook integration guide for setup and verification details.


        If webhooks are not supported for the feature, or if your integration cannot use webhooks, implement polling. After starting an AI task, keep polling the task status endpoint at the given `polling_interval` until the task status is either `success` or `error`.


        Do not stop polling a running task for longer than the allowed polling window. If the task is not polled in time, the task may expire; a later status check can return `InvalidTaskId` even if processing finished, and the consumed units may still be charged.'
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BasicRunTaskV2WithRequiredRef'
              - type: object
                required:
                - version
                - effect
                properties:
                  version:
                    type: string
                    enum:
                    - '1.0'
                  effect:
                    type: object
                    required:
                    - intensity
                    properties:
                      intensity:
                        type: integer
                        maximum: 100
                        minimum: 1
                      enlargement:
                        type: integer
                        maximum: 100
                        minimum: 0
                        default: 0
                      skin_smooth_strength:
                        type: integer
                        minimum: 0
                        maximum: 100
                        default: 50
                      skin_smooth_color_intensity:
                        type: integer
                        minimum: 0
                        maximum: 100
                        default: 50
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskEyeColorVto
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/eye-color-vto/{task_id}:
    get:
      summary: Check the status of a AI Eye Color Lens task
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/TaskStatusResponseV2'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        results:
                          type: object
                          properties:
                            timed:
                              type: number
                            timed_apply:
                              type: number
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskEyeColorVtoByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/template/fabric:
    get:
      summary: List predefined templates
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          example: 20
        description: Number of results to return in this page. Valid value should be between 1 and 20. Default 20.
      - name: starting_token
        in: query
        schema:
          type: string
          example: 73a3c9e69b89
        description: Token for current page. Start with `null` for the first page, and use `next_token` from the previous response to start next page
      responses:
        '200':
          description: Successful retrieval of styles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponseSchema'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersSchema'
        '401':
          description: Invalid API Key or Inactive API Key or Expired API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeySchema'
      operationId: getS2sV20TaskTemplateFabric
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/fabric:
    post:
      summary: Run an Fabric task
      description: Please refer to the polling guide for checking task status.
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunWithSingleTemplateAndSrcUrl_3'
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunErrorSchema'
        '401':
          description: Invalid API Key or Inactive API Key or Expired API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeySchema'
        '429':
          description: Too many requests within a given amount of time
          content:
            application/json:
              schema:
                type: object
      operationId: postS2sV20TaskFabric
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/fabric/{task_id}:
    get:
      summary: Check the status of the Fabric task
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2_4'
        '400':
          description: Invalid task id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTaskIdSchema'
        '401':
          description: Invalid API Key or Inactive API Key or Expired API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeySchema'
        '500':
          description: The task has no response in the expected time
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskTimeoutSchema'
      operationId: getS2sV20TaskFabricByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/face-attr-analysis:
    post:
      summary: Run an Face Attribute Analysis task
      description: This endpoint initiates the face attribute analysis process. You must provide a source file (via URL or File ID) and specify which features to analyze. The task will be processed asynchronously, and you can check its status using the task_id returned in this response.
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BasicRunTaskV2'
              - type: object
                properties:
                  face_angle_strictness_level:
                    $ref: '#/components/schemas/BasicFaceAttrReqFaceAngleStrictnessLevel'
                  features:
                    $ref: '#/components/schemas/BasicFaceAttrReqFeatures'
                required:
                - features
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskFaceAttrAnalysis
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/face-attr-analysis/{task_id}:
    get:
      summary: Check an Face Attribute Analysis task status
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Response status
                    example: 200
                  data:
                    type: object
                    properties:
                      task_status:
                        type: string
                        enum:
                        - running
                        - success
                        - error
                        description: Status of this task
                      error:
                        $ref: '#/components/schemas/EngineErrorCode'
                      error_message:
                        type: string
                        description: Detailed description of error
                      results:
                        allOf:
                        - type: object
                          properties:
                            face_quality:
                              $ref: '#/components/schemas/BasicFaceAttrRespFaceQuality'
                            facialratio:
                              $ref: '#/components/schemas/BasicFaceAttrRespFacialRatio'
                            cheekbone:
                              type: object
                              properties:
                                left:
                                  type: string
                                  enum:
                                  - Flat Cheekbone
                                  - High Cheekbone
                                  - Low Cheekbone
                                  - Round Cheeks
                                right:
                                  type: string
                                  enum:
                                  - Flat Cheekbone
                                  - High Cheekbone
                                  - Low Cheekbone
                                  - Round Cheeks
                                overrall:
                                  type: string
                                  enum:
                                  - Flat Cheekbone
                                  - High Cheekbone
                                  - Low Cheekbone
                                  - Round Cheeks
                            eyelid:
                              type: object
                              properties:
                                left_eyelid:
                                  type: string
                                  enum:
                                  - Hooded-lid
                                  - Single-lid
                                  - Double-lid
                                  - Deep-Set
                                left_angle:
                                  type: string
                                  enum:
                                  - Downturned
                                  - Upturned
                                  - Average
                                left_shape:
                                  type: string
                                  enum:
                                  - Narrow
                                  - Round
                                  - Almond
                                right_eyelid:
                                  type: string
                                  enum:
                                  - Hooded-lid
                                  - Single-lid
                                  - Double-lid
                                  - Deep-Set
                                right_angle:
                                  type: string
                                  enum:
                                  - Downturned
                                  - Upturned
                                  - Average
                                right_shape:
                                  type: string
                                  enum:
                                  - Narrow
                                  - Round
                                  - Almond
                                setting:
                                  type: string
                                  enum:
                                  - Close-set
                                  - Wide-Set
                                  - Average
                                size:
                                  type: string
                                  description: 'alternatives: [Big, Small, Average]'
                                  enum:
                                  - Big
                                  - Small
                                  - Average
                            eyebrow:
                              type: object
                              properties:
                                gap:
                                  type: string
                                  enum:
                                  - Far-Apart
                                  - Close
                                  - Average
                                left_shape:
                                  type: string
                                  enum:
                                  - Hard Angled
                                  - Soft Angled
                                  - Straight
                                  - Rounded
                                  - Obscured
                                left_body_thickness:
                                  type: string
                                  enum:
                                  - Dense
                                  - Sparse
                                  - Average
                                  - Unknown
                                left_tail_thickness:
                                  type: string
                                  enum:
                                  - Dense
                                  - Sparse
                                  - Average
                                  - Unknown
                                left_thinness:
                                  type: string
                                  enum:
                                  - Thin
                                  - Normal
                                left_shortness:
                                  type: string
                                  enum:
                                  - Short
                                  - Normal
                                right_shape:
                                  type: string
                                  enum:
                                  - Hard Angled
                                  - Soft Angled
                                  - Straight
                                  - Rounded
                                  - Obscured
                                right_body_thickness:
                                  type: string
                                  enum:
                                  - Dense
                                  - Sparse
                                  - Average
                                  - Unknown
                                right_tail_thickness:
                                  type: string
                                  enum:
                                  - Dense
                                  - Sparse
                                  - Average
                                  - Unknown
                                right_thinness:
                                  type: string
                                  enum:
                                  - Thin
                                  - Normal
                                right_shortness:
                                  type: string
                                  enum:
                                  - Short
                                  - Normal
                            faceshape:
                              type: string
                              enum:
                              - Triangle
                              - Diamond
                              - Heart
                              - InvTriangle
                              - Oblong
                              - Oval
                              - Round
                              - Square
                              - Unknown
                            lipshape:
                              type: array
                              items:
                                type: string
                                enum:
                                - Bow
                                - Downturned
                                - Full
                                - Heavy Lower Lip
                                - Heavy Upper Lip
                                - Narrow
                                - Round
                                - Thin
                                - Wide
                                - Average
                            nose:
                              type: object
                              properties:
                                width:
                                  type: string
                                  enum:
                                  - Narrow
                                  - Broad
                                  - Average
                                length:
                                  type: string
                                  enum:
                                  - Long
                                  - Short
                                  - Average
                            color:
                              type: object
                              properties:
                                eye_color:
                                  type: string
                                  description: hex value of eye color
                                eye_color_name:
                                  type: string
                                  enum:
                                  - Amber
                                  - Brown
                                  - Green
                                  - Blue
                                  - Gray
                                  - Other
                                lip_color:
                                  type: string
                                  description: hex value of lip color
                                eyebrow_color:
                                  type: string
                                  description: hex value of eyebrow color
                                hair_color:
                                  type: string
                                  format: color
                                  enum:
                                  - '#a0a0a0'
                                  - '#722626'
                                  - '#000000'
                                  - '#FAF0BE'
                                  - '#42280E'
                                  - '#808080'
                                  - '#B56637'
                                hair_color_name:
                                  type: string
                                  enum:
                                  - Auburn
                                  - Black
                                  - Blonde
                                  - Brown
                                  - Grey/White
                                  - Red
                            agegender:
                              type: object
                              properties:
                                age:
                                  type: integer
                                gender:
                                  type: string
                                  enum:
                                  - female
                                  - male
                                  - unknown
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskFaceAttrAnalysisByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/face-lift/pre-process:
    post:
      summary: Run an AI Face Lift detection task
      description: 'Use the pre-process task when the source image may contain more than one valid target, or when your integration needs to explicitly choose which detected target receives the effect. For single-target images, pre-process can be skipped when the feature supports a default `index` value and your application does not need manual target selection.


        The pre-process task detects candidate targets in the source image and returns their coordinates in `data.results.result`. Each item in the result array represents one detected target. Review the returned coordinates, map them to the intended face or region in the source image, and use that item''s zero-based array index as the `index` value when creating the effect task.


        For images with multiple detected faces or regions, do not rely on the default `index` value without checking the pre-process result. The effect is applied only to the target selected by `index`, so the integration must confirm the result item that corresponds to the intended target before running the effect task.


        This task is asynchronous. After creating the task, handle completion with webhook if the feature supports it, or poll the corresponding pre-process status endpoint until `data.task_status` is `success` or `error`.'
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BasicRunTaskV2'
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskFaceLiftPreProcess
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/face-lift/pre-process/{task_id}:
    get:
      summary: Check the status of an AI Face Lift detection task
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponsePreProcessSingleIndexWithTimed'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskFaceLiftPreProcessByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/face-lift:
    post:
      summary: Run an AI Face Lift task
      description: 'AI tasks are asynchronous. Prefer webhook-based completion handling when the feature supports webhooks. Configure your webhook endpoint, verify webhook signatures, and use the received `task_id` to query the task result after a `success` or `error` notification. See the webhook integration guide for setup and verification details.


        If webhooks are not supported for the feature, or if your integration cannot use webhooks, implement polling. After starting an AI task, keep polling the task status endpoint at the given `polling_interval` until the task status is either `success` or `error`.


        Do not stop polling a running task for longer than the allowed polling window. If the task is not polled in time, the task may expire; a later status check can return `InvalidTaskId` even if processing finished, and the consumed units may still be charged.'
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaceLiftRunTask'
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskFaceLift
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/face-lift/{task_id}:
    get:
      summary: Check the status of a AI Face Lift task
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2WithTimedAndTimedApply'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskFaceLiftByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/face-reshape/pre-process:
    post:
      summary: Run an AI Face Reshape detection task
      description: 'Use the pre-process task when the source image may contain more than one valid target, or when your integration needs to explicitly choose which detected target receives the effect. For single-target images, pre-process can be skipped when the feature supports a default `index` value and your application does not need manual target selection.


        The pre-process task detects candidate targets in the source image and returns their coordinates in `data.results.result`. Each item in the result array represents one detected target. Review the returned coordinates, map them to the intended face or region in the source image, and use that item''s zero-based array index as the `index` value when creating the effect task.


        For images with multiple detected faces or regions, do not rely on the default `index` value without checking the pre-process result. The effect is applied only to the target selected by `index`, so the integration must confirm the result item that corresponds to the intended target before running the effect task.


        This task is asynchronous. After creating the task, handle completion with webhook if the feature supports it, or poll the corresponding pre-process status endpoint until `data.task_status` is `success` or `error`.'
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BasicRunTaskV2'
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskFaceReshapePreProcess
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/face-reshape/pre-process/{task_id}:
    get:
      summary: Check the status of an AI Face Reshape detection task
      description: 'Use the pre-process task when the source image may contain more than one valid target, or when your integration needs to explicitly choose which detected target receives the effect. For single-target images, pre-process can be skipped when the feature supports a default `index` value and your application does not need manual target selection.


        The pre-process task detects candidate targets in the source image and returns their coordinates in `data.results.result`. Each item in the result array represents one detected target. Review the returned coordinates, map them to the intended face or region in the source image, and use that item''s zero-based array index as the `index` value when creating the effect task.


        For images with multiple detected faces or regions, do not rely on the default `index` value without checking the pre-process result. The effect is applied only to the target selected by `index`, so the integration must confirm the result item that corresponds to the intended target before running the effect task.


        This task is asynchronous. After creating the task, handle completion with webhook if the feature supports it, or poll the corresponding pre-process status endpoint until `data.task_status` is `success` or `error`.'
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/TaskStatusResponsePreProcessNoUrlBase'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        results:
                          type: object
                          properties:
                            timed:
                              type: number
                            result:
                              type: array
                              items:
                                type: object
                                properties:
                                  left:
                                    type: number
                                  top:
                                    type: number
                                  width:
                                    type: number
                                  height:
                                    type: number
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskFaceReshapePreProcessByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/face-reshape:
    post:
      summary: Run an AI Face Reshape task
      description: 'AI tasks are asynchronous. Prefer webhook-based completion handling when the feature supports webhooks. Configure your webhook endpoint, verify webhook signatures, and use the received `task_id` to query the task result after a `success` or `error` notification. See the webhook integration guide for setup and verification details.


        If webhooks are not supported for the feature, or if your integration cannot use webhooks, implement polling. After starting an AI task, keep polling the task status endpoint at the given `polling_interval` until the task status is either `success` or `error`.


        Do not stop polling a running task for longer than the allowed polling window. If the task is not polled in time, the task may expire; a later status check can return `InvalidTaskId` even if processing finished, and the consumed units may still be charged.'
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BasicRunTaskV2'
              - type: object
                required:
                - version
                - features
                - global
                properties:
                  version:
                    type: string
                    description: 'Version of the features specification. Defaults to `"1.0"` unless otherwise specified.

                      '
                    default: '1.0'
                    example: '1.0'
                  index:
                    type: integer
                    example: 0
                    default: 0
                    description: "Zero-based index of the target object to apply the effect to. For multi-objects images, run the pre-process task first, inspect the object coordinates in `data.results.result`, and pass the index of the selected object here.\n\nThe pre-processing step analyzes the input image to identify all detectable objects before any effect is applied. It runs a detection task that returns structured data for each object, including a list of bounding box coordinates. The position of each entry in this list serves as its zero-based index, which is then used to specify the target object for the effect.\n\nThis information is returned in a structured format, commonly under `data.results.result`.\nBy running this step first, you can:\n    * Understand how many objects are present in the image\n    * Inspect their positions and sizes\n    * Select the correct target object by its index\n\nAlways run the pre-processing step for images with multiple objects.\nReview `data.results.result` to identify objects and their indices.\nUse the corresponding zero-based index to select the correct target."
                  features:
                    type: object
                    description: Cannot be all zero
                    minProperties: 1
                    allOf:
                    - $ref: '#/components/schemas/FaceReshapeFaceFeature'
                    - $ref: '#/components/schemas/FaceReshapeEyeFeature'
                    - $ref: '#/components/schemas/FaceReshapeNoseFeature'
                    - $ref: '#/components/schemas/FaceReshapeLipFeature'
                  global:
                    type: object
                    description: Skin smooth setup
                    properties:
                      skin_smooth_strength:
                        type: integer
                        minimum: 0
                        maximum: 100
                        example: 50
                      skin_smooth_color_intensity:
                        type: integer
                        minimum: 0
                        maximum: 100
                        example: 50
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskFaceReshape
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/face-reshape/{task_id}:
    get:
      summary: Check the status of a AI Face Reshape task
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/TaskStatusResponseV2'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        results:
                          type: object
                          properties:
                            timed:
                              type: number
                            timed_apply:
                              type: number
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskFaceReshapeByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/face-swap/pre-process:
    post:
      summary: Run an AI Face Swap face detection task
      description: 'Use the pre-process task when the source image may contain more than one valid target, or when your integration needs to explicitly choose which detected target receives the effect. For single-target images, pre-process can be skipped when the feature supports a default `index` value and your application does not need manual target selection.


        The pre-process task detects candidate targets in the source image and returns their coordinates in `data.results.result`. Each item in the result array represents one detected target. Review the returned coordinates, map them to the intended face or region in the source image, and use that item''s zero-based array index as the `index` value when creating the effect task.


        For images with multiple detected faces or regions, do not rely on the default `index` value without checking the pre-process result. The effect is applied only to the target selected by `index`, so the integration must confirm the result item that corresponds to the intended target before running the effect task.


        This task is asynchronous. After creating the task, handle completion with webhook if the feature supports it, or poll the corresponding pre-process status endpoint until `data.task_status` is `success` or `error`.'
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BasicRunTaskV2'
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskFaceSwapPreProcess
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/face-swap/pre-process/{task_id}:
    get:
      summary: Check a AI Face Swap face detection task status
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/TaskStatusResponsePreProcessBase'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        results:
                          type: object
                          properties:
                            url:
                              type: string
                              description: URL to download this result. Valid for 2 hours
                              example: https://example.com/sample-result-url
                            faces:
                              type: array
                              items:
                                type: object
                                properties:
                                  bbox:
                                    type: array
                                    description: The location of face. There are 4 numbers, the format is [x1, y1, x2, y2], which (x1, y1) is the top-left point, while (x2, y2) is the bottom-right point.
                                    items:
                                      type: integer
                                      example:
                                      - 0
                                      - 0
                                      - 100
                                      - 100
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskFaceSwapPreProcessByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/face-swap:
    post:
      summary: Run an AI Face Swap task
      description: 'AI tasks are asynchronous. Prefer webhook-based completion handling when the feature supports webhooks. Configure your webhook endpoint, verify webhook signatures, and use the received `task_id` to query the task result after a `success` or `error` notification. See the webhook integration guide for setup and verification details.


        If webhooks are not supported for the feature, or if your integration cannot use webhooks, implement polling. After starting an AI task, keep polling the task status endpoint at the given `polling_interval` until the task status is either `success` or `error`.


        Do not stop polling a running task for longer than the allowed polling window. If the task is not polled in time, the task may expire; a later status check can return `InvalidTaskId` even if processing finished, and the consumed units may still be charged.'
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BasicRunTaskV2WithMultiRequiredRef'
              - type: object
                required:
                - face_mapping
                properties:
                  face_mapping:
                    type: array
                    description: "The designated ref image id and face position information to be swapped for each detected face on target image.\n\nLogic Rules\n  1.  Index Mapping: The `index` maps directly to the order of images provided in your reference list.\n  2.  Skipping Swaps: To skip swapping a specific face detected in the source, set both `index` and `position` to `-1`.\n  3.  Array Order: The order of objects in the array should match based on `position`.\n\n\nExample Use Case\n\nScenario:\n  Reference List: 2 images provided (Image A, Image B).\n  Source Image: Contains 3 faces detected (Face 0, Face 1, Face 2).\n\n\nGoal:\n  Swap Face 0 (Source) with Image 1 (Reference).\n  Skip swapping Face 1 (Source).\n  Swap Face 2 (Source) with Image 0 (Reference).\n\n\nConfiguration:\n  \"face_mapping\": [\n      {\n          \"index\": 1,  // Use the second reference image\n          \"position\": 0 // Apply to the first detected face in source\n      },\n      {\n          \"index\": -1, // Skip swapping\n          \"position\": -1 // Skip swapping\n      },\n      {\n          \"index\": 0,  // Use the first reference image\n          \"position\": 2 // Apply to the third detected face in source\n      }\n  ]\n"
                    items:
                      type: object
                      properties:
                        index:
                          type: integer
                          description: The index of reference image
                        position:
                          type: integer
                          description: The index of face on the target image. The index is from faces of detection result.
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskFaceSwap
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/face-swap/{task_id}:
    get:
      summary: Check a AI Face Swap task status
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponseV2'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskFaceSwapByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/fitzpatrick-scale-analyzer/pre-process:
    post:
      summary: Run an AI Fitzpatrick Scale Analyzer detection task
      description: 'Use the pre-process task when the source image may contain more than one valid target, or when your integration needs to explicitly choose which detected target receives the effect. For single-target images, pre-process can be skipped when the feature supports a default `index` value and your application does not need manual target selection.


        The pre-process task detects candidate targets in the source image and returns their coordinates in `data.results.result`. Each item in the result array represents one detected target. Review the returned coordinates, map them to the intended face or region in the source image, and use that item''s zero-based array index as the `index` value when creating the effect task.


        For images with multiple detected faces or regions, do not rely on the default `index` value without checking the pre-process result. The effect is applied only to the target selected by `index`, so the integration must confirm the result item that corresponds to the intended target before running the effect task.


        This task is asynchronous. After creating the task, handle completion with webhook if the feature supports it, or poll the corresponding pre-process status endpoint until `data.task_status` is `success` or `error`.'
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BasicRunTaskV2'
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskFitzpatrickScaleAnalyzerPreProcess
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/fitzpatrick-scale-analyzer/pre-process/{task_id}:
    get:
      summary: Check the status of a AI Fitzpatrick Scale Analyzer detection task
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          example: grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe
        description: ID of task to check
      responses:
        '200':
          description: Successful check of the task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponsePreProcessSingleIndexWithTimed'
        '400':
          $ref: '#/components/responses/InvalidTaskId'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '500':
          $ref: '#/components/responses/TaskTimeout'
      operationId: getS2sV20TaskFitzpatrickScaleAnalyzerPreProcessByTaskId
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/fitzpatrick-scale-analyzer:
    post:
      summary: Run an AI Fitzpatrick Scale Analyzer task
      description: 'AI tasks are asynchronous. Prefer webhook-based completion handling when the feature supports webhooks. Configure your webhook endpoint, verify webhook signatures, and use the received `task_id` to query the task result after a `success` or `error` notification. See the webhook integration guide for setup and verification details.


        If webhooks are not supported for the feature, or if your integration cannot use webhooks, implement polling. After starting an AI task, keep polling the task status endpoint at the given `polling_interval` until the task status is either `success` or `error`.


        Do not stop polling a running task for longer than the allowed polling window. If the task is not polled in time, the task may expire; a later status check can return `InvalidTaskId` even if processing finished, and the consumed units may still be charged.'
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BasicRunTaskV2'
              - type: object
                required:
                - version
                properties:
                  version:
                    type: string
                    description: 'Version of the features specification. Defaults to `"1.0"` unless otherwise specified.

                      '
                    example: '1.0'
                    enum:
                    - '1.0'
                  index:
                    type: integer
                    description: "Zero-based index of the target object to apply the effect to. For multi-objects images, run the pre-process task first, inspect the object coordinates in `data.results.result`, and pass the index of the selected object here.\n\nThe pre-processing step analyzes the input image to identify all detectable objects before any effect is applied. It runs a detection task that returns structured data for each object, including a list of bounding box coordinates. The position of each entry in this list serves as its zero-based index, which is then used to specify the target object for the effect.\n\nThis information is returned in a structured format, commonly under `data.results.result`.\nBy running this step first, you can:\n    * Understand how many objects are present in the image\n    * Inspect their positions and sizes\n    * Select the correct target object by its index\n\nAlways run the pre-processing step for images with multiple objects.\nReview `data.results.result` to identify objects and their indices.\nUse the corresponding zero-based index to select the correct target."
                    default: 0
                    example: 0
      responses:
        '200':
          description: Successful execution of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicRunTaskResponseV2'
        '400':
          description: Failed execution of task
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RunError'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: postS2sV20TaskFitzpatrickScaleAnalyzer
      x-operation-id-source: derived
    servers:
    - url: https://yce-api-01.makeupar.com
  /s2s/v2.0/task/fitzpatrick-scale-analyzer/{task_id}:
    get:
      summary: Check the status of a AI Fitzpatrick Scale Analyzer task
      tags:
      - V1.0
      security:
      - BearerAuthenticationV2: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
[...]
