{
  "openapi": "3.0.0",
  "info": {
    "title": "YouCam API",
    "version": "v1.15",
    "termsOfService": "https://www.makeupar.com/perfectbeauty/youcam/terms-of-service-api",
    "contact": {
      "email": "YouCamOnlineEditor_API@perfectcorp.com"
    },
    "license": {
      "name": "Privacy policy",
      "url": "https://www.makeupar.com/perfectbeauty/youcam/privacy-policy-api"
    },
    "x-logo": {
      "url": "https://bcw-media.s3.ap-northeast-1.amazonaws.com/strapi/assets/API_header_ef809971e3.svg",
      "altText": "YouCam API",
      "href": "https://yce.perfectcorp.com/ai-api"
    },
    "description": "YouCam API"
  },
  "servers": [
    {
      "url": "https://yce-api-01.makeupar.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuthentication": {
        "type": "http",
        "scheme": "bearer",
        "description": "Use the \\`access_token\\` obtained from authentication and pass it in header: \\`Authorization:Bearer <access_token>\\`"
      },
      "BearerAuthenticationV2": {
        "type": "http",
        "scheme": "bearer",
        "description": "Use the standard 'Bearer authentication'. Put your 'API Key' in header: `Authorization:Bearer YOUR_API_KEY`. Notice that there is ' ' a space between 'Bearer' and the 'YOUR_API_KEY'."
      }
    },
    "parameters": {
      "TemplatePageSize": {
        "name": "page_size",
        "in": "query",
        "schema": {
          "type": "integer",
          "example": 20,
          "minimum": 1,
          "maximum": 20
        },
        "description": "Number of results to return in this page. Valid value should be between 1 and 20. Default 20."
      },
      "TemplateStartingToken": {
        "name": "starting_token",
        "in": "query",
        "schema": {
          "type": "string",
          "example": "73a3c9e69b89"
        },
        "description": "Token for current page. Start with `null` for the first page, and use `next_token` from the previous response to start next page"
      }
    },
    "schemas": {
      "EngineErrorCode": {
        "type": "string",
        "nullable": true,
        "enum": [
          "error_exceed_max_image_size",
          "exceed_max_filesize",
          "invalid_parameter",
          "error_download_image",
          "error_download_mask",
          "error_decode_image",
          "error_decode_mask",
          "error_nsfw_content_detected",
          "error_no_face",
          "error_pose",
          "error_face_parsing",
          "error_inference",
          "exceed_nsfw_retry_limits",
          "error_upload",
          "unknown_internal_error"
        ],
        "description": "Errors:\n- \\`error_exceed_max_image_size\\`  - Input image size exceeds the maximum limit\n- \\`exceed_max_filesize\\` - Input file size exceeds the maximum limit\n- \\`invalid_parameter\\` - Invalid parameter value\n- \\`error_download_image\\` - Download source image error\n- \\`error_download_mask\\` - Download mask image error\n- \\`error_decode_image\\` - Decode source image error\n- \\`error_decode_mask\\` - Decode mask image error\n- \\`error_nsfw_content_detected\\` - NSFW content detected in source image\n- \\`error_no_face\\` - No face detected on source image\n- \\`error_pose\\` - Failed to detect pose on source image\n- \\`error_face_parsing\\` - Failed to do face segmentation on source image\n- \\`error_inference\\` - Inference pipeline error\n- \\`exceed_nsfw_retry_limits\\` - Exceed the retry limits to avoid generated NSFW image\n- \\`error_upload\\` - Upload result image error\n- \\`unknown_internal_error\\` - Others\n"
      },
      "FileV1.1": {
        "title": "File V1.1",
        "description": "This object represents a file.",
        "type": "object",
        "required": [
          "files"
        ],
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "content_type",
                "file_name",
                "file_size"
              ],
              "properties": {
                "content_type": {
                  "type": "string",
                  "example": "image/jpg",
                  "description": "Specifies the file's content MIME type. Supported values currently include image and video formats, such as image/jpg and video/mp4."
                },
                "file_name": {
                  "type": "string",
                  "example": "my-selfie.jpg",
                  "description": "Name of this file"
                },
                "file_size": {
                  "type": "integer",
                  "example": 50000,
                  "description": "File size in bytes. Supported limits are 10 MB for image files and 100 MB for video files."
                }
              }
            }
          }
        }
      },
      "VideoFileV1.1": {
        "title": "VideoFile V1.1",
        "description": "This object represents a video file.",
        "type": "object",
        "required": [
          "files"
        ],
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "content_type",
                "file_name",
                "file_size"
              ],
              "properties": {
                "content_type": {
                  "type": "string",
                  "example": "video/mp4",
                  "description": "Content MIME type for this file. Currently available values are listed in the enum."
                },
                "file_name": {
                  "type": "string",
                  "example": "my-selfie.mp4",
                  "description": "Name of this file"
                },
                "file_size": {
                  "type": "integer",
                  "example": 50000,
                  "description": "Content length for this file in bytes. Should not be larger than 100MB."
                }
              }
            }
          }
        }
      },
      "BasicFileResponse": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "content_type": {
                  "type": "string",
                  "example": "image/jpg",
                  "description": "Content MIME type for this file."
                },
                "file_name": {
                  "type": "string",
                  "example": "my-selfie.jpg",
                  "description": "Name of this file"
                },
                "file_id": {
                  "type": "string",
                  "example": "U8aqJbsXGT537jtGnEDFHqxdDXqh8+oTF/cSkLimzuvVwMP+Jb1XbjPsf7ZgUgLY",
                  "description": "ID of this file. Other run task API will need this \\`file_id\\`."
                },
                "requests": {
                  "type": "array",
                  "description": "Using upload \\`url\\`, \\`headers\\`, \\`method\\` below to upload file. After completion, the \\`file_id\\` is used to proceed with calling run task API.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "headers": {
                        "type": "object",
                        "example": {
                          "Content-Type": "image/jpg",
                          "Content-Length": 50000
                        },
                        "description": "Headers to include when uploading the file"
                      },
                      "url": {
                        "type": "string",
                        "example": "https://example.com/presigned-upload-url",
                        "description": "URL to upload this file"
                      },
                      "method": {
                        "type": "string",
                        "example": "PUT",
                        "description": "HTTP method to upload this file"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "BasicVideoFileResponse": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "content_type": {
                  "type": "string",
                  "example": "video/mp4",
                  "description": "Content MIME type for this file."
                },
                "file_name": {
                  "type": "string",
                  "example": "my-selfie.mp4",
                  "description": "Name of this file"
                },
                "file_id": {
                  "type": "string",
                  "example": "U8aqJbsXGT537jtGnEDFHqxdDXqh8+oTF/cSkLimzuvVwMP+Jb1XbjPsf7ZgUgLY",
                  "description": "ID of this file. Other run task API will need this \\`file_id\\`."
                },
                "requests": {
                  "type": "array",
                  "description": "Using upload \\`url\\`, \\`headers\\`, \\`method\\` below to upload file. After completion, the \\`file_id\\` is used to proceed with calling run task API.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "headers": {
                        "type": "object",
                        "example": {
                          "Content-Type": "video/mp4",
                          "Content-Length": 50000
                        },
                        "description": "Headers to include when uploading the file"
                      },
                      "url": {
                        "type": "string",
                        "example": "https://example.com/presigned-upload-url",
                        "description": "URL to upload this file"
                      },
                      "method": {
                        "type": "string",
                        "example": "PUT",
                        "description": "HTTP method to upload this file"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "FileResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200,
            "description": "Response status"
          },
          "result": null
        },
        "$ref": "#/components/schemas/BasicFileResponse"
      },
      "FileResponseV2": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200,
            "description": "Response status"
          },
          "data": null
        },
        "$ref": "#/components/schemas/BasicFileResponse"
      },
      "VideoFileResponseV2": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200,
            "description": "Response status"
          },
          "data": null
        },
        "$ref": "#/components/schemas/BasicVideoFileResponse"
      },
      "VideoFileResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200,
            "description": "Response status"
          },
          "result": null
        },
        "$ref": "#/components/schemas/BasicVideoFileResponse"
      },
      "TaskStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "Response status",
            "example": 200
          },
          "result": {
            "type": "object",
            "properties": {
              "polling_interval": {
                "type": "integer",
                "description": "Milliseconds waiting time for start next polling. Note that the task will lose if no polling in 10 seconds",
                "example": 1000
              },
              "status": {
                "type": "string",
                "enum": [
                  "running",
                  "success",
                  "error"
                ],
                "description": "Status of this task"
              },
              "error": {
                "$ref": "#/components/schemas/EngineErrorCode"
              },
              "error_message": {
                "type": "string",
                "description": "Detailed description of error"
              },
              "results": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of action",
                      "example": 0
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dst_id": {
                            "type": "string",
                            "description": "File ID of the result file is used for integrating other task. No need to reupload file.",
                            "example": "Iq4cbOV90rXJHSTfBGBTTYXBF9p1B0xCmy8nIrjTa10="
                          },
                          "url": {
                            "type": "string",
                            "description": "URL to download this result. Valid for 2 hours",
                            "example": "https://example.com/sample-result-url"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TaskStatusResponseV2": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "Response status",
            "example": 200
          },
          "data": {
            "type": "object",
            "properties": {
              "task_status": {
                "type": "string",
                "enum": [
                  "running",
                  "success",
                  "error"
                ],
                "description": "Status of this task"
              },
              "error": {
                "$ref": "#/components/schemas/EngineErrorCode"
              },
              "error_message": {
                "type": "string",
                "description": "Detailed description of error"
              },
              "results": null
            }
          }
        },
        "$ref": "#/components/schemas/TaskStatusResponseBodySingleUrlResultsV2"
      },
      "VidTaskStatusResponseV2": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "Response status",
            "example": 200
          },
          "data": {
            "type": "object",
            "properties": {
              "task_status": {
                "type": "string",
                "enum": [
                  "running",
                  "success",
                  "error"
                ],
                "description": "Status of this task"
              },
              "error": {
                "$ref": "#/components/schemas/EngineErrorCode"
              },
              "error_message": {
                "type": "string",
                "description": "Detailed description of error"
              },
              "results": null
            }
          }
        },
        "$ref": "#/components/schemas/VidTaskStatusResponseBodySingleUrlResultsV2"
      },
      "TaskStatusResponseBodySingleUrlResultsV2": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "URL to download this result. Valid for 2 hours",
            "example": "https://example.com/sample-result-url"
          }
        }
      },
      "VidTaskStatusResponseBodySingleUrlResultsV2": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "URL to download this result. Valid for 2 hours",
            "example": "https://example.com/sample-result-url"
          }
        }
      },
      "TaskStatusResponseMultiResV2": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "Response status",
            "example": 200
          },
          "data": {
            "type": "object",
            "properties": {
              "task_status": {
                "type": "string",
                "enum": [
                  "running",
                  "success",
                  "error"
                ],
                "description": "Status of this task"
              },
              "error": {
                "$ref": "#/components/schemas/EngineErrorCode"
              },
              "error_message": {
                "type": "string",
                "description": "Detailed description of error"
              },
              "results": null
            }
          }
        },
        "$ref": "#/components/schemas/TaskStatusResponseBodyMultiUrlResultsV2"
      },
      "TaskStatusResponseBodyMultiUrlResultsV2": {
        "type": "object",
        "properties": {
          "output": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "URL to download this result. Valid for 2 hours",
                  "example": "https://example.com/sample-result-url"
                }
              }
            }
          }
        }
      },
      "TaskStatusResponsePreProcessBase": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "Response status",
            "example": 200
          },
          "data": {
            "type": "object",
            "properties": {
              "task_status": {
                "type": "string",
                "enum": [
                  "running",
                  "success",
                  "error"
                ],
                "description": "Status of this task"
              },
              "error": {
                "$ref": "#/components/schemas/EngineErrorCode"
              },
              "error_message": {
                "type": "string",
                "description": "Detailed description of error"
              },
              "results": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TaskStatusResponseBodySingleUrlResultsV2"
                  }
                ]
              }
            }
          }
        }
      },
      "TaskStatusResponsePreProcessNoUrlBase": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "Response status",
            "example": 200
          },
          "data": {
            "type": "object",
            "properties": {
              "task_status": {
                "type": "string",
                "enum": [
                  "running",
                  "success",
                  "error"
                ],
                "description": "Status of this task"
              },
              "error": {
                "$ref": "#/components/schemas/EngineErrorCode"
              },
              "error_message": {
                "type": "string",
                "description": "Detailed description of error"
              }
            }
          }
        }
      },
      "ColorizeTaskStatusResponseV2": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "Response status",
            "example": 200
          },
          "data": {
            "type": "object",
            "properties": {
              "task_status": {
                "type": "string",
                "enum": [
                  "running",
                  "success",
                  "error"
                ],
                "description": "Status of this task"
              },
              "error": {
                "$ref": "#/components/schemas/EngineErrorCode"
              },
              "error_message": {
                "type": "string",
                "description": "Detailed description of error"
              },
              "results": null
            }
          }
        },
        "$ref": "#/components/schemas/TaskStatusResponseBodyMultiUrlResultsV2"
      },
      "BasicRunTaskV2SrcFileUrl": {
        "type": "object",
        "required": [
          "src_file_url"
        ],
        "properties": {
          "src_file_url": {
            "type": "string",
            "description": "Url of the file to run task. The url should be publicly accessible.",
            "example": "https://example.com/selfie.jpg"
          }
        }
      },
      "BasicRunTaskV2VidSrcFileUrl": {
        "type": "object",
        "required": [
          "src_file_url"
        ],
        "properties": {
          "src_file_url": {
            "type": "string",
            "description": "Url of the file to run task. The url should be publicly accessible.",
            "example": "https://example.com/cat_video.mp4"
          }
        }
      },
      "BasicRunTaskV2SrcFileId": {
        "type": "object",
        "required": [
          "src_file_id"
        ],
        "properties": {
          "src_file_id": {
            "type": "string",
            "description": "ID of file to run task. File ID from upload file API.",
            "example": "pfNK5PuRe0MrwLHcGA3DOmB1ahwfXTbYHjv+KoBIxbE="
          }
        }
      },
      "BasicRunTaskV2RefFileUrl": {
        "type": "object",
        "properties": {
          "ref_file_url": {
            "type": "string",
            "description": "Url of the reference file to run task. The url should be publicly accessible.",
            "example": "https://example.com/accessory.jpg"
          }
        }
      },
      "BasicRunTaskV2RefFileUrls": {
        "type": "object",
        "properties": {
          "ref_file_urls": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "description": "Urls of the reference file to run task. The url should be publicly accessible.",
              "example": "https://example.com/accessory.jpg"
            }
          }
        }
      },
      "BasicRunTaskV2RefFileId": {
        "type": "object",
        "properties": {
          "ref_file_id": {
            "type": "string",
            "description": "ID of the reference file to run task. File ID from upload file API.",
            "example": "pfNK5PuRe0MrwLHcGA3DOmB1ahwfXTbYHjv+KoBIxbE="
          }
        }
      },
      "BasicRunTaskV2RefFileIds": {
        "type": "object",
        "properties": {
          "ref_file_ids": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "description": "IDs of the reference file to run task. File ID from upload file API.",
              "example": "pfNK5PuRe0MrwLHcGA3DOmB1ahwfXTbYHjv+KoBIxbE="
            }
          }
        }
      },
      "BasicRunTaskV2MskFileUrl": {
        "type": "object",
        "properties": {
          "msk_file_url": {
            "type": "string",
            "example": "https://example.com/mask.jpg",
            "description": "URL of the mask file. This should be a grey scale mask image with the exact same width and height with the input image where white pixels indicate foreground and black pixels represent background. The URL should be publicly accessible."
          }
        }
      },
      "BasicRunTaskV2MskFileId": {
        "type": "object",
        "properties": {
          "msk_file_id": {
            "type": "string",
            "example": "eA1CCL3kG4w2s0kpbo2pkah59VfxzIjxahJD2wWm7zw=",
            "description": "ID of the mask file. This should be a grey scale mask image with the exact same width and height with the input image where white pixels indicate foreground and black pixels represent background. File ID from upload file API."
          }
        }
      },
      "BasicRunTaskV2": {
        "title": "BasicRunTaskV2",
        "anyOf": [
          {
            "title": "Run task with src file url",
            "allOf": [
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileUrl"
              }
            ]
          },
          {
            "title": "Run task with src file ID",
            "allOf": [
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileId"
              }
            ]
          }
        ]
      },
      "BasicRunTaskV2WithRef": {
        "title": "BasicRunTaskV2WithRef",
        "anyOf": [
          {
            "allOf": [
              {
                "title": "Run task with src file url & ref file url"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileUrl"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2RefFileUrl"
              }
            ]
          },
          {
            "allOf": [
              {
                "title": "Run task with src file ID & ref file ID"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileId"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2RefFileId"
              }
            ]
          }
        ]
      },
      "BasicRunTaskV2WithMultiRef": {
        "title": "BasicRunTaskV2WithRef",
        "anyOf": [
          {
            "allOf": [
              {
                "title": "Run task with src file url & ref file urls"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileUrl"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2RefFileUrls"
              }
            ]
          },
          {
            "allOf": [
              {
                "title": "Run task with src file url & ref file IDs"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileUrl"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2RefFileIds"
              }
            ]
          },
          {
            "allOf": [
              {
                "title": "Run task with src file ID & ref file urls"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileId"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2RefFileUrls"
              }
            ]
          },
          {
            "allOf": [
              {
                "title": "Run task with src file ID & ref file IDs"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileId"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2RefFileIds"
              }
            ]
          }
        ]
      },
      "BasicRunTaskV2WithRequiredRef": {
        "title": "BasicRunTaskV2WithRef",
        "anyOf": [
          {
            "allOf": [
              {
                "title": "Run task with src file url & ref file url",
                "required": [
                  "ref_file_url"
                ]
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileUrl"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2RefFileUrl"
              }
            ]
          },
          {
            "allOf": [
              {
                "title": "Run task with src file url & ref file ID",
                "required": [
                  "ref_file_id"
                ]
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileUrl"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2RefFileId"
              }
            ]
          },
          {
            "allOf": [
              {
                "title": "Run task with src file ID & ref file url",
                "required": [
                  "ref_file_url"
                ]
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileId"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2RefFileUrl"
              }
            ]
          },
          {
            "allOf": [
              {
                "title": "Run task with src file ID & ref file ID",
                "required": [
                  "ref_file_id"
                ]
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileId"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2RefFileId"
              }
            ]
          }
        ]
      },
      "BasicRunTaskV2VidSrcWithRequiredRefImg": {
        "title": "BasicRunTaskV2VidSrcWithRequiredRefImg",
        "anyOf": [
          {
            "allOf": [
              {
                "title": "Run task with src video url & ref file url",
                "required": [
                  "ref_file_url"
                ]
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2VidSrcFileUrl"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2RefFileUrl"
              }
            ]
          },
          {
            "allOf": [
              {
                "title": "Run task with src video url & ref file ID",
                "required": [
                  "ref_file_id"
                ]
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2VidSrcFileUrl"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2RefFileId"
              }
            ]
          },
          {
            "allOf": [
              {
                "title": "Run task with src video ID & ref file url",
                "required": [
                  "ref_file_url"
                ]
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileId"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2RefFileUrl"
              }
            ]
          },
          {
            "allOf": [
              {
                "title": "Run task with src video ID & ref file ID",
                "required": [
                  "ref_file_id"
                ]
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileId"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2RefFileId"
              }
            ]
          }
        ]
      },
      "BasicRunTaskV2WithMultiRequiredRef": {
        "title": "BasicRunTaskV2WithRef",
        "anyOf": [
          {
            "allOf": [
              {
                "title": "Run task with src file url & ref file urls",
                "required": [
                  "ref_file_urls"
                ]
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileUrl"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2RefFileUrls"
              }
            ]
          },
          {
            "allOf": [
              {
                "title": "Run task with src file url & ref file IDs",
                "required": [
                  "ref_file_ids"
                ]
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileUrl"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2RefFileIds"
              }
            ]
          },
          {
            "allOf": [
              {
                "title": "Run task with src file ID & ref file urls",
                "required": [
                  "ref_file_urls"
                ]
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileId"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2RefFileUrls"
              }
            ]
          },
          {
            "allOf": [
              {
                "title": "Run task with src file ID & ref file IDs",
                "required": [
                  "ref_file_ids"
                ]
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileId"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2RefFileIds"
              }
            ]
          }
        ]
      },
      "BasicRunTaskV2WithMsk": {
        "title": "BasicRunTaskV2WithMsk",
        "anyOf": [
          {
            "allOf": [
              {
                "title": "Run task with src file url & msk file url"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileUrl"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2MskFileUrl"
              }
            ]
          },
          {
            "allOf": [
              {
                "title": "Run task with src file url & msk file ID"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileUrl"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2MskFileId"
              }
            ]
          },
          {
            "allOf": [
              {
                "title": "Run task with src file ID & msk file url"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileId"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2MskFileUrl"
              }
            ]
          },
          {
            "allOf": [
              {
                "title": "Run task with src file ID & msk file ID"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileId"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2MskFileId"
              }
            ]
          }
        ]
      },
      "BasicRunTaskV2WithRequiredMsk": {
        "title": "BasicRunTaskV2WithRequiredMsk",
        "anyOf": [
          {
            "allOf": [
              {
                "title": "Run task with src file url & msk file url",
                "required": [
                  "msk_file_url"
                ]
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileUrl"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2MskFileUrl"
              }
            ]
          },
          {
            "allOf": [
              {
                "title": "Run task with src file url & msk file ID",
                "required": [
                  "msk_file_id"
                ]
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileUrl"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2MskFileId"
              }
            ]
          },
          {
            "allOf": [
              {
                "title": "Run task with src file ID & msk file url",
                "required": [
                  "msk_file_url"
                ]
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileId"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2MskFileUrl"
              }
            ]
          },
          {
            "allOf": [
              {
                "title": "Run task with src file ID & msk file ID",
                "required": [
                  "msk_file_id"
                ]
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileId"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2MskFileId"
              }
            ]
          }
        ]
      },
      "BasicRunVidTaskV2": {
        "allOf": [
          {
            "anyOf": [
              {
                "title": "Run task with src video file url",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BasicRunTaskV2VidSrcFileUrl"
                  }
                ]
              },
              {
                "title": "Run task with src video file ID",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BasicRunTaskV2SrcFileId"
                  }
                ]
              }
            ]
          },
          {
            "title": "BasicRunVidTaskV2",
            "type": "object",
            "required": [
              "dst_duration"
            ],
            "properties": {
              "dst_duration": {
                "type": "integer",
                "description": "The length of video in seconds"
              }
            }
          }
        ]
      },
      "BasicRunVidTaskV2WithRequiredMsk": {
        "title": "BasicRunVidTaskV2WithRequiredMsk",
        "anyOf": [
          {
            "allOf": [
              {
                "title": "Run task with src video url & msk file url",
                "required": [
                  "msk_file_url"
                ]
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2VidSrcFileUrl"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2MskFileUrl"
              }
            ]
          },
          {
            "allOf": [
              {
                "title": "Run task with src video url & msk file ID",
                "required": [
                  "msk_file_id"
                ]
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2VidSrcFileUrl"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2MskFileId"
              }
            ]
          },
          {
            "allOf": [
              {
                "title": "Run task with src file ID & msk file url",
                "required": [
                  "msk_file_url"
                ]
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileId"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2MskFileUrl"
              }
            ]
          },
          {
            "allOf": [
              {
                "title": "Run task with src file ID & msk file ID",
                "required": [
                  "msk_file_id"
                ]
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2SrcFileId"
              },
              {
                "$ref": "#/components/schemas/BasicRunTaskV2MskFileId"
              }
            ]
          }
        ]
      },
      "BasicRunTaskMultiSrcV2": {
        "title": "BasicRunTaskMultiSrcV2",
        "type": "object",
        "properties": {
          "src_file_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Url of the file to run task. The url should be publicly accessible.",
              "example": "https://example.com/selfie.jpg"
            }
          },
          "src_file_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "ID of file to run task. File ID from upload file API. Should provide either 'src_file_url' or 'src_file_id'",
              "example": "pfNK5PuRe0MrwLHcGA3DOmB1ahwfXTbYHjv+KoBIxbE="
            }
          }
        }
      },
      "BasicRunTaskResponseV2": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "Response status",
            "example": 200
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "ID of this task. Task result is valid to query by this ID for 24 hours.",
                "example": "grH0CvsgXuAIHLUzD0V1Ol34hoet3R1tvdbtiVHrDb6_UqCLKIejAIajwxrhOAfe"
              }
            }
          }
        }
      },
      "RunWithSingleTemplateAndSrcUrl": {
        "title": "RunWithSingleTemplateAndSrcUrl",
        "allOf": [
          {
            "$ref": "#/components/schemas/RunWithSingleTemplate"
          },
          {
            "$ref": "#/components/schemas/BasicRunTaskV2"
          }
        ]
      },
      "RunWithSingleTemplateAndSrcUrls": {
        "title": "RunWithSingleTemplateAndSrcUrls",
        "allOf": [
          {
            "$ref": "#/components/schemas/RunWithSingleTemplate"
          },
          {
            "$ref": "#/components/schemas/BasicRunTaskMultiSrcV2"
          }
        ]
      },
      "VidRunWithSingleTemplateAndSrcUrl": {
        "title": "RunWithSingleTemplateAndSrcUrl",
        "allOf": [
          {
            "$ref": "#/components/schemas/RunWithSingleTemplate"
          },
          {
            "$ref": "#/components/schemas/BasicRunVidTaskV2"
          }
        ]
      },
      "RunWithSingleTemplate": {
        "title": "RunWithSingleTemplate",
        "type": "object",
        "properties": {
          "template_id": {
            "type": "string",
            "description": "ID of the template. List predefined templates first, and use the id of a template.",
            "example": "good_template_001"
          }
        },
        "required": [
          "template_id"
        ]
      },
      "RunWithOutputCntCustom200": {
        "type": "object",
        "required": [
          "output_count"
        ],
        "properties": {
          "output_count": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200,
            "description": "The number of generated images. It must be between 1 to 200.",
            "example": 20
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The id of category."
          },
          "name": {
            "type": "string",
            "description": "The name of category."
          },
          "styles": {
            "type": "array",
            "description": "The styles belong to this category.",
            "items": null,
            "$ref": "#/components/schemas/Style"
          },
          "sub_categories": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "The id of sub-category. Use this id to query for its content."
                },
                "name": {
                  "type": "string",
                  "description": "The name of sub-category."
                }
              },
              "required": [
                "id",
                "name"
              ]
            }
          }
        },
        "required": [
          "id",
          "name",
          "styles",
          "sub_categories"
        ]
      },
      "Style": {
        "type": "object",
        "properties": {
          "style_group_id": {
            "type": "integer",
            "description": "The id of style group. Use this as \\`style_group_id\\` when run task."
          },
          "style_id": {
            "type": "integer",
            "description": "The id of style. Use this as \\`style_ids\\` when run task."
          },
          "info": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "description": "The style name"
              },
              "thumb": {
                "type": "string",
                "description": "The thumbnail of style"
              }
            },
            "required": [
              "title",
              "thumb"
            ]
          }
        },
        "required": [
          "style_group_id",
          "style_id",
          "info"
        ]
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the template. Use this as \\`template_id\\` when run task.",
            "example": "good_template_001"
          },
          "thumb": {
            "type": "string",
            "description": "The thumbnail of style."
          },
          "title": {
            "type": "string",
            "description": "The title of the template."
          },
          "category_name": {
            "type": "string",
            "description": "The category name of the template."
          }
        }
      },
      "2dVtoRunTaskV2SrcmskFileUrl": {
        "type": "object",
        "properties": {
          "srcmsk_file_url": {
            "type": "string",
            "description": "Url of the source mask file to run task. The url should be publicly accessible.",
            "example": "https://example.com/src_mask.jpg"
          }
        }
      },
      "2dVtoRunTaskV2SrcmskFileId": {
        "type": "object",
        "properties": {
          "srcmsk_file_id": {
            "type": "string",
            "description": "ID of the source mask file to run task. File ID from upload file API.",
            "example": "pfNK5PuRe0MrwLHcGA3DOmB1ahwfXTbYHjv+KoBIxbE="
          }
        }
      },
      "2dVtoRunTaskV2RefFileUrls": {
        "type": "object",
        "required": [
          "ref_file_urls"
        ],
        "properties": {
          "ref_file_urls": {
            "type": "array",
            "description": "Url of the reference file to run task. The url should be publicly accessible.",
            "example": [
              "https://example.com/vto_sku.jpg"
            ],
            "items": {
              "type": "string"
            }
          }
        }
      },
      "2dVtoRunTaskV2RefFileIds": {
        "type": "object",
        "required": [
          "ref_file_ids"
        ],
        "properties": {
          "ref_file_ids": {
            "type": "array",
            "description": "ID of the reference file file to run task. File ID from upload file API.",
            "example": [
              "pfNK5PuRe0MrwLHcGA3DOmB1ahwfXTbYHjv+KoBIxbE="
            ],
            "items": {
              "type": "string"
            }
          }
        }
      },
      "2dVtoRunTaskV2RefmskFileUrls": {
        "type": "object",
        "properties": {
          "refmsk_file_urls": {
            "type": "array",
            "description": "Url of the reference mask file to run task. The url should be publicly accessible.",
            "example": [
              "https://example.com/vto_sku_mask.jpg"
            ],
            "items": {
              "type": "string"
            }
          }
        }
      },
      "2dVtoRunTaskV2RefmskFileIds": {
        "type": "object",
        "properties": {
          "refmsk_file_ids": {
            "type": "array",
            "description": "ID of the reference mask file file to run task. File ID from upload file API.",
            "example": [
              "pfNK5PuRe0MrwLHcGA3DOmB1ahwfXTbYHjv+KoBIxbE="
            ],
            "items": {
              "type": "string"
            }
          }
        }
      },
      "2dVtoRunTaskV2SrcInfo": {
        "type": "object",
        "required": [
          "source_info"
        ],
        "properties": {
          "source_info": {
            "type": "object",
            "description": "Contain source photo informations.",
            "properties": {
              "name": {
                "type": "string",
                "description": "The source url or File ID.",
                "example": "https://example.com/selfie.jpg"
              },
              "mask_name": {
                "type": "string",
                "description": "The source mask url or File ID.",
                "example": "https://example.com/src_mask.jpg"
              }
            },
            "required": [
              "name"
            ]
          }
        }
      },
      "2dVtoRunTaskV2ObjInfos": {
        "type": "object",
        "required": [
          "object_infos"
        ],
        "properties": {
          "object_infos": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "Contain several object informations in this list.",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The reference url or File ID. Indicate which reference product image should be matched.",
                  "example": "https://example.com/vto_sku.jpg"
                },
                "mask_name": {
                  "type": "string",
                  "description": "The reference mask url or File ID. Indicate which reference product image should be matched.",
                  "example": "https://example.com/vto_sku_mask.jpg"
                }
              },
              "required": [
                "name"
              ]
            }
          }
        }
      },
      "2dVtoRunTaskV2": {
        "allOf": [
          {
            "anyOf": [
              {
                "allOf": [
                  {
                    "title": "Run task with src file url & srcmsk file url & ref file urls & refmsk file urls"
                  },
                  {
                    "$ref": "#/components/schemas/BasicRunTaskV2SrcFileUrl"
                  },
                  {
                    "$ref": "#/components/schemas/2dVtoRunTaskV2SrcmskFileUrl"
                  },
                  {
                    "$ref": "#/components/schemas/2dVtoRunTaskV2RefFileUrls"
                  },
                  {
                    "$ref": "#/components/schemas/2dVtoRunTaskV2RefmskFileUrls"
                  }
                ]
              },
              {
                "allOf": [
                  {
                    "title": "Run task with src file url & srcmsk file url & ref file IDs & refmsk file IDs"
                  },
                  {
                    "$ref": "#/components/schemas/BasicRunTaskV2SrcFileUrl"
                  },
                  {
                    "$ref": "#/components/schemas/2dVtoRunTaskV2SrcmskFileUrl"
                  },
                  {
                    "$ref": "#/components/schemas/2dVtoRunTaskV2RefFileIds"
                  },
                  {
                    "$ref": "#/components/schemas/2dVtoRunTaskV2RefmskFileIds"
                  }
                ]
              },
              {
                "allOf": [
                  {
                    "title": "Run task with src file ID & srcmsk file ID & ref file urls & refmsk file urls"
                  },
                  {
                    "$ref": "#/components/schemas/BasicRunTaskV2SrcFileId"
                  },
                  {
                    "$ref": "#/components/schemas/2dVtoRunTaskV2SrcmskFileId"
                  },
                  {
                    "$ref": "#/components/schemas/2dVtoRunTaskV2RefFileUrls"
                  },
                  {
                    "$ref": "#/components/schemas/2dVtoRunTaskV2RefmskFileUrls"
                  }
                ]
              },
              {
                "allOf": [
                  {
                    "title": "Run task with src file ID & srcmsk file ID & ref file IDs & refmsk file IDs"
                  },
                  {
                    "$ref": "#/components/schemas/BasicRunTaskV2SrcFileId"
                  },
                  {
                    "$ref": "#/components/schemas/2dVtoRunTaskV2SrcmskFileId"
                  },
                  {
                    "$ref": "#/components/schemas/2dVtoRunTaskV2RefFileIds"
                  },
                  {
                    "$ref": "#/components/schemas/2dVtoRunTaskV2RefmskFileIds"
                  }
                ]
              }
            ]
          },
          {
            "$ref": "#/components/schemas/2dVtoRunTaskV2SrcInfo"
          },
          {
            "$ref": "#/components/schemas/2dVtoRunTaskV2ObjInfos"
          }
        ]
      },
      "GenderRunTaskV2": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BasicRunTaskV2WithRequiredRef"
          },
          {
            "type": "object",
            "required": [
              "gender"
            ],
            "properties": {
              "gender": {
                "type": "string",
                "enum": [
                  "female",
                  "male"
                ],
                "description": "Gender of the person in the image.",
                "example": "female"
              }
            }
          }
        ]
      },
      "BasicFaceAttrRespHairFrizziness": {
        "type": "object",
        "properties": {
          "mapping": {
            "type": "number",
            "description": "The key to map of result",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          "term": {
            "type": "string",
            "description": "1-1 map to the \"mapping\"",
            "enum": [
              "Not Frizzy",
              "Slightly Frizzy",
              "Frizzy",
              "Extreme Frizzy"
            ]
          }
        }
      },
      "BasicFaceAttrRespHairType": {
        "type": "object",
        "properties": {
          "mapping": {
            "type": "string",
            "description": "The key to map to a range of result",
            "enum": [
              "1 to 2a",
              "2a to 2b",
              "2b to 2c",
              "2c to 3a",
              "3a to 3b",
              "3b to 3c",
              "3c to 4a",
              "4a to 4b",
              "4b to 4c"
            ]
          },
          "term": {
            "type": "string",
            "description": "1-1 map to the \"mapping\"",
            "enum": [
              "Straight to Slight Wavy",
              "Slight to Medium Wavy",
              "Medium to Thick Wavy",
              "Thick Wavy to Loose Curls",
              "Loose to Medium Curls",
              "Medium to Tight Curls",
              "Tight Curls to Kinky Soft",
              "Kinky Soft to Coily",
              "Coily to Extremely Coily"
            ]
          }
        }
      },
      "BasicFaceAttrReqFaceThreeAngleWithSrcFileUrls": {
        "title": "Run task with 3 angle src file urls",
        "type": "object",
        "required": [
          "src_file_urls"
        ],
        "properties": {
          "src_file_urls": {
            "type": "array",
            "minItems": 3,
            "maxItems": 3,
            "description": "The file URLs from upload file API. The file IDs for the sequence of source images are 'frontFace', 'rightFace', and 'leftFace'. Should provide either 'src_file_urls' or 'src_file_ids'.",
            "example": [
              "https://example.com/selfie.jpg",
              "https://example.com/selfie.jpg",
              "https://example.com/selfie.jpg"
            ],
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BasicFaceAttrReqFaceThreeAngleWithSrcFileIds": {
        "title": "Run task with 3 angle src file IDs",
        "type": "object",
        "required": [
          "src_file_ids"
        ],
        "properties": {
          "src_file_ids": {
            "type": "array",
            "minItems": 3,
            "maxItems": 3,
            "description": "The file IDs from upload file API. The file IDs for the sequence of source images are 'frontFace', 'rightFace', and 'leftFace'. Should provide either 'src_file_urls' or 'src_file_ids'.",
            "example": [
              "pfNK5PuRe0MrwLHcGA3DOmB1ahwfXTbYHjv+KoBIxbE=",
              "pkVzplMv8Y1QPgHbqtKfyJmg+xJDUbTP16YijZ3qARNf",
              "B5LNohvvO+7d/78Ymuhp6vMiSooN/5DX9oVuupzkKctf"
            ],
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BasicFaceAttrReqFaceThreeAngle": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/BasicFaceAttrReqFaceThreeAngleWithSrcFileUrls"
          },
          {
            "$ref": "#/components/schemas/BasicFaceAttrReqFaceThreeAngleWithSrcFileIds"
          }
        ]
      },
      "BasicFaceAttrReqHairLength": {
        "type": "object",
        "properties": {
          "term": {
            "type": "string",
            "description": "The result of hair length prediction",
            "enum": [
              "above the ears",
              "ear length",
              "ear length or longer",
              "short hair",
              "short hair or longer",
              "above chest",
              "above chest or longer",
              "long hair"
            ]
          }
        }
      },
      "BasicHairDensityRespHairDensity": {
        "type": "object",
        "properties": {
          "mapping": {
            "type": "string",
            "description": "float in string format",
            "minimum": "0",
            "maximum": "3",
            "example": "2.16"
          },
          "term": {
            "type": "string",
            "enum": [
              "Extremely Low Density",
              "Low Density",
              "Medium Density",
              "High Density"
            ]
          }
        }
      },
      "NailVtoNailPolishColorBaseEffect": {
        "type": "object",
        "required": [
          "sub_type",
          "finger",
          "color",
          "texture",
          "reflection",
          "contrast",
          "roughness"
        ],
        "properties": {
          "sub_type": {
            "type": "string",
            "enum": [
              "color"
            ]
          },
          "finger": {
            "type": "string",
            "enum": [
              "thumb",
              "index",
              "middle",
              "ring",
              "pinky"
            ]
          },
          "color": {
            "type": "string",
            "pattern": "^#([A-Fa-f0-9]{6})$"
          },
          "texture": {
            "type": "string"
          },
          "reflection": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "contrast": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "roughness": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          }
        }
      },
      "NailVtoNailPolishColorEffect": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NailVtoNailPolishColorBaseEffect"
          },
          {
            "title": "Nail Polish - Color - General",
            "type": "object",
            "required": [
              "transparency"
            ],
            "properties": {
              "texture": {
                "type": "string",
                "enum": [
                  "matte",
                  "cream",
                  "jelly",
                  "sheer"
                ]
              },
              "transparency": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              }
            }
          }
        ]
      },
      "NailVtoNailPolishColorMetallicEffect": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NailVtoNailPolishColorBaseEffect"
          },
          {
            "title": "Nail Polish - Color - Metallic",
            "type": "object",
            "properties": {
              "texture": {
                "type": "string",
                "enum": [
                  "metallic"
                ]
              }
            }
          }
        ]
      },
      "NailVtoNailPolishColorPearlEffect": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NailVtoNailPolishColorBaseEffect"
          },
          {
            "title": "Nail Polish - Color - Pearl",
            "type": "object",
            "required": [
              "shimmer_opacity",
              "transparency"
            ],
            "properties": {
              "texture": {
                "type": "string",
                "enum": [
                  "pearl"
                ]
              },
              "transparency": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "shimmer_opacity": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              }
            }
          }
        ]
      },
      "NailVtoNailPolishColorShimmerEffect": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NailVtoNailPolishColorBaseEffect"
          },
          {
            "title": "Nail Polish - Color - Shimmer",
            "type": "object",
            "required": [
              "shimmer_size",
              "transparency"
            ],
            "properties": {
              "texture": {
                "type": "string",
                "enum": [
                  "shimmer_coarse",
                  "shimmer_fine"
                ]
              },
              "transparency": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "shimmer_size": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              }
            }
          }
        ]
      },
      "NailVtoNailPolishColorTexturedEffect": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NailVtoNailPolishColorBaseEffect"
          },
          {
            "title": "Nail Polish - Color - Textured",
            "type": "object",
            "required": [
              "textured_size",
              "transparency"
            ],
            "properties": {
              "texture": {
                "type": "string",
                "enum": [
                  "textured"
                ]
              },
              "transparency": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "textured_size": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              }
            }
          }
        ]
      },
      "NailVtoNailPolishDesignBaseEffect": {
        "type": "object",
        "required": [
          "sub_type",
          "finger",
          "texture",
          "reflection",
          "contrast",
          "roughness"
        ],
        "properties": {
          "sub_type": {
            "type": "string",
            "enum": [
              "design"
            ]
          },
          "finger": {
            "type": "string",
            "enum": [
              "thumb",
              "index",
              "middle",
              "ring",
              "pinky"
            ]
          },
          "ref_file_url": {
            "type": "string",
            "description": "To achieve the Nail Polish - Design or Press on Nails - Design effect, you need to use a specific design image. You can provide either a direct URL to the image file (ref_file_url) or an index (ref_file_index) that corresponds to 'ref_file_ids' under the root node in your system. You are required to provide either 'ref_file_url' or 'ref_file_index'. However, only one option can be selected at a time."
          },
          "ref_file_index": {
            "type": "integer",
            "description": "If you wish to upload a design image by the File API for a Nail Polish - Design or Press on Nails - Design effect, you should use the File API to upload your image. After uploading, retrieve its file ID and add it to the \\`ref_file_ids\\` array, specifying the index using \\`ref_file_index\\`. Index corresponding to 'ref_file_ids' under the root node"
          },
          "texture": {
            "type": "string"
          },
          "reflection": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "contrast": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "roughness": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          }
        }
      },
      "NailVtoNailPolishDesignEffect": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NailVtoNailPolishDesignBaseEffect"
          },
          {
            "title": "Nail Polish - Design - General",
            "type": "object",
            "required": [
              "transparency"
            ],
            "properties": {
              "texture": {
                "type": "string",
                "enum": [
                  "matte",
                  "cream",
                  "jelly",
                  "sheer"
                ]
              },
              "transparency": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              }
            }
          }
        ]
      },
      "NailVtoNailPolishDesignMetallicEffect": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NailVtoNailPolishDesignBaseEffect"
          },
          {
            "title": "Nail Polish - Design - Metallic",
            "type": "object",
            "properties": {
              "texture": {
                "type": "string",
                "enum": [
                  "metallic"
                ]
              }
            }
          }
        ]
      },
      "NailVtoNailPolishDesignPearlEffect": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NailVtoNailPolishDesignBaseEffect"
          },
          {
            "title": "Nail Polish - Design - Pearl",
            "type": "object",
            "required": [
              "shimmer_opacity",
              "transparency"
            ],
            "properties": {
              "texture": {
                "type": "string",
                "enum": [
                  "pearl"
                ]
              },
              "shimmer_opacity": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "transparency": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              }
            }
          }
        ]
      },
      "NailVtoNailPolishDesignShimmerEffect": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NailVtoNailPolishDesignBaseEffect"
          },
          {
            "title": "Nail Polish - Design - Shimmer",
            "type": "object",
            "required": [
              "shimmer_size",
              "transparency"
            ],
            "properties": {
              "texture": {
                "type": "string",
                "enum": [
                  "shimmer_coarse",
                  "shimmer_fine"
                ]
              },
              "shimmer_size": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "transparency": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              }
            }
          }
        ]
      },
      "NailVtoNailPolishDesignTexturedEffect": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NailVtoNailPolishDesignBaseEffect"
          },
          {
            "title": "Nail Polish - Design - Textured",
            "type": "object",
            "required": [
              "textured_size",
              "transparency"
            ],
            "properties": {
              "texture": {
                "type": "string",
                "enum": [
                  "textured"
                ]
              },
              "textured_size": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "transparency": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              }
            }
          }
        ]
      },
      "NailVtoPressOnNailsColorEffect": {
        "title": "Press On Nails - Color",
        "type": "object",
        "required": [
          "sub_type",
          "finger",
          "shape",
          "length",
          "color",
          "texture",
          "reflection",
          "contrast",
          "roughness"
        ],
        "properties": {
          "sub_type": {
            "type": "string",
            "enum": [
              "color"
            ]
          },
          "finger": {
            "type": "string",
            "enum": [
              "thumb",
              "index",
              "middle",
              "ring",
              "pinky"
            ]
          },
          "shape": {
            "type": "string",
            "enum": [
              "square_oval",
              "square_square",
              "square_squoval",
              "squoval_oval",
              "squoval_square",
              "squoval_squoval",
              "oval_oval",
              "oval_square",
              "oval_squoval",
              "almond_oval",
              "almond_square",
              "almond_squoval",
              "stiletto_oval",
              "stiletto_square",
              "stiletto_squoval"
            ]
          },
          "length": {
            "type": "number",
            "minimum": 0.8,
            "maximum": 2.15
          },
          "color": {
            "type": "string",
            "pattern": "^#([A-Fa-f0-9]{6})$"
          },
          "texture": {
            "type": "string",
            "enum": [
              "matte",
              "cream",
              "metallic"
            ]
          },
          "reflection": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "contrast": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "roughness": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          }
        }
      },
      "NailVtoPressOnNailsDesignEffect": {
        "title": "Press on Nails - Design",
        "type": "object",
        "required": [
          "sub_type",
          "finger",
          "texture",
          "reflection",
          "contrast",
          "roughness"
        ],
        "properties": {
          "sub_type": {
            "type": "string",
            "enum": [
              "design"
            ]
          },
          "finger": {
            "type": "string",
            "enum": [
              "thumb",
              "index",
              "middle",
              "ring",
              "pinky"
            ]
          },
          "ref_file_url": {
            "type": "string",
            "description": "Either 'ref_file_id' or 'ref_file_url' must be filled, but only one can be selected."
          },
          "ref_file_index": {
            "type": "integer",
            "description": "This field is optional unless uploading is selected. Index corresponding to 'ref_file_ids' under the root node"
          },
          "texture": {
            "type": "string",
            "enum": [
              "matte",
              "cream",
              "metallic"
            ]
          },
          "reflection": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "contrast": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "roughness": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          }
        }
      },
      "SkinSmoothEffect": {
        "type": "object",
        "description": "Controls the AI-generated smoothing applied to the skin. If no skin_smooth effect is provided, the system will automatically apply a smoothing strength of 50 for realistic blending.\n",
        "required": [
          "category"
        ],
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "skin_smooth"
            ],
            "description": "Identifies this effect as a skin smoothing effect. Must always be \"skin_smooth\".\n"
          },
          "skinSmoothStrength": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "default": 50,
            "description": "Strength of smoothing applied to overall skin texture. Higher values result in softer, more airbrushed skin appearance.\n"
          },
          "skinSmoothColorIntensity": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "default": 50,
            "description": "Intensity of color blending applied during smoothing. Helps unify skin tones and reduce color inconsistency.\n"
          }
        }
      },
      "BlushEffect": {
        "type": "object",
        "description": "Applies blush to the cheeks using predefined patterns and customizable color palettes. Pattern names must correspond to labels from the official blush.json pattern catalog.\n",
        "required": [
          "category",
          "pattern",
          "palettes"
        ],
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "blush"
            ],
            "description": "Identifies this effect as a blush effect. Must always be \"blush\".\n"
          },
          "pattern": {
            "type": "object",
            "description": "Defines how the blush is placed on the face. Each pattern corresponds to a face shape and layout from blush.json.\n",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the blush pattern. Must be equal to a \\`label\\` from the blush.json pattern catalog.\n"
              }
            }
          },
          "palettes": {
            "type": "array",
            "minItems": 1,
            "description": "List of color palette entries. The number of palettes required depends on the \\`colorNum\\` field defined in the selected blush pattern.\n",
            "items": {
              "type": "object",
              "required": [
                "color",
                "texture",
                "colorIntensity"
              ],
              "properties": {
                "color": {
                  "type": "string",
                  "description": "Primary blush color in hex format (#RRGGBB). Used as the dominant pigment for the blush application.\n",
                  "pattern": "^#?[0-9A-Fa-f]{6}$"
                },
                "texture": {
                  "type": "string",
                  "enum": [
                    "matte",
                    "satin",
                    "shimmer"
                  ],
                  "description": "Texture of the blush:\n  - matte: pure pigment, no shine\n  - satin: soft glow, requires glowStrength\n  - shimmer: sparkly or luminous, requires shimmer parameters\n"
                },
                "glowStrength": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Glow intensity for satin blush textures. Required when texture = \"satin\" or \"shimmer\".\n"
                },
                "shimmerColor": {
                  "type": "string",
                  "description": "Color of shimmer particles. Required when texture = \"shimmer\".\n"
                },
                "shimmerDensity": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Density of shimmer particles in the blush application. Required when texture = \"shimmer\".\n"
                },
                "colorIntensity": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Strength of the blush color relative to the base pigment.\n"
                }
              }
            }
          }
        }
      },
      "BronzerEffect": {
        "type": "object",
        "description": "Applies bronzer to warm up skin tone and add sun-kissed contours. Pattern names must match bronzer.json entries.\n",
        "required": [
          "category",
          "pattern",
          "palettes"
        ],
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "bronzer"
            ],
            "description": "Identifies this effect as a bronzer effect. Must always be \"bronzer\".\n"
          },
          "pattern": {
            "type": "object",
            "required": [
              "name"
            ],
            "description": "Defines the bronzer application layout. Pattern name must match a \\`label\\` in bronzer.json.\n",
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the bronzer pattern from the bronzer.json catalog.\n"
              }
            }
          },
          "palettes": {
            "type": "array",
            "description": "The bronzer palette contains pigment color and intensity controls.\n",
            "items": {
              "type": "object",
              "required": [
                "color",
                "colorIntensity"
              ],
              "properties": {
                "color": {
                  "type": "string",
                  "description": "Bronzer color in hex format (#RRGGBB).\n"
                },
                "colorIntensity": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Intensity of bronzer pigmentation.\n"
                }
              }
            }
          }
        }
      },
      "ConcealerEffect": {
        "type": "object",
        "description": "Adds concealer for neutralizing blemishes, evening skin tone, and brightening under-eye regions. Concealer does not use a pattern — only pigment and intensity controls. All palette fields are required to ensure consistent behavior across face zones.\n",
        "required": [
          "category",
          "palettes"
        ],
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "concealer"
            ],
            "description": "Identifies this effect as a concealer effect. Must always be \"concealer\".\n"
          },
          "palettes": {
            "type": "array",
            "minItems": 1,
            "description": "One or more concealer palettes defining color and intensity properties. The same palette is applied to relevant facial areas, such as under-eye, forehead, and chin correction zones.\n",
            "items": {
              "type": "object",
              "required": [
                "color",
                "colorIntensity",
                "colorUnderEyeIntensity",
                "coverageLevel"
              ],
              "properties": {
                "color": {
                  "type": "string",
                  "description": "Concealer shade in hex RGB format (#RRGGBB). Should typically match or slightly brighten the skin tone.\n"
                },
                "colorIntensity": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "General concealer pigmentation strength applied across the face.\n"
                },
                "colorUnderEyeIntensity": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Specific pigmentation control for the under-eye region. Helps brighten dark circles without over-applying to other zones.\n"
                },
                "coverageLevel": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Determines opacity of concealer coverage. Higher values hide more discoloration or blemishes.\n"
                }
              }
            }
          }
        }
      },
      "ContourEffect": {
        "type": "object",
        "description": "Defines contouring for facial sculpting using patterns tailored to specific face shapes. Contour patterns determine highlight/shadow placement, while palettes control the contour shade.\n",
        "required": [
          "category",
          "pattern",
          "palettes"
        ],
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "contour"
            ],
            "description": "Identifies this effect as a contour effect. Must always be \"contour\".\n"
          },
          "pattern": {
            "type": "object",
            "required": [
              "name"
            ],
            "description": "Defines where contour shadowing is applied on the face. Must use a pattern name defined in contour.json (e.g., HeartFace2, OvalFace6).\n",
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the contour pattern. Must be equal to a \\`label\\` from contour.json.\n"
              }
            }
          },
          "palettes": {
            "type": "array",
            "minItems": 1,
            "description": "Defines the pigment used for contouring. Usually a cool-tone or neutral shade darker than foundation.\n",
            "items": {
              "type": "object",
              "required": [
                "color",
                "colorIntensity"
              ],
              "properties": {
                "color": {
                  "type": "string",
                  "description": "Contour pigment color in #RRGGBB hex format.\n"
                },
                "colorIntensity": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Strength of contour pigmentation. Higher values result in deeper shadows.\n"
                }
              }
            }
          }
        }
      },
      "EyebrowsEffect": {
        "type": "object",
        "description": "Shapes and colors the eyebrows using customizable geometry and color palettes. When \\`pattern.type = shape\\`, the pattern defines the brow geometry (arch, curvature, thickness). When \\`pattern.type = color\\`, only pigment changes are applied.\n",
        "required": [
          "category",
          "pattern",
          "palettes"
        ],
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "eyebrows"
            ],
            "description": "Identifies this effect as an eyebrow styling effect. Must always be \"eyebrows\".\n"
          },
          "pattern": {
            "type": "object",
            "description": "This setting defines the eyebrow pattern mode, which can either adjust the shape or apply color only. Pattern names must match the labels in eyebrows.json when required.\n",
            "required": [
              "type"
            ],
            "oneOf": [
              {
                "title": "ShapePattern",
                "description": "Shape-based eyebrow styling (geometry + optional color).",
                "required": [
                  "name"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "shape"
                    ],
                    "description": "Use customized eyebrow pattern shape"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the eyebrow shape pattern. Must match a \\`label\\` from eyebrows.json.\n"
                  },
                  "curvature": {
                    "type": "integer",
                    "minimum": -100,
                    "maximum": 100,
                    "description": "Adjusts how curved the brow is. Negative = flatter / straighter, positive = more curved.\n"
                  },
                  "thickness": {
                    "type": "integer",
                    "minimum": -100,
                    "maximum": 100,
                    "description": "Controls eyebrow thickness adjustment relative to the detected brow. Positive = thicker, negative = thinner.\n"
                  },
                  "definition": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100,
                    "description": "Sharpness and clarity of the brows. Higher values increase brow edge definition for a cleaner look.\n"
                  }
                }
              },
              {
                "title": "ColorPattern",
                "description": "Color-only eyebrow styling (no geometry change).",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "color"
                    ],
                    "description": "Use user's original eyebrow shape"
                  }
                }
              }
            ]
          },
          "palettes": {
            "type": "array",
            "minItems": 1,
            "description": "Eyebrow color palettes. Each palette controls pigment and optional shimmer effects (for shimmer textures only).\n",
            "items": {
              "type": "object",
              "required": [
                "color",
                "colorIntensity",
                "texture"
              ],
              "properties": {
                "color": {
                  "type": "string",
                  "description": "Eyebrow pigment color in #RRGGBB format.\n"
                },
                "colorIntensity": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Pigmentation strength used when applying eyebrow color.\n"
                },
                "texture": {
                  "type": "string",
                  "enum": [
                    "matte",
                    "shimmer"
                  ],
                  "description": "Brow pigment texture style. Shimmer adds reflective highlights to brow hairs.\n"
                },
                "shimmerColor": {
                  "type": "string",
                  "description": "Shimmer color applied when texture = shimmer.\n"
                },
                "shimmerIntensity": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Strength of shimmer glow. Required only if texture = shimmer.\n"
                },
                "shimmerSize": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Size of shimmer particles. Required for shimmer textures.\n"
                },
                "shimmerDensity": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Density of shimmer particles in the brow. Required for shimmer textures.\n"
                }
              }
            }
          }
        }
      },
      "EyelinerEffect": {
        "type": "object",
        "description": "Applies eyeliner using customizable patterns and pigment settings. Patterns define the eyeliner layout (e.g., Arabic shapes, winged styles), while palettes specify color, texture, shimmer/metallic effects, and intensity.\n",
        "required": [
          "category",
          "pattern",
          "palettes"
        ],
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "eye_liner"
            ],
            "description": "Identifies this effect as an eyeliner effect. Must always be \"eye_liner\".\n"
          },
          "pattern": {
            "type": "object",
            "required": [
              "name"
            ],
            "description": "Defines the eyeliner shape and placement. Pattern names must match labels from eyeliner.json.\n",
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the eyeliner pattern. Must be equal to a label from eyeliner.json.\n"
              }
            }
          },
          "palettes": {
            "type": "array",
            "minItems": 1,
            "description": "Eyeliner color palette entries. Each palette controls pigment color, shimmer/metallic effects, and overall intensity. More palettes are used when the selected eyeliner pattern requires multiple colors.\n",
            "items": {
              "type": "object",
              "required": [
                "color",
                "texture",
                "colorIntensity"
              ],
              "properties": {
                "color": {
                  "type": "string",
                  "description": "Eyeliner pigment color in #RRGGBB format.\n"
                },
                "texture": {
                  "type": "string",
                  "enum": [
                    "matte",
                    "shimmer",
                    "metallic"
                  ],
                  "description": "Eyeliner texture finish specifies the look of the liner, whether it's matte for a flat opaque effect, shimmer for a sparkling reflective finish (with shimmer fields), or metallic for a glossy metallic sheen (requiring shimmer fields and metallic intensity).\n"
                },
                "shimmerColor": {
                  "type": "string",
                  "description": "Color used for shimmer or metallic reflective particles. Required if texture is shimmer or metallic.\n"
                },
                "shimmerIntensity": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Strength of reflective sparkle. Required when texture is shimmer or metallic.\n"
                },
                "metallicIntensity": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Metallic reflectivity level. Required when texture = metallic.\n"
                },
                "colorIntensity": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Pigmentation strength for the eyeliner color.\n"
                }
              }
            }
          }
        }
      },
      "EyeshadowEffect": {
        "type": "object",
        "description": "Applies eyeshadow with customizable multi-color palettes and textures. Eyeshadow patterns define layout (e.g., 1 to 5 colors), while palettes specify pigmentation and shimmer/metallic properties.\n",
        "required": [
          "category",
          "pattern",
          "palettes"
        ],
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "eye_shadow"
            ],
            "description": "Identifies this effect as an eyeshadow effect. Must always be \"eye_shadow\".\n"
          },
          "pattern": {
            "type": "object",
            "required": [
              "name"
            ],
            "description": "Defines the eyeshadow placement pattern. Must match a \\`label\\` in eyeshadow.json (e.g., 1color1, 2colors1, etc.).\n",
            "properties": {
              "name": {
                "type": "string",
                "description": "Pattern name from eyeshadow.json determining number of colors and shadow placement zones.\n"
              }
            }
          },
          "palettes": {
            "type": "array",
            "minItems": 1,
            "description": "One or more pigment palette entries. The number of palettes required depends on the pattern's \\`colorNum\\`. Each palette defines a specific layer/color in the eyeshadow pattern.\n",
            "items": {
              "type": "object",
              "required": [
                "color",
                "texture",
                "colorIntensity"
              ],
              "properties": {
                "color": {
                  "type": "string",
                  "description": "Eyeshadow pigment color in HEX format (#RRGGBB).\n"
                },
                "texture": {
                  "type": "string",
                  "enum": [
                    "matte",
                    "shimmer",
                    "metallic"
                  ],
                  "description": "Eyeshadow surface appearance determines whether the finish is matte for a smooth flat look, shimmer for a sparkling effect (requiring shimmer parameters), or metallic for a bold metallic sheen (requiring shimmer parameters and metallic intensity).\n"
                },
                "shimmerColor": {
                  "type": "string",
                  "description": "Color of shimmer particles. Required if texture = shimmer or metallic.\n"
                },
                "shimmerIntensity": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Reflective sparkle strength for shimmer or metallic textures.\n"
                },
                "metallicIntensity": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Metallic reflectivity level; required for metallic textures.\n"
                },
                "colorIntensity": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Overall pigmentation level of each shadow color.\n"
                }
              }
            }
          }
        }
      },
      "EyelashesEffect": {
        "type": "object",
        "description": "Enhances eyelashes by applying pigment to detected lash strands. Lash extensions or density enhancements depend on the selected pattern, while the palette controls lash color and intensity.\n",
        "required": [
          "category",
          "pattern",
          "palettes"
        ],
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "eyelashes"
            ],
            "description": "Identifies this effect as an eyelashes effect. Must always be \"eyelashes\".\n"
          },
          "pattern": {
            "type": "object",
            "required": [
              "name"
            ],
            "description": "Defines which eyelash style is applied (natural, artistic, winged, upper/lower, etc.). Must match a \\`label\\` from eyelashes.json.\n",
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the eyelash pattern from eyelashes.json.\n"
              }
            }
          },
          "palettes": {
            "type": "array",
            "minItems": 1,
            "description": "Eyelash color palettes. Eyelashes do not support shimmer/metallic effects — only color and intensity.\n",
            "items": {
              "type": "object",
              "required": [
                "color",
                "colorIntensity"
              ],
              "properties": {
                "color": {
                  "type": "string",
                  "description": "Eyelash color in HEX format (#RRGGBB).\n"
                },
                "colorIntensity": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Darkness/pigment strength applied to the lashes.\n"
                }
              }
            }
          }
        }
      },
      "FoundationEffect": {
        "type": "object",
        "description": "Applies foundation to even skin tone using pigment, coverage, and glow controls. Unlike blush/contour, foundation has no pattern — it is applied globally based on skin segmentation.\n",
        "required": [
          "category",
          "palettes"
        ],
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "foundation"
            ],
            "description": "Identifies this effect as a foundation effect. Must always be \"foundation\".\n"
          },
          "palettes": {
            "type": "array",
            "minItems": 1,
            "description": "Foundation palette entries controlling tone, coverage, glow, and color intensity.\n",
            "items": {
              "type": "object",
              "required": [
                "color",
                "colorIntensity",
                "glowIntensity",
                "coverageIntensity"
              ],
              "properties": {
                "color": {
                  "type": "string",
                  "description": "Foundation shade in #RRGGBB format. Typically close to natural skin tone.\n"
                },
                "colorIntensity": {
[...]
